
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" id="header">
    <div class="d-flex navbar-wrapper desktop-view">
        <div class="header-title text-center ml-3">
            <a class="navbar-brand" href="#">
                <img src="~/Content/Images/temp_logo_transparent.png" alt="Alternate Text" style="width:35%; margin-right:5px" />
                <span class="full-text" style="font-size: larger">Inventory Management System</span>
                <span class="mini-text">IMS</span>
            </a>
        </div>
        <!--FOR WEB-->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="mr-auto">
                @*<button type="button" id="sidebarCollapse" class="btn text-white shadow-none">
                        <i class="lnr lnr-cross"></i>
                    </button>*@
            </div>
            <div class="ml-auto">
                <span class="text-white" style="position: absolute; top: 2px; right: 10px; font-size: 85%">MCBI-Inventory Series @DateTime.Now.Year</span>
            </div>
        </div>
    </div>

</nav>