
@{
    ViewBag.Title = "_LayoutInvMainPage";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper">
        <div class="header" style="background: #1F2A3A;">HEADER</div>
        <div class="left-sidebar" style="background: #1F2A3A;">LEFT SIDEBAR</div>
        <div class="content" style="background: #E1E2E2">@RenderBody()</div>
        <div class="right-sidebar" style="background: #E1E2E2">RIGHT SIDEBAR</div>
        <div class="footer" style="background: #E1E2E2">FOOTER</div>
    </div>


</body>
</html>


