
@{
    ViewBag.Title = "User Account Page";
}

@section Styles{

    <link href="~/Content/accountIndex.css" rel="stylesheet" />

}

<div class="user__page__wrapper">
    <div class="page__header">
        <div class="title">
            <h1>User List</h1>
        </div>
        <div class="header__button">
            <button class="new__entry open__modal" id="openModal" type="button" >New User</button>
            <!--<button class="clear__entry" type="button">Clear</button
    <button class="edit__entry" type="button">Edit</button>>
            <button class="ellipsis__btn" type="button">NEW USER</button>-->
        </div>
    </div>

    <div class="page__body">
        <table class="user__list__table">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Username</td>
                    <td>Employee</td>
                    <td>Role</td>
                    <td>Level</td>
                    <td>Active</td>
                    <td></td>
                </tr>
            </thead>
            <tbody class="usertablebody">
                <tr class="userlistclone" style="display:none;">
                    <td class="row_no">1</td>
                    <td class="row_username">admin</td>
                    <td class="row_fullname">Jose de Eagle</td>
                    <td class="row_rolename">Admin</td>
                    <td class="row_level">Default Level (Level 0)</td>
                    <td>
                        <select class="row_isActive">
                            <option>YES</option>
                            <option>NO</option>
                        </select>
                    </td>
                    <td><button onclick="ViewEditUser(event)" class="row_UserID">/...</button></td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <button onclick="SaveUserToggleActives()">SAVE (ACTIVES ONLY)</button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<!-- User Modal -->
<div class="user-modal" id="userModal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <div >
            <div >
                <div >
                    <style>
                        .user_table td {
                            vertical-align: text-top;
                        }
                    </style>
                    <table class="user_table" >
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <h1 class="modal_title">CREATE OR UPDATE USER</h1>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <label>Username : </label>
                                </td>
                                <td>
                                    <input class="user_username" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Password : </label>
                                </td>
                                <td>  <input class="user_password" type="password" /></td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Mobile No. : </label>
                                </td>
                                <td>
                                    <input class="user_mobileno" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Employee : </label>
                                </td>
                                <td>
                                    <div class="autocomplete">
                                        <input class="user_info" data-id="0" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Role : </label>
                                </td>
                                <td>
                                    <div class="autocomplete">
                                        <input class="user_role" data-id="0" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Level : </label>
                                </td>
                                <td>
                                    <div class="autocomplete">
                                        <input class="user_level" data-id="0" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label>Active : </label>
                                </td>
                                <td>
                                    <select class="user_active">
                                        <option selected> YES </option>
                                        <option>NO</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td  style="vertical-align:text-top;">
                                    <label>isCustom : </label>
                                </td>
                                <td>
                                    <select class="user_custom" onchange="ToggleActive(event)" onclick="event.stopPropagation();">
                                        <option value="YES" > YES </option>
                                        <option value="NO" selected>NO</option>
                                    </select>
                                    <br/>
                                    <table class="user_roleaccess">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Control Name
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>SAMPLE</td>
                                                <td>
                                                    <input type="checkbox" /> INSERT<br />
                                                    <input type="checkbox" /> UPDATE <br />
                                                    <input type="checkbox" /> DELETE <br />
                                                    <input type="checkbox" /> SELECT <br />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button onclick="SavingUser()">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    

<script>

    function SaveUserToggleActives() {

        let sat = '';
        var row_isActive = document.getElementsByClassName('row_isActive');
        for (var i = 0; i < row_isActive.length; i++) {
            if (row_isActive[i].value == 'YES') {
                if (row_isActive[i].getAttribute('data-id') != null) {
                    if (sat != '')
                        sat += ',';
                    sat += row_isActive[i].getAttribute('data-id');
                }
            }
        }

        JsonRequest('http://192.168.1.100:98/api/User/ToggleActives', 'POST', sat, data => {


            console.log(data);
            alert(data.Message);
        }, true, true);
    }

    /*USER LEVEL*/
    JsonRequest('http://192.168.1.100:98/api/RefLevel', 'GET', null, data => {
        autocomplete(document.getElementsByClassName('user_level')[0], data, true, 'ID', 'Level');
    }, true, true);

    /*USER ROLE */
    JsonRequest('http://192.168.1.100:98/api/RefRolesList', 'GET', null, data => {
        console.log(data);
        autocomplete(document.getElementsByClassName('user_role')[0], data, true, 'ID', 'RoleName');
    }, true, true);
    /*Employee Info */
    JsonRequest('http://192.168.1.100:92/api/PersonInformation', 'GET', null, data => {
        for (var i = 0; i < data.length; i++) {

            data[i].FullName = data[i].FirstName + ' ' + data[i].MiddleName + ' ' + data[i].LastName;

        }
        autocomplete(document.getElementsByClassName('user_info')[0], data, true, 'ID', 'FullName');
    }, true, true);



    var userModal = document.getElementById('userModal');
    var addBtn = document.getElementsByClassName('open__modal')[0];
    addBtn.onclick = function () {
        userModal.querySelector('.modal_title').innerHTML = "Add User";
        userModal.style.display = "block";
        document.getElementsByClassName('user_table')[0].setAttribute('data-id', 0);
    }

    document.getElementById('closeModal').onclick = function () {
        userModal.style.display = "none";
    }

    window.onclick = function (event) {
        console.log(event.target);
    }


    function ViewEditUser(event) {

        userModal.querySelector('.modal_title').innerHTML = "Edit User";
        var data = event.target.data;

        userModal.style.display = "block";
        document.getElementsByClassName('user_table')[0].setAttribute('data-id', data.ID);

        console.log(JSON.stringify(data));
        //FILL DATA
        userModal.querySelector('.user_username').value = data.Username;
        userModal.querySelector('.user_password').value = "";
        userModal.querySelector('.user_mobileno').value = data.mobileNo;

        userModal.querySelector('.user_info').value = data.TokenInfo.FullName;
        userModal.querySelector('.user_info').setAttribute('data-id', data.TokenInfo.EmpID);

        userModal.querySelector('.user_role').value = data.TokenInfo.RoleInfo;
        userModal.querySelector('.user_role').setAttribute('data-id', data.TokenInfo.RoleID);

        userModal.querySelector('.user_level').value = data.TokenInfo.LevelInfo;
        userModal.querySelector('.user_level').setAttribute('data-id', data.TokenInfo.LevelID);

        userModal.querySelector('.user_active').value = data.TokenInfo.isActive ? "YES" : "NO";
        
        userModal.querySelector('.user_custom').value = data.TokenInfo.isCustom ? "YES" : "NO";
    }


    function SavingUser() {
        var userInfo = document.getElementsByClassName('user_table');
        var getID = userInfo[0].getAttribute('data-id');

        var username = document.getElementsByClassName('user_username')[0].value;
        var userpass = document.getElementsByClassName('user_password')[0].value;
        var mobileno = document.getElementsByClassName('user_mobileno')[0].value;
        var userinfo = document.getElementsByClassName('user_info')[0].getAttribute('data-id');
        var userrole = document.getElementsByClassName('user_role')[0].getAttribute('data-id');
        var userlevel = document.getElementsByClassName('user_level')[0].getAttribute('data-id');
        var useractive = document.getElementsByClassName('user_active')[0].value == 'YES' ? true : false;
        var iscustom = document.getElementsByClassName('user_custom')[0].value == 'YES' ? true : false;

        var jsonData = {
            ID: getID,
            Username: username,
            Password: userpass,
            MobileNo: mobileno,
            TokenInfo: {
                EmpID: userinfo,
                RoleID: userrole,
                LevelID: userlevel,
                isActive: useractive,
                isCustom: iscustom,
                Customized: ""
            }
        };

        console.log(JSON.stringify(jsonData));


        var method = (getID == 0 ? 'POST' : 'PUT');

        var url = 'http://192.168.1.100:98/api/user';
        if (method == 'PUT') {
            url += ('/' + getID);
        }
        /*REQUESTING HERE*/
        JsonRequest(url, method, jsonData, res => {
            console.log(res);
            alert(res.Message);
        }, true, true);
    }

    function ToggleActive(event) {

        var b = event.target.value;
        //if (b == 'YES') {}
        console.log(b);
        event.stopPropagation();
        //var user_roleaccess = document.getElementsByClassName('user_roleaccess')[0];
        //user_roleaccess.style.display = (b == 'YES' ? '' : 'none');
    }

    //*Making a userlist*/
    JsonRequest('http://124.105.198.3:98/api/user', 'GET', null, data => {
        //console.log(data);
        var userlistclone = document.getElementsByClassName('userlistclone')[0];
        for (var i = 0; i < data.length; i++) {

            var el = document.createElement('TR');
            el.className = "userlist_row";
            el.innerHTML = userlistclone.innerHTML;
            el.querySelector('.row_username').innerHTML = data[i].Username;
            el.querySelector('.row_isActive').value = data[i].TokenInfo.isActive ? 'YES' : 'NO';
            el.querySelector('.row_no').innerHTML = (i + 1);
            el.querySelector('.row_UserID').setAttribute('data-id', data[i].ID);
            el.querySelector('.row_UserID').data = data[i];
            el.querySelector('.row_isActive').setAttribute('data-id', data[i].ID);
            el.querySelector('.row_fullname').innerHTML = data[i].TokenInfo.FullName;
            el.querySelector('.row_rolename').innerHTML = data[i].TokenInfo.RoleInfo;

            //row_level
            el.querySelector('.row_level').innerHTML = data[i].TokenInfo.LevelInfo;
            document.getElementsByClassName('usertablebody')[0].append(el);
        }


    }, true, true);

</script>    
    
}