@{
    ViewBag.Title = "Login Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-wrapper">
        <div class="header">
            <div class="logo" style="">
                <img src="~/Content/Images/MCBILogo_White.png" alt="Alternate Text" />
            </div>
            <div class="text">
                <h1>Welcome to MCBI Inventory System</h1>
            </div>
        </div>
        <div class="content">
            <div class="first-col"></div>
            <div class="second-col">
                <fieldset class="scheduler-border" style="padding-top: 40px !important; border-radius: 5px;">
                    <legend class="scheduler-border">LOGIN</legend>
                    <div class="custom-form-group login-input">
                        <div style="display:flex">
                            <label style="width:150px">Username:</label>
                            <input type="text" name="Username" value="" />
                        </div>
                    </div>
                    <div class="custom-form-group login-input">
                        <div style="display:flex">
                            <label style="width: 150px">Password:</label>
                            <input type="password" name="Password" value="" />
                        </div>
                    </div>
                    <div class="custom-form-group" id="otp" style="display:none">
                        <div style="display:flex">
                            <label style="width: 150px">OTP:</label>
                            <input type="text" name="OTP" value="" />
                        </div>
                    </div>
                    <div class="custom-form-group login-action-container">
                        <button type="button" id="login_btn" class="custom-btn custom-save-btn login-btn">Login</button>
                    </div>
                </fieldset>
            </div>
            <div class="third-col"></div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script>
        $('#login_btn').click(function (e) {

            $('#otp').show();

            $('.login-input').find('input').attr('disabled', true);

        });
    </script>
</body>
</html>


