@{
    ViewBag.Title = "Login Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-wrapper">
        <div class="header">
            <div class="logo" style="">
                <img src="~/Content/Images/MCBILogo_White.png" alt="Alternate Text" />
            </div>
            <div class="text">
                <h1>Welcome to MCBI Inventory System</h1>
            </div>
        </div>
        <div class="content">
            <div class="first-col"></div>
            <div class="second-col">
                <fieldset class="scheduler-border login-container">
                    <legend class="scheduler-border">LOGIN</legend>
                    <form action="#" method="post" id="loginForm" autocomplete="off">
                        <div class="custom-form-group login-input">
                            <div style="display:flex">
                                <label style="width:150px">Username:</label>
                                <input type="text" name="Username" class="" value="" />
                            </div>
                        </div>
                        <div class="custom-form-group login-input">
                            <div style="display:flex">
                                <label style="width: 150px">Password:</label>
                                <input type="password" name="Password" class="" value="" />
                            </div>
                        </div>
                        <div class="custom-form-group" id="otp" style="display:none">
                            <div style="display:flex">
                                <label style="width: 150px">OTP:</label>
                                <input type="text" name="OTP" class="" value="" />
                            </div>
                        </div>
                        <div class="custom-form-group login-action-container">
                            <button type="submit" id="login_btn" class="custom-btn custom-save-btn login-btn">Login</button>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="third-col"></div>
        </div>
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>

    <script>
        $('#loginForm').on('submit', function (e) {

            e.preventDefault();

            var loginData = {
                Username: $(this).find('input[name=Username]').val(),
                Password: $(this).find('input[name=Password]').val()
            };

            //console.log(loginData);

            $.ajax({
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json"
                },
                type: 'POST',
                url: 'http://192.168.1.100:98/api/user/login',
                data: JSON.stringify(loginData),
                dataType: 'json',
                success: function (response) {

                    //console.log(response);

                    if (response.ID > 0) {
                        console.log(response.TokenInfo[0]);

                        $.cookie("Token", response.TokenInfo[0].Token);
                        $.cookie("UserID", response.TokenInfo[0].UserID);
                    }
                }
            });

            //$('#otp').show();

            //$('.login-input').find('input').attr('disabled', true);

        });
    </script>
</body>
</html>


