@{
    ViewBag.Title = "Login Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-wrapper">
        <div class="header">
            <div class="logo" style="">
                <img src="~/Content/Images/MCBILogo_White.png" alt="Alternate Text" />
            </div>
            <div class="text">
                <h1>Welcome to MCBI Inventory System</h1>
            </div>
        </div>
        <div class="content">
            <div class="first-col"></div>
            <div class="second-col">
                <fieldset class="scheduler-border login-container">
                    <legend class="scheduler-border">LOGIN</legend>
                    <form action="#" method="post" id="loginForm" autocomplete="off">
                        <div class="custom-form-group login-input">
                            <div style="display:flex">
                                <label style="width:150px">Username:</label>
                                <input type="text" name="Username" class="" required />
                            </div>
                        </div>
                        <div class="custom-form-group login-input">
                            <div style="display:flex">
                                <label style="width: 150px">Password:</label>
                                <input type="password" name="Password" class="" required />
                            </div>
                        </div>
                        <div class="custom-form-group" id="otp" style="display:none">
                            <div style="display:flex">
                                <label style="width: 150px">OTP:</label>
                                <input type="text" name="OTP" class="" value="" />
                            </div>
                        </div>
                        <div class="custom-form-group login-action-container">
                            <button type="submit" id="login_btn" class="custom-btn custom-save-btn login-btn">Login</button>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="third-col"></div>
        </div>
    </div>

    <script src="~/Scripts/main.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>

    <script>
        var loginForm = document.getElementById("loginForm");

        loginForm.onsubmit = function (event) {
            event.preventDefault();

            var loginBtn = document.getElementById("login_btn");

            if (loginBtn.textContent === "Login") {

                var loginData = {
                    Username: document.getElementsByName("Username")[0].value,
                    Password: document.getElementsByName("Password")[0].value
                };

                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Login/user/login', true);
                xhr.setRequestHeader('Content-type', 'application/json;charset=utf-8');
                xhr.onload = function () {
                    // do something to response
                    console.log(this.responseText);
                };
                xhr.send(JSON.stringify(loginData));
            }
            else {

            }

        };
    </script>

    @*
            <script>
                $('#loginForm').on('submit', function (e) {

                    e.preventDefault();

                    var $this = $(this);

                    if ($this.find('button').text() === 'Login') {

                        var loginData = {
                            Username: $(this).find('input[name=Username]').val(),
                            Password: $(this).find('input[name=Password]').val()
                        };

                        $.ajax({
                            headers: {
                                Accept: "application/json",
                                "Content-Type": "application/json"
                            },
                            type: 'POST',
                            url: '/Login/user/login',
                            data: JSON.stringify(loginData),
                            dataType: 'json',
                            success: function (response) {

                                console.log(response);

                                if (response.ID > 0) {
                                    console.log(response.TokenInfo[0]);
                                    console.log(response);

                                    $.cookie("Token", response.TokenInfo[0].Token, { path: "/" });
                                    $.cookie("UserID", response.TokenInfo[0].UserID, { path: "/" });

                                    window.location = "@Url.Action("Index", "Inventory")";
                                    //$('#otp').show();

                                    //$('.login-input').find('input').attr('disabled', true);

                                    //$this.find('#login_btn').text("Verify");

                                }
                                else {
                                    swal.fire('Error', 'Login Failed', 'error');
                                }
                            }
                        });
                    }
                    else {
                        console.log("Verify");
                        var url = 'http://124.105.198.3:98/api/User/VerifyCode/' + $(this).find('input[name=OTP]').val();

                        $.ajax({
                             headers: {
                                Accept: "application/json",
                                "Content-Type": "application/json",
                                "UserID": $.cookie("UserID"),
                                "Token": $.cookie("Token")
                            },
                            type: 'GET',
                            url: url,
                            dataType: 'json',
                            success: function (response) {

                                if (response.Verified > 0) {
                                    window.location = "@Url.Action("Index", "Inventory")";
                                }
                                else {
                                    swal.fire('Error', response.Message, 'error');
                                }
                            }
                        });
                    }



        });

        </script>
    *@
</body>
</html>


