@{
    ViewBag.Title = "Register Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />

</head>
<body>
    <div class="login-wrapper">
        <div class="header">
            <div class="logo" style="">
                <img src="~/Content/Images/MCBILogo_White.png" alt="Alternate Text" />
            </div>
            <div class="text">
                <h1>Welcome to MCBI Inventory System</h1>
            </div>
        </div>
        <div class="content">
            <div class="first-col"></div>
            <div class="second-col">
                <fieldset class="scheduler-border login-container">
                    <legend class="scheduler-border">REGISTER</legend>
                    <form action="#" method="post" id="loginForm" autocomplete="off">
                        <div class="custom-form-group login-input">
                            <div style="display:flex">
                                <label style="width: 150px">Employee</label>
                                <input type="text" name="Employee" class="employee" required />
                            </div>
                        </div>
                        <div class="custom-form-group login-input">
                            <div style="display:flex">
                                <label style="width:150px">Username:</label>
                                <input type="text" name="Username" class="" required />
                            </div>
                        </div>
                        <div class="custom-form-group login-input">
                            <div style="display:flex">
                                <label style="width: 150px">Password:</label>
                                <input type="password" name="Password" class="" required />
                            </div>
                        </div>
                        <div class="custom-form-group" id="otp" style="display:none">
                            <div style="display:flex">
                                <label style="width: 150px">OTP:</label>
                                <input type="text" name="OTP" class="" value="" />
                            </div>
                        </div>
                        <div class="custom-form-group login-action-container">
                            <button type="submit" id="login_btn" class="custom-btn custom-save-btn login-btn">Register</button>
                        </div>
                    </form>
                </fieldset>
            </div>
            <div class="third-col"></div>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>

    <script>
        var emp = [];
        $.getJSON('/Data/HRMSEmployeeList/', function (data) {
            //console.log(data);

            for (var i = 0; i < data.length; i++) {
                var obj = {};

                obj.id = data[i].ID;
                obj.value = data[i].FirstName + ' ' + data[i].LastName;
                obj.label = data[i].FirstName + ' ' + data[i].LastName;

                emp.push(obj);
            }

            $(".employee").autocomplete({
                source: emp,
                select: function (event, ui) {

                    $(this).attr('data-val', ui.item.id);   
                }
            })
        });

        $('.employee').change(function (e) {

            console.log($(this).val());

            return;
            if ($(this).val() === '') {
                $(this).removeAttr('data-val');
            }

        });
    </script>
</body>
</html>
