@{
    ViewBag.Title = "Advance Settings";
}

@section Styles{

    <link href="~/Content/settings.css" rel="stylesheet" />



}

@*
    CONTROLS
*@
<div class="settings__wrapper">
    <fieldset class="settings__fieldset">
        <legend class="fieldset__title">CONTROLS</legend>
        <div class="fieldset__content" id="fieldset__content__wrapper1">
            <div class="main__content controlcontainer">
                <div class="header">
                    <label>Systems:</label>
                    <select class="system_data systeminfo">
                    </select>
                </div>
                <br />
                <div class="content controlclone" style="display:none;">
                    <div class="content__text controlclone1">
                        <input id="control_id_input" type="radio" class="control_data_input" name="name" value="" />
                        <div>
                            <span class="controller_data">
                                @* for data *@
                            </span>
                            @*<div>*@
                            <input class="control_data_icb" style="float:right" type="checkbox" name="name" value="" />
                            <button style="float:right" class="open-dialog"><i class="fa fa-angle-double-right open-dialog"></i></button>
                                
                            @*</div>*@
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="main__footer">
                <div class="footer">
                    <h4>Add Control:</h4>
                    <div class="footer__form__fields butang">
                        <input type="text" name="name" value="" />
                        <button class="save_control">Add</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="fieldset__footer">
            <button class="control_save_save" >Save</button>
        </div>
    </fieldset>






    @*
        ACTIONS/METHODS/ACCESS
    *@
    <fieldset class="settings__fieldset">
        <legend class="fieldset__title">ACTIONS/METHODS/ACCESS</legend>
        <div class="fieldset__content AMA" id="fieldset__content__wrapper2">
            <div class="main__content actions_container">
                <div class="content actions_clone" style="display:none">
                    <div class="content__checkbox">
                        <input class="ccheck" id="IDCheck" type="checkbox" name="name" value="" />
                    </div>
                    <div>
                        <span class="actions_data"> @* for data*@ </span>
                        <button style="float:right" class="open-dialog1"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="main__footer">
                <div class="footer">
                    <h4>Add Control:</h4>
                    <div class="footer__form__fields butang1">
                        <input type="text" name="name" value="" />
                        <button class="save_access">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldset__footer">
            <button class="Save_Save_access">Save</button>
        </div>
    </fieldset>





    @*
        lEVEL CONTROL ACCESS
    *@
    <fieldset class="settings__fieldset" id="fieldset__content__wrapper3">
        <legend class="fieldset__title">LEVEL CONTROL ACCESS</legend>
        <div class="fieldset__table__content">
            <div class="header">
                <label>Level: </label>
                <select class="dropdown_level_data1">
                </select>
            </div>
            <div class="header" style="display:none">
                <label>Role: </label>
                <select class="dropdown_role_data">
                </select>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>System Inventory</td>
                        <td>Privilege</td>
                    </tr>
                </thead>
                <tbody class="level_container">

                    <tr class="level_clone" style="display:none">
                        <td class="level_data">
                            @*
                                for data
                            *@
                        </td>

                        <td class="privilege__wrapper">
                            <div class="privilege__clone" style="display:none">
                                    <input class="level_value_check" type="checkbox" name="name" value="" />
                                    <span></span>
                            </div>

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div class="fieldset__footer">
            <button class="level_save">Save</button>
        </div>
    </fieldset>







    <fieldset class="settings__fieldset" id="fieldset__content__wrapper4">
        <legend class="fieldset__title">ROLE LEVEL DEFAULT</legend>
        <div class="fieldset__table__content rolecontainer">

            <div class="content roleclone" style="display:none">
                <label class="role_data"></label>
                <select class="dropdown_level_data">
                </select>
            </div>

        </div>
        <div class="fieldset__footer">
            <button class="Save_RLD">Save</button>
        </div>
    </fieldset>
</div>





<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content modalcontainer">
        <span class="close">&times;</span>
        
        <h2> @* Data *@ </h2>
        <form action="/action_page.php">
            <label for="DT">Display Title:</label>
            <input style="width:100%" type="text" id="DT" name="DT" class="control-modal-display-title" /><br><br>
            <label for="Des">Description:</label>
            <textarea style="height:200px; width:100%; vertical-align: text-top;" type="text" id="Des" name="Des" class="control-modal-display-description"></textarea><br><br>
            <div class="fieldset__footer">
                <button class="save_modal">Save</button>
            </div>
        </form>
    </div>

</div>





<div id="myModalactions" class="modal">

    <!-- Modal content -->
    <div class="modal-content modalcontainer">
        <span class="close">&times;</span>

        <h2> @* Data *@</h2>
        <form action="/action_page.php">
            <label for="Action_Action">Action:</label>
            <input style="height:15px; width:500px" type="text" name="DT" class="Action_Action" /><br><br>

            <label for="Action_Tittle">Tittle:</label>
            <textarea style="height:15px; width:500px; vertical-align: text-top;" type="text" name="Des" class="Action_Tittle"></textarea><br><br>

            <label for="Action_Des">Description:</label>
            <textarea style="height:15px; width:500px; vertical-align: text-top;" type="text" name="Des" class="Action_Des"></textarea><br><br>

            <label for="Action_CustomEl">Custom Element:</label>
            <textarea style="height:15px; width:500px; vertical-align: text-top;" type="text" name="Des" class="Action_CustomEl"></textarea><br>

            <input type="checkbox" name="name" value="" class="CheckDisable" />
            <span>HideIfDisabled</span><br><br>

            <div class="fieldset__footer">
                <button class="action_modal">Save</button>
            </div>
        </form>
    </div>

</div>




@section Scripts {
    <script src="~/Scripts/modal.js"></script>
    <script>
        window.RoleLevelCount = 0;
        //actionModal();

        //setModal();


         // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {

            //console.log(event.target.classList.contains('open-dialog'));

            if (event.target == window.modal) {
                window.modal.style.display = "none";
            }

            if (event.target.classList.contains('open-dialog')) {
                setModal(event);
                //console.log("Trigger Modal");
            }

        }
/*
        
        //LevelControlAccess Get data by Level ID
        document.onload = function () {
            document.getElementsByClassName('dropdown_level_data1').onchange = function () {
                var test = this.value;
                console.log(test);

                window.testlevel = test;
                var sys = 'inventory';

                var getSysName = document.getElementsByClassName('system_data')[0];
                sys = getSysName.value;
                // sys =  getSysName.Option[getSysName.selectedIndex].value;
                // var  sys = $( '.systeminfo' ).val();
                // console.log(sys);

                JsonRequest('http://192.168.1.100:98/api/rolelevelcontrolaccess/?levelID=' + test + '&systemName=' + sys + '&roleID=' + 0, 'GET', null, data11 => {
                    for (var x = 0; x < data11.length; x++) {
                        if (data11[x].RoleLevelControlAccess != null) {
                            for (var c = 0; c < data11[x].RoleLevelControlAccess.length; c++) {
                                console.log(data11[x].RoleLevelControlAccess[c].isAllowed);

                                document.getElementsByClassName('.level_value_check[value=' + data11[x].RoleLevelControlAccess[c].ControlAccessID + ']').setAttribute('checked', data11[x].RoleLevelControlAccess[c].isAllowed);

                            }
                        }
                    }
                }, true, true);


                document.getElementsByClassName("control_data_icb").onclick = function () {
                    all = this;

                    var testing = all.value;
                    console.log(testing);
                };




                document.getElementsByClassName("control_data_input").onclick = function () {
                    //window.ControlAccess for refcontrolaccesslist
                    //window.ActionList for refaccesslist

                    //Uncheck all Access
                    document.getElementsByClassName('ccheck').setAttribute('checked', false);

                    le = this;
                    var test = le.value;
                    window.tester = test;
                    //console.log(test);


                    var AL = window.ActionList;
                    var CA = window.ControlAccess;

                    for (var c1 = 0; c1 < CA.length; c1++) {
                        var CACI = CA[c1];
                        if (test == CACI.controlID) {
                            for (var a1 = 0; a1 < AL.length; a1++) {
                                var ALAI = AL[a1];
                                if (ALAI.ID == CACI.accessID) {
                                    //$('.ccheck').attr('checked', CACI.isDeleted.isActive);
                                    //QUERY CHECK THAT HAS A VALUE
                                    document.getElementsByClassName('.ccheck[value=' + CACI.accessID + ']').setAttribute('checked', !CACI.isDeleted);


                                }
                            }
                        }
                    }
                };
            };
        }
        



        //Controls get data by ID of radioButton
        *//*
        $(document).on('click', '.control_data_input', function () {
            var ClickRadio = $(this).val();
            window.ControlDataInput = ClickRadio;
            $('.AMA').attr('ControlIDIS', ClickRadio);
        });
        *//*

        var controlButtons = document.getElementsByClassName('control_data_input');
        for (var i = 0; i < controlButtons.length; i++) {
            controlButtons[i].onclick = function () {
                var ClickRadio = this.value;
                window.ControlDataInput = ClickRadio;
                document.getElementsByClassName('AMA').setAttribute('ControlIDIS', ClickRadio);
            };
        }



        
        //ROLE LEVEL DEFAULT SAVE
        document.getElementsByClassName('Save_RLD')[0].onclick = function () {

            var gg = document.getElementsByClassName('roleleveldata');
            var jsonArray = [];

            for (var i = 0; i < gg.length; i++) {


                var getgg1 = gg[i].value;
                var getgg = gg[i].getAttribute('data-roleid');
                //console.log(gg[i].getAttribute('data-roleid'), '=', gg[i].value);
                console.log(getgg1);

                var jsonData = {
                    RoleID: getgg,
                    LevelID: getgg1
                }
                jsonArray.push(jsonData);
            }

            console.log(JSON.stringify(jsonArray));
            // return;

            var urll = 'http://192.168.1.100:98/api/RefRolesList/Toggle/0'



           *//* $.ajax({
                // contentType: "application/json",
                type: 'put',
                dataType: 'json',
                url: urll,
                data: JSON.stringify(jsonArray),
                success: function (data) {
                    window.location.reload();
                    //Updating the current Global
                }
            });
            *//*
        };










        document.getElementsByClassName('control_save_save')[0].onclick =  function () {
            //control_data_icb
            var b = '';
            //var b = $('.control_data_icb[checked=checked]').val();
            var elem = document.getElementsByClassName('control_data_icb');

            for (var x = 0; x < elem.length; x++) {
                if (elem[x].checked) {
                    if (b != '')
                        b += ',';
                    b += elem[x].value;
                }
            }
            console.log(b);

            var getSysName = document.getElementsByClassName('system_data')[0];
                sys = getSysName.value;

            var urll = 'http://192.168.1.100:98/api/refcontrollist/Toggle/0?SystemName=' + sys;

            console.log(urll);

            *//*
            $.ajax({
                type: 'put',
                url: urll,
                data: '"'+ b +'"',
                success: function (data) {
                    window.location.reload();
                    //Updating the current Global
                }
            });
            *//*

        };








        //LevelControlAccess Save Data Button
        //http://192.168.1.100:98/api/rolelevelcontrolaccess
        document.getElementsByClassName('level_save')[0].onclick =  function () {
            var getlevel = window.testlevel;
            console.log(getlevel);

            var getunc = '';
            var ele = document.querySelectorAll('levelrows .level_value_check'); // document.getElementsByClassName('level_value_check');

            for (var x = 0; x < ele.length; x++) {
                
                if (ele[x].checked) {
                    if (getunc != '')
                        getunc += ',';
                    getunc += ele[x].value;
                }
            }
            //console.log('"' + getunc + '"');

            
            

            var urlurl = 'http://192.168.1.100:98/api/RoleLevelControlAccess/Toggle/' + '0' + '?levelID=' + getlevel + '&roleID=' + '0';


            *//*$.ajax({
                type: 'put',
                url: urlurl,
                data: '"'+getunc+'"',
                success: function (data) {
                    window.location.reload();
                    //Updating the current Global
                }

            });*//*
        };







        //--------------------------------------Save Action--------------------------------------
        //AMA Save Data Button
        document.getElementsByClassName('Save_Save_access')[0].onclick =  function () {
            var getcontrolid = window.tester;
            //console.log(getcontrolid);

            //var AID = $("#IDCheck").prop('checked');
            var getIDs = '';

            //GET checked elements in javascript
            let elements = document.getElementsByClassName('ccheck');

            for (var i = 0; i < elements.length; i++) {

                if (elements[i].checked) {
                    if (getIDs != '')
                        getIDs += ',';
                    getIDs += elements[i].value;
                }
            }
            *//*
            $('.ccheck:unchecked').each(function () {
                if (getIDs1 != '')
                    getIDs1 += ',';
                getIDs1 += $(this).val();
            });*//*

            //POST THIS TO CONTROLACCESSLIST

            *//*var jsonData = {
                ID: 0,
                controlID: getcontrolid,
                accessID: getIDs,
            }*//*
            console.log('"'+getIDs+'"');


            var refControlListURL2 = 'http://192.168.1.100:98/api/RefControlAccessList/Toggle/' + getcontrolid;

           *//* $.ajax({
                type: 'put',
                url: refControlListURL2,
                data: '"'+getIDs+'"',
                success: function (data) {
                    window.location.reload();
                    //Updating the current Global
                }
            });*//*
        };








        //--------------------------------------Update Action Modal--------------------------------------
        //Update Action Modal for AMA
        document.getElementsByClassName('action_modal')[0].onclick = function (e) {

            e.preventDefault();

            var el = this;
            console.log(el);

            var ActionAct = el.parents('.modal').querySelector('.Action_Action').value;
            var ActionTittle = el.parents('.modal').querySelector('.Action_Tittle').value;
            var ActionDes = el.parents('.modal').querySelector('.Action_Des').value;
            var ActionCustomEl = el.parents('.modal').querySelector('.Action_CustomEl').value;
            var CheckDisable = el.parents('.modal').querySelector('.CheckDisable').value;


            //console.log(ctrlName);
            //console.log(ctrlDescription);

            //var x1 = $('.controlclone').find('input').val(data1[x].ID);
            var IDdata = el.parents('#myModalactions').setAttribute('data_id_actions');
            var DIControl = el.parents('#myModalactions').setAttribute('ControlID');

            //console.log(DIControl);
            //console.log(IDdata);


            var jsonData1 = {
            ID: 0,
            controlID: DIControl,
            accessID: IDdata,
            controlAccessDisplayTitle: ActionTittle,
            controlAccessDescription: ActionDes,
            customElement: ActionCustomEl,
            isHideifDisabled: false,
            Action: ActionAct,
                TokenInfo: {
                    ID: 1,
                    UserID: 2,
                    HPass: "sample string 3",
                    Data: {},
                    isActive: true
                }
            }

            //console.log(jsonData1);

            *//*SAVING ITEMS HERE TO API *//*

            var refControlListURL2 = 'http://192.168.1.100:98/api/RefControlAccessList/' + IDdata;
            *//*
            $.ajax({
                type: 'put',
                dataType: 'json',
                url: refControlListURL2,
                data: JSON.stringify(jsonData1),
                success: function (data) {
                    //console.log(data);

                    //Updating the current Global
                    for (var i = 0; i < window.ActionList.length; i++) {
                        for (var m = 0; m < window.ControlAccess; m++) {
                            var ss = window.ActionList[i];
                            var sss = window.ControlAccess[m];
                            if (ss.ID == data.DataID) {
                                //ss.Action2 = ActionAct;
                                sss.Action = ActionAct;
                                sss.controlAccessDisplayTitle = ActionTittle;
                                sss.controlAccessDescription = ActionDes;
                                sss.customElement = ActionCustomEl;
                                sss.isHideifDisabled = CheckDisable;
                            }
                        }
                    }


                    //console.log(jsonData);



                }
            });
            *//*
            modalClose();
        };


    */


        //--------------------------------------Add Actions--------------------------------------
        //Add Actions for AMA
        document.getElementsByClassName('save_access')[0].onclick = function () {

            var ral = this;

            var accessName = ral.closest('.butang1').querySelector('input').value;

            var jsonData1 = {
                ID: 0,
                controlID: 0,
                accessID: 0,
                controlAccessDisplayTitle: '',
                controlAccessDescription: '',
                customElement: '',
                isHideifDisabled: false,
                Action: accessName
            }
            
            //var refaccessURL = 'http://192.168.1.100:98/api/RefControlAccessList';

            /*$.ajax({
                type: 'post',
                dataType: 'json',
                url: refaccessURL,
                data: JSON.stringify(jsonData1),
                success: function (data) {*/

            JsonRequest('http://192.168.1.100:98/api/RefControlAccessList', 'POST', jsonData1, data => {
                console.log('awts');
            }, true, true);
            return;
                    document.getElementsByClassName('.actions_clone')[0].querySelector('actions_data').textContent = accessName;

            let content = document.createElement("div");
            content.setAttribute("class", "content");
            content.innerHTML = document.document.getElementsByClassName('actions_clone')[0].innerHTML;

            document.getElementsByClassName('actions_container')[0].appendChild(content);
                    //document.getElementsByClassName('.actions_container')[0].append('<div class="content">' + document.getElementsByClassName('actions_clone').innerHTML() + '</div>');

                    ral.closest('.butang1').querySelector('input').value = '';

        };



    



        //--------------------------------------Update Control Modal--------------------------------------
        document.getElementsByClassName('save_modal')[0].onclick = function (e) {

            e.preventDefault();

            var el = this;

            var ctrlName = el.closest('.modal').querySelector('.control-modal-display-title').value;
            var ctrlDescription = el.closest('.modal').querySelector('.control-modal-display-description').value;


            var IDdata = el.closest('#myModal').getAttribute('data-id');


            var jsonData = {
                ID: IDdata,
                controlName: '',
                description: ctrlDescription,
                title: ctrlName,
                systemName: 1,
                allowControl: false,
                TokenInfo: {
                    ID: 1,
                    UserID: 2,
                    HPass: "sample string 3",
                    Data: {},
                    isActive: true
                }
            }

            /*SAVING ITEMS HERE TO API */

            //var refControlListURL2 = 'http://192.168.1.100:98/api/refcontrollist/' + IDdata;

            
            /*$.ajax({
                type: 'put',
                dataType: 'json',
                url: refControlListURL2,
                data: JSON.stringify(jsonData),
                success: function (data) {*/
            //console.log(data);
            JsonRequest('http://192.168.1.100:98/api/refcontrollist/' + IDdata, 'PUT', jsonData, data => {
                    //Updating the current Global
                    for (var i = 0; i < window.ControlList.length; i++) {
                        var ss = window.ControlList[i];
                        if (ss.ID == data.DataID) {
                            ss.title = ctrlName;
                            ss.description = ctrlDescription;
                        }

                    }
            }, true, true);
            return;

                    


                    //console.log(jsonData);



                /*}
            });*/
            

        };


    

        //--------------------------------------ADD Control--------------------------------------
        document.getElementsByClassName('save_control')[0].onclick = function () {

            var el = this;

            var ctrlName = document.getElementsByClassName('butang')[0].querySelector('input').value;


            var jsonData = {
                ID: 0,
                controlName: ctrlName,
                description: '',
                title: '',
                systemName: 1,
                allowControl: false,
                TokenInfo: {
                    ID: 1,
                    UserID: 2,
                    HPass: "sample string 3",
                    Data: {},
                    isActive: true
                }
            }

            //var refControlListURL = 'http://192.168.1.100:98/api/refcontrollist';

            
            /*$.ajax({
                type: 'post',
                dataType: 'json',
                url: refControlListURL,
                data: JSON.stringify(jsonData),
                success: function (data) {*/
            JsonRequest('http://192.168.1.100:98/api/refcontrollist', 'POST', jsonData, data => {


                document.getElementsByClassName('controlclone')[0].querySelector('.controller_data').textContent = ctrlName;

                let content = document.createElement("div");
                content.setAttribute("class", "content");
                content.innerHTML = document.getElementsByClassName('controlclone')[0].innerHTML;

                document.getElementsByClassName('controlcontainer')[0].appendChild(content);

                //document.getElementsByClassName('controlcontainer').append('<div class="content">' + document.getElementsByClassName('controlclone').innerHTML() + '</div>');

                document.getElementsByClassName('butang')[0].querySelector('input').value = '';

            }, true, true);
        };















        //--------------------------------------DROPDOWN Data--------------------s------------------

        JsonRequest('http://192.168.1.100:98/api/refsystem', 'GET', null, data => {

            for (var i = 0; i < data.length; i++) {
                document.getElementsByClassName('system_data')[0].append(new Option(data[i].SystemTitle, data[i].SystemName));
            }
        }, true, true);


        //LEVEL CONTROL ACCESS FOR LEVEL
        JsonRequest('http://192.168.1.100:98/api/reflevel', 'GET', null, data5 => {
            
            for (var a = 0; a < data5.length; a++) {
                //console.log(data5[a]);
                document.getElementsByClassName('dropdown_level_data')[0].append(new Option(data5[a].Level, data5[a].ID));
                document.getElementsByClassName('dropdown_level_data1')[0].append(new Option(data5[a].Level, data5[a].ID));
                
            }
           LevelLoaded();

        }, true, true)




        //LCA for Role
        JsonRequest('http://192.168.1.100:98/api/refroleslist', 'GET', null, data7 => {

            for (var d = 0; d < data7.length; d++) {
                document.getElementsByClassName('dropdown_role_data')[0].append(new Option(data7[d].RoleName, data7[d].ID));

            }
        }, true, true)











        //--------------------------------------Text Data--------------------------------------

        //CONTROLS for Controller
        JsonRequest('http://192.168.1.100:98/api/refcontrollist', 'GET', null, data1 => {

            //SET THE GLOBAL
            window.ControlList = data1;

            for (var x = 0; x < data1.length; x++) {

                //console.log(data1[x].ID);

                //CLONE CONTROL HERE
                var clone = document.getElementsByClassName('controlclone')[0];

                //MODIFY
                clone.querySelector('.controller_data').textContent = data1[x].controlName;

                var x1 = clone.querySelector('.control_data_input').value = data1[x].ID;
                var x1 = clone.querySelector('.control_data_icb').value = data1[x].ID;

                //console.log(x1);

                //if(data1[x].ID == )
                //var x2 = document.querySelector('.control_data_icb[value=' + data1[x].ID + ']').setAttribute('checked', data1[x].allowControl);

                var controldata = document.querySelector('.control_data_icb').value;

                for (var i = 0; i < controldata.length; i++) {

                    if (controldata[i].value == data1[x].ID) {
                        controldata[i].setAttribute('checked', data1[x].allowControl);
                    }

                }

                window.ControlID = x1;
                
                /*var element =  document.createElement("DIV");
                element.addClass = 'content';
                element.innerHTML = clone.innerHTML;*/
                //APPEND HERE

                let content = document.createElement("div");
                content.setAttribute("class", "content");
                content.innerHTML = clone.innerHTML;

                //console.log(content);

                document.getElementsByClassName('controlcontainer')[0].appendChild(content);
                /*document.querySelector('.controlcontainer').appendChild(element);*/
            }
            
        }, true, true)






        //ACTIONS/METHOD/ACCESS
        JsonRequest('http://192.168.1.100:98/api/RefAccessList', 'GET', null, data2 => {

            for (var z = 0; z < data2.length; z++) {
                //console.log(data2[z]);

                window.ActionList = data2;

                var cloneactions = document.getElementsByClassName('actions_clone')[0].cloneNode(true);

                var a = cloneactions.getElementsByClassName('actions_data')[0].append(data2[z].Action2);
                //console.log(a);
               // var x1 = document.getElementsByClassName('actions_clone').querySelector('input').value = data2[z].ID;

                //console.log(x1);

                //JQuery code 
                //document.getElementsByClassName('actions_container').append('<div class="content">' + cloneactions.innerHTML() + '</div>')
                //convert to JavaScript
                let content = document.createElement("div");
                content.setAttribute("class", "content");
                content.innerHTML = cloneactions.innerHTML;

                document.getElementsByClassName('actions_container')[0].appendChild(content);
            }
            actionModal();
        }, true, true)







        JsonRequest('http://192.168.1.100:98/api/RefControlAccessList/', 'GET', null, data9 => {

            for (var m = 0; m < data9.length; m++) {
                window.ControlAccess = data9;
                //console.log(window.ControlAccess);
            }
        }, true, true)


        



        //CONTROLS for Controller
        JsonRequest('http://192.168.1.100:98/api/rolelevelcontrolaccess', 'GET', null, data3 => {

            for (var v = 0; v < data3.length; v++) {
                //console.log(data3[v]);

                window.idid = data3[v];
                //console.log(window.idid);

                //CLONE CONTROL HERE
                var clonecontrols = document.getElementsByClassName('level_clone')[0].cloneNode(true);
                //clear
                clonecontrols.querySelector('.privilege__wrapper').innerHTML = '';
                //MODIFY
                clonecontrols.getElementsByClassName('level_data')[0].append(data3[v].controlName);
                clonecontrols.getElementsByClassName('level_data')[0].setAttribute('data_data', data3[v].ID);

                if (data3[v].RoleLevelControlAccess != null) {
                    for (var t = 0; t < data3[v].RoleLevelControlAccess.length; t++) {

                        var cc = document.getElementsByClassName('privilege__clone')[0].cloneNode(true);

                        //console.log(data3[v].RoleLevelControlAccess[t]);

                        //console.log(cc);
                        cc.removeAttribute('style');
                        cc.querySelector('span').textContent = data3[v].RoleLevelControlAccess[t].ControlAccessDisplayTitle;
                        cc.querySelector('input').value = data3[v].RoleLevelControlAccess[t].ControlAccessID;


                        clonecontrols.querySelector(".privilege__wrapper").append(cc);


                        //FOR DISPLAYING
                        if (data3[v].RoleLevelControlAccess[t].isAllowed)
                            cc.querySelector('input').setAttribute('checked', data3[v].RoleLevelControlAccess[t].isAllowed);

                        //clonecontrols.querySelector('.privilege__wrapper').append('<div class="priviledge">' + document.getElementsByClassName('privilege__clone').innerHTML() + '</div>');
                    }
                }
                //console.log(clonecontrols);

                let content1 = document.createElement("tr");
                content1.setAttribute("class", "levelrows");
                content1.innerHTML = clonecontrols.innerHTML;

                document.getElementsByClassName('level_container')[0].appendChild(content1);

                //APPEND HERE
                //document.getElementsByClassName('level_container').append('<tr class="levelrows">' + clonecontrols.innerHTML() + '</tr>');
            }
            document.getElementsByClassName('privilege__clone')[0].innerHTML = '';
        }, true, true)

        





        //Function

        function LevelLoaded() {
            //ROLE LEVEL DEFAULT
            JsonRequest('http://192.168.1.100:98/api/refroleslist', 'GET', null, data6 => {

                for (var b = 0; b < data6.length; b++) {
                    //console.log(data6[b]);

                    //CLONE CONTROL HERE
                    //var clonerole = $('.');
                    var clonerole = document.querySelector(".roleclone");

                    //console.log(clonerole);

                    //MODIFY
                    clonerole.querySelector('.role_data').textContent = data6[b].RoleName;
                    clonerole.querySelector('.role_data').setAttribute('data_id_level', data6[b].ID)
                    clonerole.querySelector('.dropdown_level_data').setAttribute('data-roleid', data6[b].ID);

                    //clonerole.attr("data-role-id", );
                    //var cc = document.getElementsByClassName('<div>' + clonerole.innerHTML + '</div>');

                    //console.log(clonerole);
                    /*
                    let content1 = document.createElement("div");
                    content1.innerHTML = clonerole.innerHTML;
                    
                                        
                    
                    cc.querySelector('.dropdown_level_data').classList.add('roleleveldata');
                    
                    var a = document.getElementById('#data-role-id').value;
                    
                    if (data6[b].ID == a)
                        //var p = document.append('<div class="content" data-role-id="' + data6[b].ID + '">' + cc.innerHTML + '</div>');
                        let content = document.createElement("div");
                    content.setAttribute("class", "content");
                    content.innerHTML = content1.innerHTML;
                    //APPEND HERE
                    document.getElementsByClassName('.rolecontainer').append(content);
                    p.querySelector('.dropdown_level_data').value = data6[b].Defaulx`tLevel;*/


                    var a = document.querySelector('.dropdown_level_data').getAttribute('data-roleid');
                    //console.log(a);

                    let content = document.createElement("div");
                    content.setAttribute("class", "content");
                    content.innerHTML = clonerole.innerHTML;

                    //content.querySelector(".dropdown_level_data").options[data6[b].DefaultLevel].selected = true;

                    //console.log();

                    content.querySelectorAll(".dropdown_level_data option").forEach((item, index) => {
                        //console.log(item);
                        if (parseInt(item.value) === data6[b].DefaultLevel) {
                            item.setAttribute("selected", "selected");
                        }
                    });


                    document.getElementsByClassName('rolecontainer')[0].appendChild(content);


                    //console.log(clonerole);

                    //if (data6[b].ID = a) {

                        /*var p = document.getElementsByClassName('dropdown_level_data')[0].cloneNode(true);
                        p.querySelector('input').value = data6[b].DefaultLevel;

                        clonerole.querySelector('.content').append(p);*/

                        //clonerole.querySelector('.dropdown_level_data').selectedIndex = 5;

                        //console.log(a);

                    //}


                  //console.log();

                }
            }, true, true)
        }









/*
                    $.getJSON('http://192.168.1.100:98/api/refcontrollist', function (data8) {
                        for (var g = 0; g < data8.length; g++) {
                            console.log(data8[g].ID);
                            var x1 = $('.controlclone').find('input').val(data8[g].ID);
                            //console.log(x1);
                            return x1;
                        }
                    })

        
*/




    </script>


}