@{
    ViewBag.Title = "Advance Settings";
}

@section Styles{

    <link href="~/Content/settings.css" rel="stylesheet" />



}

@*
    CONTROLS
*@
<div class="settings__wrapper">
    <fieldset class="settings__fieldset">
        <legend class="fieldset__title">CONTROLS</legend>
        <div class="fieldset__content" id="fieldset__content__wrapper1">
            <div class="main__content controlcontainer">
                <div class="header">
                    <label>Systems:</label>
                    <select class="system_data systeminfo">
                    </select>
                </div>
                <br />
                <div class="content controlclone" style="display:none;">
                    <div class="content__text controlclone1">
                        <input id="control_id_input" type="radio" class="control_data_input" name="name" value="" />
                        <div>
                            <span class="controller_data">
                                @* for data *@
                            </span>
                            @*<div>*@
                            <input class="control_data_icb" style="float:right" type="checkbox" name="name" value="" />
                            <button style="float:right" class="open-dialog"><i class="fa fa-angle-double-right"></i></button>
                                
                            @*</div>*@
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="main__footer">
                <div class="footer">
                    <h4>Add Control:</h4>
                    <div class="footer__form__fields butang">
                        <input type="text" name="name" value="" />
                        <button class="save_control">Add</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="fieldset__footer">
            <button class="control_save_save" >Save</button>
        </div>
    </fieldset>






    @*
        ACTIONS/METHODS/ACCESS
    *@
    <fieldset class="settings__fieldset">
        <legend class="fieldset__title">ACTIONS/METHODS/ACCESS</legend>
        <div class="fieldset__content AMA" id="fieldset__content__wrapper2">
            <div class="main__content actions_container">
                <div class="content actions_clone" style="display:none">
                    <div class="content__checkbox">
                        <input class="ccheck" id="IDCheck" type="checkbox" name="name" value="" />
                    </div>
                    <div>
                        <span class="actions_data"> @* for data*@ </span>
                        <button style="float:right" class="open-dialog1"><i class="fa fa-angle-double-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="main__footer">
                <div class="footer">
                    <h4>Add Control:</h4>
                    <div class="footer__form__fields butang1">
                        <input type="text" name="name" value="" />
                        <button class="save_access">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="fieldset__footer">
            <button class="Save_Save_access">Save</button>
        </div>
    </fieldset>





    @*
        lEVEL CONTROL ACCESS
    *@
    <fieldset class="settings__fieldset" id="fieldset__content__wrapper3">
        <legend class="fieldset__title">LEVEL CONTROL ACCESS</legend>
        <div class="fieldset__table__content">
            <div class="header">
                <label>Level: </label>
                <select class="dropdown_level_data1">
                </select>
            </div>
            <div class="header" style="display:none">
                <label>Role: </label>
                <select class="dropdown_role_data">
                </select>
            </div>
            <table>
                <thead>
                    <tr>
                        <td>System Inventory</td>
                        <td>Privilege</td>
                    </tr>
                </thead>
                <tbody class="level_container">

                    <tr class="level_clone" style="display:none">
                        <td class="level_data">
                            @*
                                for data
                            *@
                        </td>

                        <td class="privilege__wrapper">
                            <div class="privilege__clone" style="display:none">
                                    <input class="level_value_check" type="checkbox" name="name" value="" />
                                    <span></span>
                            </div>

                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        <div class="fieldset__footer">
            <button class="level_save">Save</button>
        </div>
    </fieldset>

    <fieldset class="settings__fieldset" id="fieldset__content__wrapper4">
        <legend class="fieldset__title">ROLE LEVEL DEFAULT</legend>
        <div class="fieldset__table__content rolecontainer">

            <div class="content roleclone" style="display:none">
                <label class="role_data"></label>
                <select class="dropdown_level_data">
                </select>
            </div>

        </div>
        <div class="fieldset__footer">
            <button class="Save_RLD">Save</button>
        </div>
    </fieldset>
</div>





<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content modalcontainer">
        <span class="close">&times;</span>
        
        <h2> @* Data *@ </h2>
        <form action="/action_page.php">
            <label for="DT">Display Title:</label>
            <input style="width:100%" type="text" id="DT" name="DT" class="control-modal-display-title" /><br><br>
            <label for="Des">Description:</label>
            <textarea style="height:200px; width:100%; vertical-align: text-top;" type="text" id="Des" name="Des" class="control-modal-display-description"></textarea><br><br>
            <div class="fieldset__footer">
                <button class="save_modal">Save</button>
            </div>
        </form>
    </div>

</div>





<div id="myModalactions" class="modal">

    <!-- Modal content -->
    <div class="modal-content modalcontainer">
        <span class="close">&times;</span>

        <h2> @* Data *@</h2>
        <form action="/action_page.php">
            <label for="Action_Action">Action:</label>
            <input style="height:15px; width:500px" type="text" name="DT" class="Action_Action" /><br><br>

            <label for="Action_Tittle">Tittle:</label>
            <textarea style="height:15px; width:500px; vertical-align: text-top;" type="text" name="Des" class="Action_Tittle"></textarea><br><br>

            <label for="Action_Des">Description:</label>
            <textarea style="height:15px; width:500px; vertical-align: text-top;" type="text" name="Des" class="Action_Des"></textarea><br><br>

            <label for="Action_CustomEl">Custom Element:</label>
            <textarea style="height:15px; width:500px; vertical-align: text-top;" type="text" name="Des" class="Action_CustomEl"></textarea><br>

            <input type="checkbox" name="name" value="" class="CheckDisable" />
            <span>HideIfDisabled</span><br><br>

            <div class="fieldset__footer">
                <button class="action_modal">Save</button>
            </div>
        </form>
    </div>

</div>




@section Scripts {
    <script src="~/Scripts/modal.js"></script>
    <script>
        window.RoleLevelCount = 0;
        actionModal();

        
        //LevelControlAccess Get data by Level ID
        $(document).ready(function () {
            $('.dropdown_level_data1').change(function() {
                var test = $(this).val();
                console.log(test);

                window.testlevel = test;
                var sys = 'inventory';

                var getSysName = document.getElementsByClassName('system_data')[0];
                sys = getSysName.value;
               // sys =  getSysName.Option[getSysName.selectedIndex].value;
               // var  sys = $( '.systeminfo' ).val();
                // console.log(sys);
                $.getJSON('http://192.168.1.100:98/api/rolelevelcontrolaccess/?levelID=' + test + '&systemName=' + sys + '&roleID=' + 0, function (data11) {
                    for (var x = 0; x < data11.length; x++) {
                        if (data11[x].RoleLevelControlAccess != null) {
                            for (var c = 0; c < data11[x].RoleLevelControlAccess.length; c++) {
                                console.log(data11[x].RoleLevelControlAccess[c].isAllowed);
                                
                                $('.level_value_check[value='+data11[x].RoleLevelControlAccess[c].ControlAccessID+']').attr('checked', data11[x].RoleLevelControlAccess[c].isAllowed);

                            }
                        }
                    }
                });
            });
        });

        



        //
        $(document).ready(function () {
            $('.dropdown_level_data').change(function () {
                //var getld = '';
                var c = $(this).val();
                console.log(c);
            });
        });





        //Controls get data by ID of radioButton
        $(document).on('click', '.control_data_input', function () {
            var ClickRadio = $(this).val();
            window.ControlDataInput = ClickRadio;
            $('.AMA').attr('ControlIDIS', ClickRadio);
        });





        //ROLE LEVEL DEFAULT SAVE
        $('.Save_RLD').on('click', function () {

            var gg = document.getElementsByClassName('roleleveldata');
            var jsonArray = [];
            
            for (var i = 0; i < gg.length; i++) {

                
                var getgg1 = gg[i].value;
                var getgg = gg[i].getAttribute('data-roleid');
                //console.log(gg[i].getAttribute('data-roleid'), '=', gg[i].value);
                console.log(getgg1);

                var jsonData = {
                    RoleID: getgg,
                    LevelID: getgg1
                }
                jsonArray.push(jsonData);
            }

            console.log(JSON.stringify(jsonArray));
           // return;

            var urll = 'http://192.168.1.100:98/api/RefRolesList/Toggle/0'



            $.ajax({
               // contentType: "application/json",
                type: 'put',
                dataType: 'json',
                url: urll,
                data: JSON.stringify(jsonArray) ,
                success: function (data) {
                    window.location.reload();
                    //Updating the current Global
                }
            });

        });










        $('.control_save_save').on('click', function () {
            //control_data_icb
            var b = '';
            //var b = $('.control_data_icb[checked=checked]').val();
            var elem = document.getElementsByClassName('control_data_icb');

            for (var x = 0; x < elem.length; x++) {
                if (elem[x].checked) {
                    if (b != '')
                        b += ',';
                    b += elem[x].value;
                }
            }
            console.log(b);

            var getSysName = document.getElementsByClassName('system_data')[0];
                sys = getSysName.value;

            var urll = 'http://192.168.1.100:98/api/refcontrollist/Toggle/0?SystemName=' + sys;

            console.log(urll);

            $.ajax({
                type: 'put',
                url: urll,
                data: '"'+ b +'"',
                success: function (data) {
                    window.location.reload();
                    //Updating the current Global
                }
            });

        });








        //LevelControlAccess Save Data Button
        //http://192.168.1.100:98/api/rolelevelcontrolaccess
        $('.level_save').on('click', function() {
            var getlevel = window.testlevel;
            console.log(getlevel);

            var getunc = '';
            var ele = document.querySelectorAll('.levelrows .level_value_check'); // document.getElementsByClassName('level_value_check');

            for (var x = 0; x < ele.length; x++) {
                
                if (ele[x].checked) {
                    if (getunc != '')
                        getunc += ',';
                    getunc += ele[x].value;
                }
            }
            //console.log('"' + getunc + '"');

            
            

            var urlurl = 'http://192.168.1.100:98/api/RoleLevelControlAccess/Toggle/' + '0' + '?levelID=' + getlevel + '&roleID=' + '0';


            $.ajax({
                type: 'put',
                url: urlurl,
                data: '"'+getunc+'"',
                success: function (data) {
                    window.location.reload();
                    //Updating the current Global
                }

            });
        });







        //--------------------------------------Save Action--------------------------------------
        //AMA Save Data Button
        $('.Save_Save_access').on('click', function () {
            var getcontrolid = window.tester;
            //console.log(getcontrolid);

            //var AID = $("#IDCheck").prop('checked');
            var getIDs = '';

            //GET checked elements in javascript
            let elements = document.getElementsByClassName('ccheck');

            for (var i = 0; i < elements.length; i++) {

                if (elements[i].checked) {
                    if (getIDs != '')
                        getIDs += ',';
                    getIDs += elements[i].value;
                }
            }
            /*
            $('.ccheck:unchecked').each(function () {
                if (getIDs1 != '')
                    getIDs1 += ',';
                getIDs1 += $(this).val();
            });*/

            //POST THIS TO CONTROLACCESSLIST

            /*var jsonData = {
                ID: 0,
                controlID: getcontrolid,
                accessID: getIDs,
            }*/
            console.log('"'+getIDs+'"');


            var refControlListURL2 = 'http://192.168.1.100:98/api/RefControlAccessList/Toggle/' + getcontrolid;

            $.ajax({
                type: 'put',
                url: refControlListURL2,
                data: '"'+getIDs+'"',
                success: function (data) {
                    window.location.reload();
                    //Updating the current Global
                }
            });
        });








        //--------------------------------------Update Action Modal--------------------------------------
        //Update Action Modal for AMA
        $('.action_modal').on('click', function (e) {

            e.preventDefault();

            var $el = $(this);

            var ActionAct = $el.parents('.modal').find('.Action_Action').val();
            var ActionTittle = $el.parents('.modal').find('.Action_Tittle').val();
            var ActionDes = $el.parents('.modal').find('.Action_Des').val();
            var ActionCustomEl = $el.parents('.modal').find('.Action_CustomEl').val();
            var CheckDisable = $el.parents('.modal').find('.CheckDisable').val();


            //console.log(ctrlName);
            //console.log(ctrlDescription);

            //var x1 = $('.controlclone').find('input').val(data1[x].ID);
            var IDdata = $el.parents('#myModalactions').attr('data_id_actions');
            var DIControl = $el.parents('#myModalactions').attr('ControlID');

            //console.log(DIControl);
            //console.log(IDdata);


            var jsonData1 = {
            ID: 0,
            controlID: DIControl,
            accessID: IDdata,
            controlAccessDisplayTitle: ActionTittle,
            controlAccessDescription: ActionDes,
            customElement: ActionCustomEl,
            isHideifDisabled: false,
            Action: ActionAct,
                TokenInfo: {
                    ID: 1,
                    UserID: 2,
                    HPass: "sample string 3",
                    Data: {},
                    isActive: true
                }
            }

            //console.log(jsonData1);

            /*SAVING ITEMS HERE TO API */

            var refControlListURL2 = 'http://192.168.1.100:98/api/RefControlAccessList/' + IDdata;
            $.ajax({
                type: 'put',
                dataType: 'json',
                url: refControlListURL2,
                data: JSON.stringify(jsonData1),
                success: function (data) {
                    //console.log(data);

                    //Updating the current Global
                    for (var i = 0; i < window.ActionList.length; i++) {
                        for (var m = 0; m < window.ControlAccess; m++) {
                            var ss = window.ActionList[i];
                            var sss = window.ControlAccess[m];
                            if (ss.ID == data.DataID) {
                                //ss.Action2 = ActionAct;
                                sss.Action = ActionAct;
                                sss.controlAccessDisplayTitle = ActionTittle;
                                sss.controlAccessDescription = ActionDes;
                                sss.customElement = ActionCustomEl;
                                sss.isHideifDisabled = CheckDisable;
                            }
                        }
                    }


                    //console.log(jsonData);



                }
            });
            modalClose();
        });





        //--------------------------------------Add Actions--------------------------------------
        //Add Actions for AMA
        $('.save_access').on('click', function () {

            var $ral = $(this);

            var accessName = $ral.parents('.butang1').find('input').val();

            var jsonData1 = {
            ID: 0,
            controlID: 0,
            accessID: 0,
            controlAccessDisplayTitle: '',
            controlAccessDescription: '',
            customElement: '',
            isHideifDisabled: false,
            Action: accessName
            }

            //console.log(jsonData1);

            var refaccessURL = 'http://192.168.1.100:98/api/RefControlAccessList';

            $.ajax({
                type: 'post',
                dataType: 'json',
                url: refaccessURL,
                data: JSON.stringify(jsonData1),
                success: function (data) {
                    //console.log(data);

                    //console.log(jsonData1);

                    $('.actions_clone').find('.actions_data').text(accessName);

                    $('.actions_container').append('<div class="content">' + $('.actions_clone').html() + '</div>');

                    $ral.parents('.butang1').find('input').val('');

                }
            });
        });







        //--------------------------------------Update Control Modal--------------------------------------
        $('.save_modal').on('click', function (e) {

            e.preventDefault();

            var $el = $(this);

            var ctrlName = $el.parents('.modal').find('.control-modal-display-title').val();
            var ctrlDescription = $el.parents('.modal').find('.control-modal-display-description').val();


            
            var IDdata = $el.parents('#myModal').attr('data-id');

            //console.log(IDdata);



            var jsonData = {
                ID: IDdata,
                controlName: '',
                description: ctrlDescription,
                title: ctrlName,
                systemName: 1,
                allowControl: false,
                TokenInfo: {
                    ID: 1,
                    UserID: 2,
                    HPass: "sample string 3",
                    Data: {},
                    isActive: true
                }
            }

            //console.log(jsonData);

            /*SAVING ITEMS HERE TO API */

            var refControlListURL2 = 'http://192.168.1.100:98/api/refcontrollist/' + IDdata;
            $.ajax({
                type: 'put',
                dataType: 'json',
                url: refControlListURL2,
                data: JSON.stringify(jsonData),
                success: function (data) {
                    //console.log(data);

                    //Updating the current Global
                    for (var i = 0; i < window.ControlList.length; i++) {
                        var ss = window.ControlList[i];
                        if (ss.ID == data.DataID) {
                            ss.title = ctrlName;
                            ss.description = ctrlDescription;
                        }

                    }


                    //console.log(jsonData);



                }
            });

        });




        //--------------------------------------ADD Control--------------------------------------
        $('.save_control').on('click', function () {

            var $el = $(this);

            var ctrlName = $el.parents('.butang').find('input').val();

            var jsonData = {
                ID: 0,
                controlName: ctrlName,
                description: '',
                title: '',
                systemName: 1,
                allowControl: false,
                TokenInfo: {
                    ID: 1,
                    UserID: 2,
                    HPass: "sample string 3",
                    Data: {},
                    isActive: true
                }
            }


            var refControlListURL = 'http://192.168.1.100:98/api/refcontrollist';

            $.ajax({
                type: 'post',
                dataType: 'json',
                url: refControlListURL,
                data: JSON.stringify(jsonData),
                success: function (data) {
                    //console.log(data);


                    $('.controlclone').find('.controller_data').text(ctrlName);

                    $('.controlcontainer').append('<div class="content">' + $('.controlclone').html() + '</div>');

                    $el.parents('.butang').find('input').val('');

                }
            });

        });














        $(document).ready(function () {
            $(".control_data_icb").click(function () {
                $all = $(this);

                var testing = $all.val();
                console.log(testing);
            });
        });



        $(document).ready(function () {
                $(".control_data_input").click(function () {
                    //window.ControlAccess for refcontrolaccesslist
                    //window.ActionList for refaccesslist

                    //Uncheck all Access
                    $('.ccheck').attr('checked', false);

                    $le = $(this);
                    var test = $le.val();
                    window.tester = test;
                    //console.log(test);


                    var AL = window.ActionList;
                    var CA = window.ControlAccess;

                    for (var c1 = 0; c1 < CA.length; c1++) {
                        var CACI = CA[c1];
                        if (test == CACI.controlID) {
                            for (var a1 = 0; a1 < AL.length; a1++) {
                                var ALAI = AL[a1];
                                if (ALAI.ID == CACI.accessID) {
                                    //$('.ccheck').attr('checked', CACI.isDeleted.isActive);
                                    //QUERY CHECK THAT HAS A VALUE
                                    $('.ccheck[value=' + CACI.accessID + ']').attr('checked', !CACI.isDeleted);


                                }
                            }
                        }
                    }
                });
            });


        
        //$('.privilege__clone').find('input').attr('checked', data3[v].RoleLevelControlAccess[t].isAllowed);




        //--------------------------------------DROPDOWN Data--------------------------------------

        //CONTROLS for Systems
        $.getJSON('http://192.168.1.100:98/api/refsystem', function (data) {
            //console.log(data[0]);
            for (var i = 0; i < data.length; i++) {
                $('.system_data').append(new Option(data[i].SystemTitle, data[i].SystemName));

            }
        })

        //LEVEL CONTROL ACCESS FOR LEVEL
        $.getJSON('http://192.168.1.100:98/api/reflevel', function (data5) {

            for (var a = 0; a < data5.length; a++) {
                //console.log(data5[a]);
                $('.dropdown_level_data').append(new Option(data5[a].Level, data5[a].ID));
                $('.dropdown_level_data1').append(new Option(data5[a].Level, data5[a].ID));
                
            }
            LevelLoaded();
        });


        //LCA for Role
        $.getJSON('http://192.168.1.100:98/api/refroleslist', function (data7) {
            //console.log(data[0]);
            for (var d = 0; d < data7.length; d++) {
                $('.dropdown_role_data').append(new Option(data7[d].RoleName, data7[d].ID));

            }
        })











        //--------------------------------------Text Data--------------------------------------


        //CONTROLS for Controller
        $.getJSON('http://192.168.1.100:98/api/refcontrollist', function (data1) {

            //SET THE GLOBAL
            //console.log(jsonData);
            window.ControlList = data1;


            for (var x = 0; x < data1.length; x++) {
                //console.log(data1[x]);

                //CLONE CONTROL HERE
                var clone = $('.controlclone');

                //MODIFY
                clone.find('.controller_data').html(data1[x].controlName);

                var x1 = $('.controlclone').find('input').val(data1[x].ID);
                var x2 = $('.control_data_icb[value=' + data1[x].ID + ']').attr('checked', data1[x].allowControl);

                window.ControlID = x1;
                //var IDdata = $el.parents('#myModalactions').attr('data_id_actions');
                

                //APPEND HERE
                $('.controlcontainer').append('<div class="content">' + clone.html() + '</div>');
            }
            setModal();
        })


        //ACTIONS/METHOD/ACCESS
        $.getJSON('http://192.168.1.100:98/api/RefAccessList', function (data2) {
            for (var z = 0; z < data2.length; z++) {
                //console.log(data2[z]);

                window.ActionList = data2;

                var cloneactions = $('.actions_clone')

                cloneactions.find('.actions_data').html(data2[z].Action2);

                var x1 = $('.actions_clone').find('input').val(data2[z].ID);

                $('.actions_container').append('<div class="content">' + cloneactions.html() + '</div>')
            }
            actionModal();
        })



        $.getJSON('http://192.168.1.100:98/api/RefControlAccessList/', function (data9) {
            for (var m = 0; m < data9.length; m++) {
                window.ControlAccess = data9;
                //console.log(window.ControlAccess);
            }
        });






        
        //CONTROLS for Controller
        $.getJSON('http://192.168.1.100:98/api/rolelevelcontrolaccess', function (data3) {
            for (var v = 0; v < data3.length; v++) {
                //console.log(data3[v]);

                window.idid = data3[v];
                //console.log(window.idid);

                //CLONE CONTROL HERE
                var clonecontrols = $('.level_clone');
                //clear
                clonecontrols.find('.privilege__wrapper .priviledge').remove();
                //MODIFY
                clonecontrols.find('.level_data').html(data3[v].controlName);
                clonecontrols.find('.level_data').attr('data_data', data3[v].ID);
                if (data3[v].RoleLevelControlAccess != null) {
                    for (var t = 0; t < data3[v].RoleLevelControlAccess.length; t++) {

                        $('.privilege__clone').find('span').text(data3[v].RoleLevelControlAccess[t].ControlAccessDisplayTitle);
                        $('.privilege__clone').find('input').val(data3[v].RoleLevelControlAccess[t].ControlAccessID);
                        $('.privilege__clone').find('input').attr('checked', data3[v].RoleLevelControlAccess[t].isAllowed);

                        // console.log(data3[v].RoleLevelControlAccess[t].ControlAccessDiplayTitle);
                        
                        clonecontrols.find('.privilege__wrapper').append('<div class="priviledge">' + $('.privilege__clone').html() + '</div>');
                    }
                }

                //APPEND HERE
                $('.level_container').append('<tr class="levelrows">' +clonecontrols.html() + '</tr>');
            }
            $('.levelrows .privilege__clone').remove();
        })

        //Function

        function LevelLoaded() {
            //ROLE LEVEL DEFAULT
            $.getJSON('http://192.168.1.100:98/api/refroleslist', function (data6) {
                for (var b = 0; b < data6.length; b++) {
                    //console.log(data6[b]);

                    //CLONE CONTROL HERE
                    var clonerole = $('.roleclone');

                    //MODIFY
                    clonerole.find('.role_data').html(data6[b].RoleName);
                    clonerole.find('.role_data').attr('data_id_level', data6[b].ID)
                    clonerole.find('.dropdown_level_data').attr('data-roleid', data6[b].ID);
                    //clonerole.attr("data-role-id", );
                    var cc = $('<div>' + clonerole.html() + '</div>');
                    cc.find('.dropdown_level_data').addClass('roleleveldata');
                    var p = $('<div class="content" data-role-id="' + data6[b].ID + '">' + cc.html() + '</div>');
                    //APPEND HERE
                    $('.rolecontainer').append(p);
                    p.find('.dropdown_level_data').val(data6[b].DefaultLevel);
                }
            })
        }
/*
                    $.getJSON('http://192.168.1.100:98/api/refcontrollist', function (data8) {
                        for (var g = 0; g < data8.length; g++) {
                            console.log(data8[g].ID);
                            var x1 = $('.controlclone').find('input').val(data8[g].ID);
                            //console.log(x1);
                            return x1;
                        }
                    })

        */
    </script>


}