
/*MAIN WRAPPER*/
.user__page__wrapper{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 60px auto;
    grid-row-gap: 15px;
}

.user__page__wrapper .page__header {
    display: grid;
    background: #585858;
    border-radius: 5px;
    grid-template-columns: minmax(400px,auto) 290px;
    color: #fff;
}

.user__page__wrapper .page__header .title {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

.user__page__wrapper .page__header .title h1 {
    margin: 0;
    font-size: 2rem;
}

.user__page__wrapper .page__header .header__button {
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.user__page__wrapper .page__header .header__button button {
    color: white;
    font-weight: 500;
    width: 75px;
    height: 30px;
    background: none;
    border: 1px solid gray;
    border-radius: 4px;
    cursor:pointer;
}
.user__page__wrapper .page__header .header__button button.ellipsis__btn{
    width: 30px;
}

.page__body {
    margin-top: 30px;
}

/*TABLE CSS*/
.page__body .user__list__table {
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 7px;
    width: 100%;
    border-radius: .5em;
    overflow:hidden;
}

.user__list__table > thead > tr {
    color: white;
    height: 50px;
    text-align: center;
    font-weight: 500;
}
.user__list__table > thead > tr > td {
    background: forestgreen;
}

.user__list__table > thead > tr > td:first-child,
.user__list__table > thead > tr > td:nth-child(2){
    width: 30%;
}

.user__list__table > thead > tr > td:nth-child(3),
.user__list__table > thead > tr > td:nth-child(4) {
    width: 15%;
}

.user__list__table > thead > tr > td:nth-child(5){
    width: 10%;
}

.user__list__table > tbody > tr:nth-child(even) {
    background: #505050;
}
.user__list__table > tbody > tr:nth-child(odd) {
    background: #606060;
}
.user__list__table > tbody > tr > td {
    padding: 2px 8px 2px 8px;
    color: #fff;
    text-align:center;
    height: 30px;
}
.user__list__table > tbody > tr > td:nth-child(even) {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
}



/*MODAL*/
/* The Modal (background) */
.user-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.user-modal .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

/* The Close Button */
.user-modal .modal-content .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.user-modal .modal-content .close:hover,
.user-modal .modal-content .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.user__modal__wrapper{
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows:auto;
    grid-row-gap: 15px;
}

.user__modal__wrapper .form__content{
    display:grid;
    grid-template-columns: 60px auto;
    grid-template-rows: 100%;
    grid-column-gap: 5px;
}