body {
}
/*--------------Entry content main structure-----------*/
.entrycontent {
    font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial;
    padding: 15px;
    height: 100%;
    max-width: 2200px;
    background-color: none;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 60px auto 40px auto 120px;
    grid-template-areas: "headtitle" "route" "tabletitle" "tableitem" "footer";
    grid-gap: 10px;
}
/*---------------Header title ------------------------*/
.entrycontent__entryheadertitle {
    grid-area: headtitle;
    border-radius: 5px;
    background-color: #585858;
    color: white;
    display: grid;
    grid-template-columns: minmax(400px,auto) 290px;
}
.entryheadertitle__entrylabel {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}
.entryheadertitle__entrylabel > h1 {
    margin: 0;
    font-size: 2rem;
}
.entryheadertitle__entrymenubutton {
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.entryheadertitle__entrymenubutton button{
    cursor:pointer;
}
.entrymenubutton__nce {
    color: white;
    font-weight: 500;
    width: 75px;
    height: 30px;
    background: none;
    border: 1px solid gray;
    border-radius: 4px;
}
.entrymenubutton__ell {
    color: white;
    font-weight: 500;
    width: 30px;
    height: 30px;
    background: none;
    border: 1px solid gray;
    border-radius: 4px;
}


/*-----------------------ENTRY CONTENT------------------------*/
.entrycontent__route {
    grid-area: route;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-top:20px;
}

.entrycontent__route fieldset {
    border: 1px solid #A9A9A9;
    border-radius: 5px;
}

.entrycontent__route fieldset legend {
    font-weight: 500;
    font-size: 1.1em;
}

.fieldset__content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    grid-gap: 15px;
}

.fieldset__content .content {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: auto;
}

.fieldset__content .content label {
    font-size: .9em;
    margin: 0;
    padding: 3px;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
}

.fieldset__content .content input,
.fieldset__content .content select {
    font-size: .8em;
    font-family: Lato;
    font-weight: 500;
    padding: 3px;
    box-sizing: border-box;
    border: .5px solid #C8C8C8;
    border-radius: 4px;
    width: 100%;
    line-height: 23px;
    font-family: Tahoma;
}

.fieldset__content .content select {
    font-size: .9em;
}


.entrycontent__route input:read-only,
.entrycontent__route input:disabled,
.entrycontent__route select:disabled {
    background: #e9ecef;
    cursor: default;
}

/*-------------Table title here-----------------------*/
.entrycontent__tabletitle {
    grid-area: tabletitle;
    display: table;
    height: 100%;
}

    .entrycontent__tabletitle > h1 {
        margin: 0;
        font-family: sans-serif,'Franklin Gothic Medium', 'Arial Narrow', Arial;
        font-weight: 500;
        font-size: 1.7em;
        display: table-cell;
        vertical-align: bottom;
    }
/*-------------Table items here-----------------------*/
.entrycontent__tableitem {
    grid-area: tableitem;
}

.tableitem__table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border: 1px solid #E8E8E8;
    background: #585858;
    width: 100%;
    height: auto;
    color: #fff;
}

    .tableitem__table > thead > tr {
        color: white;
        background-color: forestgreen;
        height: 40px;
        text-align: center;
        font-weight: 500;
    }

        .tableitem__table > thead > tr > td:nth-child(1) {
            width: 8%;
        }

        .tableitem__table > thead > tr > td:nth-child(2) {
            width: 40%;
        }

        .tableitem__table > thead > tr > td:nth-child(3) {
            width: 10%;
        }

        .tableitem__table > thead > tr > td:nth-child(4) {
            width: 12%;
        }

        .tableitem__table > thead > tr > td:nth-child(5) {
            width: 15%;
        }

        .tableitem__table > thead > tr > td:nth-child(6) {
            width: 15%;
        }

    .tableitem__table > tbody > tr > td:nth-child(1) {
        text-align: center;
    }

    .tableitem__table > tbody > tr > td:nth-child(2) > input {
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tableitem__table > tbody > tr > td:nth-child(3) > input {
        text-align: center;
    }

    .tableitem__table > tbody > tr > td:nth-child(4) > input {
        text-align: center;
    }

    .tableitem__table > tbody > tr > td:nth-child(5) > input {
        text-align: right;
    }

    .tableitem__table > tbody > tr > td:nth-child(6) > input {
        text-align: center;
    }

    .tableitem__table > tbody > tr {
        height: auto;
    }

.tableitem__table > tbody > tr > td {
    height: 30px;
    border-left: 1px solid gray;
    border: 1px solid gray;
    padding: 2px 2px 2px 8px;
}

.tableitem__table > tbody > tr > td > input {
    background: none;
    font-size: .8em;
    font-weight: 500;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border: none;
    line-height: 22px;
    color: #fff;
}

.entrycontent__footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 50px 1fr;
}
.footer__upload {
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: right;
    display: flex;
    align-items: center;
}

.footer__upload > input {
    display: none;
}
.footer__upload > label {
    background-color: #202020;
    color: white;
    height: 40px;
    width: 180px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.footer__save {
    grid-column-start: 3;
    grid-row-start: 2;
    text-align: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer__save > button {
    background-color: forestgreen;
    font-size: 1em;
    font-weight: 500;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor:pointer;
    color:#fff;
}

.entrycontent__tableitem .add__new_item__stockEntry {
    text-decoration: none;
    color: #000000;
}

.entrycontent__tableitem .add__new_item__stockEntry:hover {
    text-decoration: underline;
}

.entrycontent__tableitem .position__relative {
    position: relative;
}

.entrycontent__tableitem .remove__btn {
    position: absolute;
    cursor: pointer;
    right: -15px;
    color: #dc3545;
    top: 4px;
}



/*JQUERY VALIDATION*/
.error {
    border: 1px solid #f00 !important;
}

.valid {
    border: 1px solid #c9d6df;
}


/*NEW CSS*/
/*#region ITEM ATTRIBUTE CSS*/
.has__attribute__container {
    display: grid;
    grid-template-areas: "item_name" "item_attribute" "footer";
    grid-template-rows: auto;
    grid-template-columns: 700px;
    grid-row-gap: 10px;
    display: none;
}

.item__name {
    grid-area: item_name;
    display: grid;
    height: auto;
    grid-column-gap: 15px;
    grid-template-columns: 120px 1fr;
    margin-bottom: 15px;
}

.item__attribute {
    grid-area: item_attribute;
    display: grid;
    height: auto;
    grid-column-gap: 15px;
    grid-row-gap: 10px;
    grid-template-columns: 120px 1fr 80px 1fr;
    margin-bottom: 15px;
}

.has__attribute__footer {
    grid-area: footer;
}


.has__attribute__container input,
.has__attribute__container select {
    font-size: .8em;
    font-family: Lato;
    font-weight: 500;
    padding: 3px;
    box-sizing: border-box;
    border: .5px solid #C8C8C8;
    border-radius: 4px;
    /* background-color: #F0F0F0; */
    width: 100%;
    line-height: 23px;
}

/*#endregion ITEM ATTRIBUTE CSS*/


/*@media only screen and (max-width:736px) and (orientation:landscape) {
    
}

@media only screen and (max-width:640px) and (orientation:portrait) {

}*/


@media (min-width: 768px) and (max-width: 1024px) {
    /* 
      ##Device = Tablets, Ipads (portrait)
      ##Screen = B/w 768px to 1024px
    */

}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* 
      ##Device = Tablets, Ipads (landscape)
      ##Screen = B/w 768px to 1024px
    */
    .entrycontent__route {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "supplier" "project" "delmethod";
        grid-gap: 10px;
    }

    .entrycontent__tabletitle > h1 {
        font-weight: 500;
        font-size: 1.4em;
    }

    .fieldset__supcontent {
        grid-template-columns: 110px 1fr;
    }

    .fieldset__projcontent {
        grid-template-columns: 110px 1fr;
    }

    .fieldset__delcontent {
        grid-template-columns: 110px 1fr;
    }

    .tableitem__table > thead > tr {
        font-size: .8em;
    }

    .tableitem__table > tbody > tr > td > input {
        font-size: 1em;
        font-weight: 500;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    /* 
        ##Device = Low Resolution Tablets, Mobiles (Landscape)
        ##Screen = B/w 481px to 767px
    */

    .entrycontent {
        grid-template-columns: 100%;
    }
    .entrycontent__entryheadertitle {
        grid-template-columns: 100%;
    }

    .entrycontent__entryheadertitle .entryheadertitle__entrymenubutton {
        display: none;
    }

    .entrycontent__route {
        grid-template-columns: 100%;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .entrycontent__tabletitle > h1 {
        font-weight: 500;
        font-size: 1.4em;
    }

    .tableitem__table > thead > tr {
        font-size: .8em;
    }

    .tableitem__table > tbody > tr > td > input {
        font-size: 1em;
        font-weight: 500;
    }

    .entrycontent__headertitle{
        grid-template-columns: 100%;
    }

    .entrycontent__headertitle .title .quick__links__buttons {
        display: none;
    }
    .entrycontent__headertitle .quick__links {
        grid-template-columns: 100%;
    }
    .entrycontent__headertitle .quick__links .quick__links__content {
        grid-template-columns: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    /* 
      ##Device = Most of the Smartphones Mobiles (Portrait)
      ##Screen = B/w 320px to 479px
    */
    .entrycontent__entryheadertitle{
        grid-template-columns: 100%;
    }
    .entrycontent__entryheadertitle .entryheadertitle__entrymenubutton {
        display:none;
    }
    .entrycontent__route {
        grid-template-columns: 100%;
    }
    .quick__links__buttons{
        display:none;
    }
    .entrycontent__headertitle {
        grid-template-columns: 100%;
    }
    .entrycontent__headertitle .title{
        grid-template-columns: 100%;
    }
    .entrycontent__headertitle .title .quick__links__buttons {
        display: none;
    }
    .entrycontent__headertitle .quick__links{
        grid-template-columns:100%;
    }
    .entrycontent__headertitle .quick__links .quick__links__content {
        grid-template-columns: 100%;
    }
}
