

.masterlist__wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 15px;
    height: 100%;
    padding: 0;
    background: #D8D8D8;
}

.masterlist__wrapper .masterlist__header {
    height: 60px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #404040;
    color: white;
    display: grid;
    grid-template-columns: minmax(400px,auto) 290px;
}

.masterlist__wrapper .masterlist__header .masterlist__header__label {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}
.masterlist__header__label h1 {
    margin: 0;
    margin-left: 30px;
    font-size: 1.8rem;
    font-weight: 500;
}

.masterlist__wrapper .masterlist__header .masterlist__header__button {
    padding: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.masterlist__header__button button {
    cursor: pointer;
    color: white;
    font-weight: 500;
    height: 30px;
    background: none;
    border: 1px solid gray;
    border-radius: 4px;
}
.masterlist__header__button button:hover {
    background: #707070;
}
.masterlist__header__button .default__button {
    width: 75px;
}
.masterlist__header__button .ell__button {
    width: 30px;
}


.masterlist__insideWrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 15px;
    padding: 15px;
}


.content__wrapper{
   display:grid;
   grid-template-columns: 100%;
   grid-template-rows: auto;
}

.content__wrapper .form__content{
    display:grid;
    grid-template-columns: 80px auto;
    grid-gap:15px;
    margin-bottom:15px;
}

.content__wrapper .form__content__checkbox{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-template-rows: 100%;
}

.content__wrapper .form__content__checkbox .checkbox__content{
    display:grid;
    grid-template-columns:25px auto;
    grid-template-rows: 100%;
}

.content__wrapper .button__content__footer{
    text-align:right;
    padding-top:30px;
}

.content__wrapper .button__content__footer button {
    background-color: forestgreen;
    font-size: 1em;
    font-weight: 500;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    border: 1px solid forestgreen;
    transition: all .3s linear;
}

.content__wrapper .button__content__footer button:hover {
    background: #196d19;
}

.content__attribute__wrapper {
    display: flex;
    flex-direction:column;
    margin-left: 60px;
    margin-right: 60px;
}

.content__attribute__wrapper label{
    margin-bottom: 15px;
    text-transform:uppercase;
}

.content__attribute__wrapper .content__attribute {
    display:grid;
    grid-template-rows:auto;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
}
.content__attribute__wrapper .content__attribute .content {
    display:grid;
    grid-template-rows: 100%;
    grid-template-columns: 30px auto;
    grid-column-gap: 10px;
}

/*FORM INPUTS*/
.content__wrapper input,
.content__wrapper select {
    font-size: .9em;
    font-family: Lato;
    font-weight: 500;
    padding: 3px;
    box-sizing: border-box;
    border: .5px solid #C8C8C8;
    border-radius: 4px;
    width: 100%;
    line-height: 23px;
}

.content__wrapper select{
    font-size: .9em;
}

/*JQUERY VALIDATION*/
.error {
    border: 1px solid #f00 !important;
}

.valid {
    border: 1px solid #c9d6df;
}