* {
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
}
a{
    color: #222831;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: Calibri, sans-serif;
}

/*--------------------------------------------
        LAYOUT CSS
---------------------------------------------*/
.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 17% auto 17%;
    /*grid-template-rows: 10% 80% 10%;*/
    grid-auto-rows: minmax(70px, max-content);
    grid-template-areas: "header header header" "sideL main sideR";
}

.header,
.left-sidebar {
    background: #222831;
    color: #fff;
}

.content,
.right-sidebar {
    background: #eeeeee;
    color: #393e46;
}


.header {
    grid-area: header;
}

.left-sidebar {
    grid-area: sideL;
}

.content {
    grid-area: main
}

.right-sidebar {
    grid-area: sideR
}

.footer {
    grid-area: footer
}

.header .for-desktop {
    width: 100%;
    text-align: right;
}

.header .for-mobile{
    display: none;
}

.header .header-title {
    width: 100%;
    display: flex;
    padding: 0 15px;
}
.header .header-title span {
    font-size: 20px;
}
/*------------------------------------------------------
  JQUERY UI AUTOCOMPLETE
--------------------------------------------------------*/
.ui-autocomplete.ui-widget {
    font-family: Calibri, sans-serif;
    font-size: 13px;
}

/*-----------------------------------------------------
        HEADER CSS
-----------------------------------------------------*/
.header {
    position: fixed;
    top: 0;
    border-bottom: 1px solid #fff;
    z-index: 9999;
    width:100%;
    min-height:70px;
}


/*---------------------------------------------------
        LEFT SIDEBAR CSS
---------------------------------------------------*/
.left-sidebar{
    position: fixed;
    top: 70px;
    min-height:100%;
    /*max-height:100%;*/
    min-width:17%;
    max-width:17%;
}
.left-sidebar ul{
    list-style: none;
    margin:0;

}
.left-sidebar a{
    color: #fff;
}


/*------------------------------------------------
        RIGHT SIDEBAR CSS
------------------------------------------------*/
.right-sidebar {
    position: fixed;
    top: 70px;
    right: 0;
    min-height: 100%;
    /*max-height: 100%;*/
    min-width: 17%;
    max-width:17%;
}


/*-------------------------------------------------
        CONTENT CSS
-------------------------------------------------*/
.content {
    min-height: calc(100vh - 70px);
    display: grid;
    /*grid-template-rows: 20% 70% 10%;*/
    grid-template-areas: "content-header" "content-body" "content-footer";
    grid-auto-rows: minmax(50px, max-content);
    /*padding: 10px;*/
    border-right: 1px solid black;
}
.content-header{
    grid-area: content-header;
    padding: 15px;
}
.content-body{
    grid-area: content-body;
    padding: 15px 15px 15px 0;
}
.content-footer{
    grid-area: content-footer;
    padding: 15px;
}


/*------------------------------------------------
        FOOTER CSS
-------------------------------------------------*/
.footer {
    background: #eeeeee;
    color: #393e46;
    border-top: 1px solid #fff;
}


/*------------------------------------------------
        FIELDSET CSS
-------------------------------------------------*/

fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
}


/*-------------------------------------------------
        FORM CSS
--------------------------------------------------*/
.text-center{
    text-align:center;
}
.custom-form-group{
    margin:.6rem 0;
}
    .custom-form-group input[type=text],
    .custom-form-group input[type=password],
    .custom-form-group select {
        width: 100%;
        border: 1px solid #c9d6df;
        height: 30px;
        padding: 0.375rem 0.75rem;
        border-radius: 5px;
        outline: none;
    }

.custom-form-group > input:disabled, .custom-form-group > input[readonly],
.custom-form-group > select:disabled, .custom-form-group > select[readonly]{
    background-color: #e9ecef;
    opacity: 1;
}

.custom-form-group input[type=text]:focus,
.custom-form-group input[type=password]:focus {
   border: 1px solid 
}

/*-------------------------------------------------
        TABLE CSS
-------------------------------------------------*/
.custom-table{
    width: 100%;
    border-collapse: collapse;
}
.custom-table .remove-btn {
    position: absolute;
    cursor: pointer;
    right: -15px;
    color: #dc3545;
    top: 4px;
}
.custom-table thead tr {
    background: #4ecb4a;
    height: 50px;
    border: 1px solid #fff;
    color: #fff;
}
.custom-table thead tr td{
    font-size: 23px;
    text-align: center;

}
#transferStockTable,
#newStockEntryTable {
    border: 1px solid #fff;
}
#transferStockTable tr input,
#newStockEntryTable tr input{
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    height: 30px;
}
#transferStockTable tr input:focus,
#newStockEntryTable tr input:focus {
    outline: none;
    border-bottom: 1px solid #a6e3e9;
}
#transferStockTable tbody td,
#newStockEntryTable tbody td{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}


.custom-btn {
    padding: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    color: #303841;
    background: #f8f9fa;
    border-color: #f8f9fa;
    border-radius: 5px;
}
.custom-btn:hover {
    background: #dde1e5;
    border-color: #dde1e5;
}

.custom-save-btn {
    background: #28a745;
    border-color: #28a745;
    color: #fff;
}
.custom-save-btn:hover {
    background: #1f8236;
    border-color: #1f8236;
}
.custom-info-btn {
    background: #17a2b8;
    border-color: #17a2b8;
    color: #fff;
}
.custom-info-btn:hover {
    background: #137a8a;
    border-color: #137a8a;
}


/*------------------------------------------
        OTHER CSS
------------------------------------------*/
.stockEntry_transactions {
    padding:5px 15px;
}
hr {
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.row-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 15px;
}
.row-container .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.row-container #col-1,
.row-container #col-2{
    padding-right: 15px;
}

/*SIDEBAR CSS*/
.sidebar {
    height: 100%;
    padding-top: 16px;
    padding-left: 0;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    /*color: #818181;*/
    display: block;
}

.sidebar a:hover {
    background: rgba(255, 255, 255, .1);
}

.d-none {
    display: none;
    transition: all 0.3s;
}
.sub-menu{
    padding-left: 60px !important;
}
.child-sub-menu{
    padding-left: 85px !important;
}
.sub-menu i.fa-circle {
    font-size: 8px;
    position: absolute;
    top: 18px;
    left: 43px
}
button:disabled{
    pointer-events: none;
    opacity: .8;
}
i.caret {
    transition: all .2s ease;
}
.open-menu i.caret{
    transform:rotate(90deg);
}

#userRoleTable td, #userRoleTable th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: center;
}
.table-container {
    display: flex;
    width: 100%;
}
.mobile-menu {
    display: none;
    position: absolute;
    top: 17px;
    left: 15px;
    z-index: 99999;
    position:fixed;
}
.mobile-menu .custom-btn {
    font-size: 18px;
    background: transparent;
    color: #fff;
    border:none;
}

/*JQUERY VALIDATION*/
.error {
    border: 1px solid #f00 !important;
}

.valid {
    border: 1px solid #c9d6df !important;
}
.left-sidebar .sidebar-logo {
    margin-top: 40px;
    margin-bottom: 35px;
    text-align: center;
}
.left-sidebar .sidebar-logo img {
    width: 150px;
}
.left-sidebar hr {
    width: 90%;
    background: #fff !important;
}



@media screen and (max-width: 991px) {
    /* start of large tablet styles */

}

@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
    .mobile-menu {
        display: block;
    }
    .wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "header" "main";
        grid-template-rows: 100px auto auto;
    }
    .header{
        height: 100px;
    }
    .right-sidebar {
        display: none;
    }
    .left-sidebar{
        display: none;
    }
    .left-sidebar.mobile-menu-open{
        display:block;
    }
    .left-sidebar{
        max-width:75%;
        min-width: 75%;
    }
    .left-sidebar .sidebar-logo, 
    .left-sidebar hr{
        display: none;
    }
    .wrapper .content-body .row-container {
        margin-top: 0;
    }
    .content-body {
        width: 100vw;
    }
    .row-container .col {
        flex-basis: unset;
    }
    .row-container #col-1, .row-container #col-2 {
        padding-right: 0;
    }
    .custom-table thead tr td {
        font-size: 15px;
    }
    .table-container {
        padding-left: 15px;
        overflow-x: auto;
    }
    .content .content-header h1 {
        margin: 0;
    }
    .header .for-desktop {
        display: none;
    }
    .header .for-mobile {
        display: block;
    }
    .header .for-mobile img {
        display: block;
        padding-top: 5px;
        width: 10%;
        margin-left: auto;
        margin-right: auto;
    }
    .header .header-title {
        margin-top: 2px;
    }
    .header .header-title span {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .content-header .title {
        font-weight: 500;
    }
    legend.scheduler-border {
        font-weight: 500 !important;
    }
    
}

@media screen and (max-width: 479px) {
    /* start of phone styles */

    .wrapper{
        grid-template-rows: 70px auto auto;
    }
   
    .header .header-title span{
        font-size: 16px;
    }
    .content-header .title {
        font-size: 29px;
    }
    .header{
       height: auto;
    }

}

