* {
    box-sizing: border-box;
} 

body {
    margin: 0;
    font-family: Calibri, sans-serif;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 17% auto 17%;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: "header header header" "sideL main sideR" "footer footer footer"
}

.header {
    grid-area: header;
}

.left-sidebar {
    grid-area: sideL;
}

.content {
    grid-area: main
}

.right-sidebar {
    grid-area: sideR
}

.footer {
    grid-area: footer
}



@media only screen and (max-width: 500px) {
    .wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "header" "main" "footer"
    }
    .right-sidebar,
    .left-sidebar {
        display: none;
    }
}

/*------------------------------------------------------
  JQUERY UI AUTOCOMPLETE
--------------------------------------------------------*/
.ui-autocomplete.ui-widget {
    font-family: Calibri, sans-serif;
    font-size: 13px;
}

