.stock__inquiry__wrapper{
    display:flex;
    flex-direction: column;

}

.stock__inquiry__wrapper div {

}

.stock__inquiry__header{
    border: 1px solid gray;
    padding: 10px;
    border-radius: 5px;
    background: gray;
    margin-bottom: 20px;
    
}

.stock__inquiry__header h1{
    margin:0;
    color: #fff;
}

.stock__inquiry__filter {
    display: grid;
    grid-template-columns: 5fr 2fr 3fr 3fr 2fr;
}
.stock__inquiry__filter div{
   
}
.stock__inquiry__filter div{
    padding: 5px;
}
.stock__inquiry__filter div input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px;
    box-sizing: border-box;
    margin-top:3px;
}

.stock__inquiry__items{
    margin-top: 20px;
}
.stock__inquiry__items label {
    display: block;
}
.stock__inquiry__items input {
    min-width: 300px;
    width: 40%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 3px;
    box-sizing: border-box;
    margin-top: 3px;
}
fieldset{
    border-radius: 5px;
}

.stock__inquiry__tableitem table{
    width: 100%;
    border-collapse: separate;
    border: 1px solid gray;
    border-radius: .5em;
    border-spacing: 0;
    overflow:hidden;
}

/*.stock__inquiry__tableitem table td{
    border:1px solid;
}*/

.stock__inquiry__tableitem table thead tr{
    background: forestgreen;
    height: 35px;
}

.stock__inquiry__tableitem table thead tr td{
    color: #fff;
    text-align:center;
}

.stock__inquiry__tableitem table tbody tr td:nth-child(even){
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.stock__inquiry__tableitem table tbody tr:nth-child(even) {
    background: #505050;
}
.stock__inquiry__tableitem table tbody tr:nth-child(odd) {
    background: #606060;
}