@{
    ViewBag.Title = "Create Item Page";
}

@section Styles{

    <link rel="stylesheet" href="~/Content/itemMasterList.css"/>
    
}


<form action="#" name="ItemMasterlistForm" method="post" autocomplete="off">
    <div class="item__masterlist">
        <div class="item__masterList__wrapper">
            <div class="form__content">
                <label>Category:</label>
                <select class="category2__wrapper" name="Category2"></select>
            </div>
            <div class="form__content">
                <label>Name:</label>
                <input type="text" name="Name" value="" />
            </div>
            <div class="form__content">
                <label>Code:</label>
                <input type="text" name="Code" value="" />
            </div>
            <div class="form__content">
                <label>Tag:</label>
                <input type="text" name="Tag" class="" value="" />
            </div>
            <div class="form__content__checkbox">
                <div class="checkbox__content">
                    <input type="checkbox" name="HasAccountability" value="" />
                    <label>Has Accountability</label>
                </div>
                <div class="checkbox__content">
                    <input type="radio" name="Attribute" id="has__attribute" value="" />
                    <label>Has Attribute</label>
                </div>
                <div class="checkbox__content">
                    <input type="radio" name="Attribute" id="no__attribute" value="" />
                    <label>No Attribute</label>
                </div>
            </div>
            <div class="form__content__attribute" id="attribute__name__wrapper" style="display:none">
                <hr />
                <label>Attribute: </label>
                <div class="content__attribute">
                   
                </div>
            </div>
            <div class="button__content__footer">
                <button type="submit">Save</button>
            </div>
        </div>
    </div>
</form>

<div class="content__clone" style="display:none;">
    <div class="content">
        <input type="checkbox" name="AttributeName" value="" />
        <label></label>
    </div>
</div>


@section Scripts{
    <script>

        $('form[name=ItemMasterlistForm]').validate({

            rules: {
                Name: "required",
                Code: "required",
                Tag: "required"
            },
            errorPlacement: function () {
                return false;
            },
            submitHandler: function (form, event) {
                event.preventDefault();

                fnSaveItemMasterList(form);
            }

        });

        function fnSaveItemMasterList(form) {

            event.preventDefault();

            var $this = $(form);

            var cat3 = [];

            $this.find('input[name=AttributeName]').each(function () {

                if ($(this).is(":checked")) {

                    //console.log($(this).val());

                    var obj = {
                        ID: 0,
                        Cat3ID_003: 0,
                        AttrId_006: $(this).val(),
                        isRequired: true
                    }

                    if (obj.AttrId_006 > 0) {
                        cat3.push(obj);
                    }
                }

            });

            var itemData = {
                ID: 0,
                Cat2ID_002: $this.find('select[name=Category2]').val(),
                Name: $this.find('input[name=Name]').val(),
                hasAttribute: $this.find('input#has__attribute').is(":checked") ? true : false,
                Category3Defaults: cat3,
                ItemsMasterListInfo: {
                    Code: $this.find('input[name=Code]').val(),
                    Tag: $this.find('input[name=Tag]').val(),
                    hasAccountability: $this.find('input[name=HasAccountability]').is(":checked") ? true : false
                }
            };

            //console.log(itemData);

            $.ajax({
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json"
                },
                type: 'post',
                url: '/Data/ItemFullName',
                dataType: 'json',
                data: JSON.stringify(itemData),
                contentType: "application/json",
                success: function (response) {

                    if (response.RetVal === 1) {
                        swal.fire('Success', response.Message, 'success');
                    }
                    else {
                        swal.fire('Error', response.Message, 'error');
                    }
                },
                error: function (jqXHR, exception) {

                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }

                    swal.fire('Error', msg, 'error');
                },
            })
        }

        $('input[name=Attribute]').on('click', function () {

            if ($(this).attr('id') === 'has__attribute') {
                $('#attribute__name__wrapper').removeAttr('style');

                $.getJSON('/Data/Attribute/', function (data) {
                    //console.log(data);

                    if (data.length > 0) {

                        $('.content__attribute').html('');

                        for (var i = 0; i < data.length; i++) {

                            $('.content__clone').find('label').text(data[i].AttributeName);
                            $('.content__clone').find('input').val(data[i].ID);

                          
                            $('.content__attribute').append($('.content__clone').html());
                        }
                    }
                });
            }
            else {

                $('#attribute__name__wrapper').css({ "display": "none" });

                $('.content__attribute').html('');
            }

        });

        //Category 2
         $.getJSON('/Data/Category2/', function (data) {
             //console.log(data);

             if (data.length > 0) {
                 for (var i = 0; i < data.length; i++) {
                     $('.category2__wrapper').append(new Option(data[i].Name, data[i].ID));
                 }
             }
        });

    </script>
}


