@{
    ViewBag.Title = "Create Item Page";
}

@section Styles{

    <link rel="stylesheet" href="~/Content/itemMasterList.css" />
}


<div class="masterlist__wrapper">
    <form action="#" name="ItemMasterlistForm" onsubmit="fnSaveItemMasterList(event)" method="post" autocomplete="off">

        <div class="masterlist__header">
            <div class="masterlist__header__label">
                <h1>Add Item Masterlist</h1>
            </div>
            <div class="masterlist__header__button">
                <button class="default__button edit__entry" type="submit">Save</button>
                <button class="default__button new__entry" type="button">New</button>
                <button class="default__button clear__entry" type="button">Clear</button>
                <button class="ell__button" type="button">...</button>
            </div>
        </div>
        <div class="masterlist__insideWrapper">

            <div class="content__wrapper">
                <div class="form__content">
                    <label>Category:</label>
                    <select class="category2__wrapper" name="Category2"></select>
                </div>
                <div class="form__content">
                    <label>Name:</label>
                    <input type="text" name="Name" value="" required />
                </div>
                <div class="form__content">
                    <label>Code:</label>
                    <input type="text" name="Code" value="" required />
                </div>
                <div class="form__content">
                    <label>Tag:</label>
                    <input type="text" name="Tag" class="" value="" />
                </div>
                <div class="form__content__checkbox">
                    <div class="checkbox__content">
                        <input type="checkbox" name="HasAccountability" value="" />
                        <label>Has Accountability</label>
                    </div>
                    <div class="checkbox__content">
                        <input type="radio" name="Attribute" id="has__attribute" value="" />
                        <label>Has Attribute</label>
                    </div>
                    <div class="checkbox__content">
                        <input type="radio" name="Attribute" id="no__attribute" value="" />
                        <label>No Attribute</label>
                    </div>
                </div>
            </div>
            <div class="content__attribute__wrapper" id="attribute__name__wrapper" style="display:none">
                <label>Select Default Attribute: </label>
                <div class="content__attribute">

                </div>
            </div>

        </div>
    </form>

</div>

<div class="content__clone" style="display:none;">
    <input type="checkbox" name="AttributeName" value="" />
    <label></label>
</div>


@section Scripts{
    <script>

        DisplayCategory2();

        document.body.addEventListener('click', event => {

            if (event.target.getAttribute("name") !== "Attribute") {
                return;
            }

            HasAttribute(event);
        });
        0
        function fnSaveItemMasterList(event) {

            event.preventDefault();

            let el = event.target;

            var cat3 = [];

            document.querySelectorAll("input[name=AttributeName]").forEach((item, index) => {

                if (item.checked) {

                    var obj = {
                        ID: 0,
                        Cat3ID_003: 0,
                        AttrId_006: item.value,
                        isRequired: true
                    }

                    if (obj.AttrId_006 > 0) {
                        cat3.push(obj);
                    }
                }

            });



            var itemData = {
                ID: 0,
                Cat2ID_002: el.querySelector('select[name=Category2]').value,
                Name: el.querySelector('input[name=Name]').value,
                hasAttribute: el.querySelector('input#has__attribute').checked,
                Category3Defaults: cat3,
                ItemsMasterListInfo: {
                    Code: el.querySelector('input[name=Code]').value,
                    Tag: el.querySelector('input[name=Tag]').value,
                    hasAccountability: el.querySelector('input[name=HasAccountability]').checked
                }
            };

            console.log(itemData);

            return;

            JsonRequest('/Data/ItemFullName', 'POST', itemData, function (response) {

                if (response.RetVal === 1) {
                    alert(response.Message);
                }
                else {
                    alert(response.Message);
                }
            });

        }

        function HasAttribute(event) {
            let attrWrapper = document.getElementById("attribute__name__wrapper");
            let contentAttr = document.getElementsByClassName("content__attribute")[0];

            //console.log(event.target);

            if (event.target.getAttribute('id') === 'has__attribute') {
                attrWrapper.removeAttribute('style');

                JsonRequest('/Data/Attribute', 'GET', null, function (data) {

                    //console.log(data);

                    if (data.length > 0) {

                        contentAttr.innerHTML = '';

                        for (var i = 0; i < data.length; i++) {

                            let contentClone = document.getElementsByClassName("content__clone")[0].cloneNode(true);
                            contentClone.querySelector("label").textContent = data[i].AttributeName;
                            contentClone.querySelector("input").value = data[i].ID;
                            contentClone.removeAttribute('style');
                            contentClone.classList.add("content");

                            contentAttr.append(contentClone);

                        }
                    }
                });
            }
            else {
                attrWrapper.style.display = 'none';

                contentAttr.innerHTML = '';
            }

        }

        //$('input[name=Attribute]').on('click', function () {

        //    if ($(this).attr('id') === 'has__attribute') {
        //        $('#attribute__name__wrapper').removeAttr('style');

        //        $.getJSON('/Data/Attribute/', function (data) {
        //            //console.log(data);

        //            if (data.length > 0) {

        //                $('.content__attribute').html('');

        //                for (var i = 0; i < data.length; i++) {

        //                    $('.content__clone').find('label').text(data[i].AttributeName);
        //                    $('.content__clone').find('input').val(data[i].ID);


        //                    $('.content__attribute').append($('.content__clone').html());
        //                }
        //            }
        //        });
        //    }
        //    else {

        //        $('#attribute__name__wrapper').css({ "display": "none" });

        //        $('.content__attribute').html('');
        //    }

        //});

        function DisplayCategory2() {
            JsonRequest('/Data/Category2/', 'GET', null, function (data) {

                //console.log(data);

                if (data.length > 0) {
                    for (var i = 0; i < data.length; i++) {
                        document.getElementsByClassName("category2__wrapper")[0].append(new Option(data[i].Name, data[i].ID));
                    }
                }
            });
        }


    </script>
}


