@{
    ViewBag.Title = "Create Item Page";
}

@section Styles{

    <link rel="stylesheet" href="~/Content/itemMasterList.css"/>
    
}


<form action="#" onsubmit="fnSaveItemMasterList(event)" method="post">
    <div class="item__masterlist">
        <div class="item__masterList__wrapper">
            <div class="form__content">
                <label>Category:</label>
                <select></select>
            </div>
            <div class="form__content">
                <label>Name:</label>
                <input type="text" name="Name" value="" />
            </div>
            <div class="form__content">
                <label>Code:</label>
                <input type="text" name="Code" value="" />
            </div>
            <div class="form__content">
                <label>Tag:</label>
                <input type="text" name="Tag" class="" value="" />
            </div>
            <div class="form__content__checkbox">
                <div class="checkbox__content">
                    <input type="checkbox" name="HasAccountability" value="" />
                    <label>Has Accountability</label>
                </div>
                <div class="checkbox__content">
                    <input type="radio" name="Attribute" id="has__attribute" value="" />
                    <label>Has Attribute</label>
                </div>
                <div class="checkbox__content">
                    <input type="radio" name="Attribute" id="no__attribute" value="" />
                    <label>No Attribute</label>
                </div>
            </div>
            <div class="form__content" id="attribute__name__wrapper" style="display:none">
                <label>Attribute: </label>
                <select></select>
            </div>

            <div class="button__content__footer">
                <button type="submit">Save</button>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script>


        function fnSaveItemMasterList(event) {

            event.preventDefault();

            console.log("Test");

            return;

            var itemData = {
                ID: 0,
                Code: $(event.target).find('input[name=Code]').val(),
                Tag: $(event.target).find('input[name=Tag]').val(),
                hasAttribute: $(event.target).find('input[name=HasAttribute]').is(":checked") ? true : false
            };

            console.log(itemData);
        }

        $('input[name=Attribute]').on('click', function () {

            if ($(this).attr('id') === 'has__attribute') {
                 $('#attribute__name__wrapper').removeAttr('style');
            }
            else {
                 $('#attribute__name__wrapper').css({ "display": "none" });
            }

        });

    </script>
}


