@{
    ViewBag.Title = "Create Item Page";
}

<div class="row">
    <div class="col-md-12">
        <form action="/" method="post" autocomplete="off">
            <div class="form-group">
                <label>Generic Name</label>
                <input type="text" name="GenericName" value="" class="form-control form-control-sm shadow-none" />
            </div>
            <div class="form-group">
                <label>Property</label>
                <input type="text" name="Property" value="" class="form-control form-control-sm shadow-none" />
            </div>
            <div class="form-group">
                <label>Tags</label>
                <input type="text" name="Tag" value="" class="form-control form-control-sm shadow-none" />
            </div>
        </form>
    </div>
</div>


                                                                                                                  