@{
    ViewBag.Title = "Inv";
}

<div class="row">
    <div class="col-md-10">
        <p>Content Here!!</p>
        <div class="form-group">
            <input type="hidden" name="ID" id="tagID" value="" />
            <input type="text" name="InventoryItem" class="form-control shadow-none" style="width: 50%" id="tags" value="" />
        </div>
    </div>
    <div class="col-md-2">
        <small>Panel</small>
    </div>
</div>




@section Scripts{

    <script>
        $(function () {

            var item = [];

            var url = 'http://192.168.1.100:89/api/values';
            //var xhr = new XMLHttpRequest();

            //xhr.open('GET', url);
            //console.log('testing');
            //xhr.onreadystatechange = function (result) {
            //    console.log(this.responseText);
            //};
            //xhr.send(url);
            //return;

            $.ajaxSetup({
                async: false
            });

            //$.getJSON(url, function (data) {

            //    console.log(data);

            //    for (var i = 0; i < data.length; i++) {
            //        item.push(data[i].Name);

            //    }


            //});


            $.ajaxSetup({
                async: true
            });

            console.log(item);

            var availableTags = [
                {
                    "id": 1,
                    "value": "ActionScript",
                    "label": "ActionScript"
                },
                {
                    "id": 2,
                    "value": "AppleScript",
                    "label": "AppleScript"
                },
                {
                     "id": 3,
                    "value": "Asp",
                    "label": "Asp"
                },
                {
                     "id": 4,
                    "value": "BASIC",
                    "label": "BASIC"
                },
                {
                     "id": 5,
                    "value": "C",
                    "label": "C"
                },
                {
                     "id": 6,
                    "value": "C++",
                    "label": "C++"
                },
                {
                     "id": 7,
                    "value": "Clojure",
                    "label": "Clojure"
                }
            ];

            $("#tags").autocomplete({
                source: availableTags,
                select: function (event, ui) {
                    console.log(ui.item.id);

                    $('#tagID').val(ui.item.id);
                }
            });
        });
    </script>

}