
@{ 
    ViewBag.Title = "Stock Inquiry Page";
}

@section Styles{
    
    <link href="~/Content/StockInquiry.css" rel="stylesheet" />
}

<div class="stock__inquiry__wrapper">
    <div class="stock__inquiry__header">
        <h1>Stock Inquiry</h1>
    </div>
    <fieldset>
        <legend>Select Parameters</legend>
        <div class="stock__inquiry__filter">
            <div>
                <label>Project Name</label>
                <input type="text" name="name" value="" />
            </div>
            <div>
                <label>Project No</label>
                <input type="text" name="name" value="" />
            </div>
            <div>
                <label>Items Category</label>
                <input type="text" name="name" value="" />
            </div>
            <div>
                <label>Supplier</label>
                <input type="text" name="name" value="" />
            </div>
            <div>
                <label>Condition</label>
                <input type="text" name="name" value="" />
            </div>
        </div>
        <div class="stock__inquiry__items">
            <label>Select Items</label>
            <input type="text" name="name" value="" />
        </div>
    </fieldset>
   
    <div class="stock__inquiry__tabletitle">
        <h1>Item Results</h1>
    </div>
    <div class="stock__inquiry__tableitem">
        <table>
            <thead>
                <tr>
                    <td>NO.</td>
                    <td>DESCRIPTION</td>
                    <td>UNITS</td>
                    <td>QTY</td>
                    <td>PROJECT</td>
                    <td>COND</td>
                </tr>
            </thead>
            <tbody>
                @for (var i = 1; i <= 10; i++)
                {
                    <tr>
                        <td>@i</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="stock__inquiry__footer"></div>
</div>