@{
    ViewBag.Title = "Transfer Stock Page";
}

<div class="content-header">
    <div style="display:flex">
        <div style="width:50%; text-align:left">
            <h1>Transfer Stocks</h1>
        </div>
        <div style="width:50%; text-align:right">
            <button type="button" class="custom-btn">Clear</button>
            <button type="button" class="custom-btn">Edit</button>
            <button type="button" class="custom-btn">Print</button>
        </div>
    </div>
</div>
<div class="content-body">
    <div style="display:flex; padding-left:15px;">
        <div style="width:33.33%; text-align:left">
            <div class="custom-form-group">
                <label>Select New or Post Transfer</label>
                <select id="transfer_stock_option">
                    <option value="1">NEW STOCK TRANSFER</option>
                    <option value="2">CONFIRM STOCK TRANSFER</option>
                </select>
            </div>
        </div>
        <div style="width:33.33%"></div>
        <div style="width:33.33%;">
            <div class="custom-form-group">
                <label id="seriesNumber"></label>
                <input type="text" name="RefNumber" value="" autocomplete="off"/>
            </div>
        </div>
    </div>
    <div style="display:flex; margin-top:30px">
        <div style="width:33.33%; max-width:33.33%; padding:15px">
            <fieldset class="scheduler-border" id="origin">
                <legend class="scheduler-border">ORIGIN DETAILS</legend>
                <div class="custom-form-group">
                    <label style="width:150px">PROJ NAME</label>
                    <input type="text" name="OriginProjectName" value=""/>
                </div>
                <div class="custom-form-group">
                    <label style="width:150px">PROJ NO</label>
                    <input type="text" name="OriginProjectNumber" value=""/>
                </div>
                <div class="custom-form-group">
                    <label style="width:150px">LOCATION</label>
                    <input type="text" name="OriginProjectLocation" value=""/>
                </div>
                <div class="custom-form-group">
                    <label style="width:150px">WH INCHARGE</label>
                    <input type="text" name="OriginWHIncharge" value=""/>
                </div>
            </fieldset>
        </div>
        <div style="width:33.33%; max-width:33.33%; padding:15px">
            <fieldset class="scheduler-border" id="delivery_method">
                <legend class="scheduler-border">DELIVERY</legend>
                <div class="custom-form-group">
                    <label style="width:150px">DEL METHOD</label>
                    <select style="width:100%" class="delMethodID">
                        <option value="1">DELIVERY TRUCK</option>
                        <option value="2">COURIER</option>
                        <option value="3">MESSENGER</option>
                    </select>
                </div>
                <div class="custom-form-group delMethodAttribute">

                </div>
                <div class="custom-form-group delMethodAttribute">

                </div>
                <div class="custom-form-group delMethodAttribute">

                </div>
            </fieldset>
        </div>
        <div style="width: 33.33%; max-width:33.33%; padding:15px">
            <fieldset class="scheduler-border" id="destination">
                <legend class="scheduler-border">DESTINATION</legend>
                <div class="custom-form-group">
                    <label style="width:150px">PROJ NAME</label>
                    <input type="text" name="DestinationProjectName" value="" />
                </div>
                <div class="custom-form-group">
                    <label style="width:150px">PROJ NO</label>
                    <input type="text" name="DestinationProjectNumber" value=""/>
                </div>
                <div class="custom-form-group">
                    <label style="width:150px">LOCATION</label>
                    <input type="text" name="DestinationProjectLocation" value=""/>
                </div>
                <div class="custom-form-group">
                    <label style="width:150px">WH INCHARGE</label>
                    <input type="text" name="DestinationWHIncharge" value=""/>
                </div>
            </fieldset>
        </div>
    </div>
    <div style="display:flex; width: 100%; padding-left:15px;">
        <h3>Enter Items Here</h3>
    </div>
    <div style="display: flex; width:100%">
        <table class="custom-table" cellspacing="0" cellpadding="0" id="transferStockTable">
            <thead>
                <tr>
                    <td>NO</td>
                    <td>ITEM DESCRIPTION</td>
                    <td>UNITS</td>
                    <td>QTY</td>
                    <td>CONDITION</td>
                </tr>
            </thead>
            <tbody id="newTransferStockEntryTbody">
                @for (var i = 1; i <= 10; i++)
                {
                    <tr class="transferStockEntryBody">
                        <td style="text-align:center; width:80px;" class="number">@i</td>
                        <td style="width: 500px;">
                            <input type="text" name="Items" class="items" value="" onkeypress="fnGetItemsByProj(event)" />
                        </td>
                        <td style="width: 130px;">
                            <input type="text" name="Units" class="units" disabled />
                        </td>
                        <td style="width: 130px;">
                            <input type="text" name="Qty" class="qty" disabled />
                        </td>
                        <td style="position:relative;">
                            <input type="text" name="ItemCondition" class="itemCondition" style="text-align:center" onkeypress="fnGetItemCondition(event)" />
                            <i class="fa fa-remove remove-btn" onclick="fnRemoveTransferStockItem(event)"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top:15px">
        <button class="custom-btn custom-info-btn" id="add_transferStock_item">
        <i class="fa fa-plus fa-fw"></i> Add
        </button>
    </div>
</div>

<div class="content-footer">
    <div style="width: 100%; text-align:right">
        <button type="button" class="custom-btn custom-save-btn">
            <i class="fa fa-save"></i> Save
        </button>
    </div>
</div>



<table style="display: none" id="newTransferStockEntryTbodyClone">
    <tr class="">
        <td style="text-align: center; width:80px" class="number"></td>
        <td style="width:500px">
            <input type="text" name="Items" value="" class="items" onkeypress="fnGetItemsByProj(event)" />
        </td>
        <td style="width:130px">
            <input type="text" name="Units" value="" class="units" disabled />
        </td>
        <td style="width:130px">
            <input type="text" name="Qty" value="" class="qty" disabled />
        </td>
        <td style="position: relative">
            <input type="text" name="ItemCondition" value="" class="itemCondition" onkeypress="fnGetItemCondition(event)" />
            <i class="fa fa-remove remove-btn" onclick="fnRemoveTransferStockItem(event)"></i>
        </td>
    </tr>
</table>

@section Scripts{

    <script>

        $(function () {
            $('.delMethodID').trigger('change');
            $('#transfer_stock_option').trigger('change');
        });


        $('#add_transferStock_item').on('click', function (e) {
            //console.log("Add");

            //return;
            var counter = $('.transferStockEntryBody').find('td.number').length;

            //console.log(counter);

            $('#newTransferStockEntryTbodyClone').find('tr').addClass('transferStockEntryBody');
            $('#newTransferStockEntryTbodyClone').find('td.number').html((counter || 0) + 1);


            $('#newTransferStockEntryTbody').append(

                $('#newTransferStockEntryTbodyClone tbody').html()
            );


            //remove class after insert in tbody
            $('#newTransferStockEntryTbodyClone').find('tr').removeClass('transferStockEntryBody');
            $('#newTransferStockEntryTbodyClone').find('td.number').html("");
        })

        //REMOVE STOCK TRANSFER ITEM ROW
        function fnRemoveTransferStockItem(event) {

            var $this = $(event.target);

            $($this).parents('tr').remove();

            var counter = $('.transferStockEntryBody').find('td.number').length;


            if (counter > 0) {
                for (var i = 0; i < counter; i++) {
                    $('.transferStockEntryBody').find('td.number').eq(i).html(i + 1);
                }
            }
        }

         //FOR TRANSFER STOCK OPTION
        $('#transfer_stock_option').on('change', function (e) {

            var $this = $(this);

            if (parseInt($(this).val()) === 1) {
                $('input[name=RefNumber]').removeClass('refNumber');

                $('#seriesNumber').text('Enter Form Series No:');
                $this.parents('.card').find('fieldset#origin-fieldset, fieldset#destination-fieldset, fieldset#delivery_method').find('input, select').removeAttr('disabled');

                //item entry
                $this.parents('.card').find('table.custom-table').find('input.items').removeAttr('disabled');

                //change save button prop
                $this.parents('.card').find('button.save_transferStock').attr('id', 'saveTransferStock');
            }
            else {

                $('input[name=RefNumber]').addClass('refNumber');

                $('#seriesNumber').html('Enter Ref: <small>(Press Enter to Search)</small>');
                $this.parents('.card').find('fieldset#origin-fieldset, fieldset#destination-fieldset, fieldset#delivery_method').find('input, select').attr('disabled', true);

                //item entry
                $this.parents('.card').find('table.custom-table').find('input.items').attr('disabled', true);

                //change save button prop
                $this.parents('.card').find('button.save_transferStock').attr('id', 'confirmTransferStock');
            }
        });

        //GET TRANSFER STOCKS BY REFNUMBER
        $(document).on('keyup', '.refNumber', function (e) {

            var $this = $(this);

            if (e.keyCode === 13) {
                // Do something

                var link = 'http://192.168.1.100:90/api/TransMasterlist/SearchByReference?q=' + $(this).val();

                //console.log(link);

                $.getJSON(link, function (data) {

                    if (data === null) {
                        swal.fire('Warning', 'No found data', 'warning');
                    }

                    else {

                        //console.log(data);

                        $this.parents('.card').find('.card-body').find('input').val('');

                        $this.parents('.card').find('input[name=ID]').val(data.ID);

                        //ORIGIN
                        $this.parents('.card').find('input[name=OriginProjectID]').val(data.TransInfoOrigin.ProjectID_EnggDB);
                        $this.parents('.card').find('input[name=OriginProjectName]').val(data.TransInfoOrigin.ProjectInfo.ProjectName)
                        $this.parents('.card').find('input[name=OriginProjectNumber]').val(data.TransInfoOrigin.ProjectInfo.ProjectNumber)
                        $this.parents('.card').find('input[name=OriginWHInchargeID]').val(data.TransInfoOrigin.WHInchargeID_HrmsDB);
                        $this.parents('.card').find('input[name=OriginWHIncharge]').val((data.TransInfoOrigin.WHInchargeInfo.FirstName + ' ' + data.TransInfoOrigin.WHInchargeInfo.LastName));

                        //DESTINATION
                        $this.parents('.card').find('input[name=DestinationProjectID]').val(data.TransInfoDestination.ProjectID_EnggDB);
                        $this.parents('.card').find('input[name=DestinationProjectName]').val(data.TransInfoDestination.ProjectInfo.ProjectName)
                        $this.parents('.card').find('input[name=DestinationProjectNumber]').val(data.TransInfoDestination.ProjectInfo.ProjectNumber)
                        $this.parents('.card').find('input[name=DestinationWHInchargeID]').val(data.TransInfoDestination.WHInchargeID_HrmsDB);
                        $this.parents('.card').find('input[name=DestinationWHIncharge]').val((data.TransInfoDestination.WHInchargeInfo.FirstName + ' ' + data.TransInfoDestination.WHInchargeInfo.LastName));

                        //DELIVERY METHOD
                        $this.parents('.card').find('select.delMethodID').val(data.DeliveryMethod.ID).trigger('change');

                        for (var d = 0; d < data.TransInfoDelMetAttrValue.length; d++) {

                            var delMethodAttr = data.TransInfoDelMetAttrValue[d];

                            //console.log(data.TransInfoDelMetAttrValue[d]);

                            $this.parents('.card').find('.deliveryMethodAttr').eq(d).val(delMethodAttr.AttributeValue).attr('disabled', true);
                        }



                        //STOCK ENTRY
                        $.ajaxSetup({
                            async: false
                        });
                        for (var i = 0; i < data.TransItemEntryList.length; i++) {

                            var entry = data.TransItemEntryList[i];

                            //for item name
                            var itemLink = 'http://124.105.198.3:90/api/ItemsMasterList/' + entry.ItemID_011;
                            $.getJSON(itemLink, function (itemResponse) {
                                if (itemResponse !== null) {
                                    $this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=Items]').val(itemResponse.ItemFullNameInfo.Name).attr('data-val', itemResponse.ItemFullNameInfo.ItemID_011);
                                }
                            })


                            // for units
                            var unitLink = 'http://124.105.198.3:90/api/units/' + entry.UnitsID_009;
                            $.getJSON(unitLink, function (unitResponse) {
                                if (unitResponse !== null) {
                                    $this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=Units]').val(unitResponse.ShortName).attr('data-val', unitResponse.ID);
                                }
                            });


                            //for quantity
                            //$this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=Qty]').val(entry.Quantity);
                            $this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=Qty]').removeAttr('disabled');


                            //for item condition
                            var itemConditionLink = 'http://124.105.198.3:90/api/itemcondition/' + entry.ItemCondID_018;
                            $.getJSON(itemConditionLink, function (itemConditionResponse) {
                                if (itemConditionResponse !== null) {
                                    $this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=ItemCondition]').val(itemConditionResponse.StatusName).attr('data-val', itemConditionResponse.ID);
                                }
                            });

                        }
                        $.ajaxSetup({
                            async: true
                        });

                    }

                });
            }

        });

    </script>

}