@{
    ViewBag.Title = "Release Stocks Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select Withdrawal or Issuance</label>
                            <select class="form-control shadow-none">
                                <option value="1">Withdrawal</option>
                                <option value="2">Issuance</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-12">
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-5">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">PROJECT DETAILS</legend>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>PROJ NAME</label>:
                                                    <input type="hidden" name="OriginProjectID" class="projectID" value="" />
                                                    <input type="text" name="OriginProjectName" class="form-control form-control-sm projects text-ellipsis" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>PROJ NO</label>:
                                                    <input type="text" name="OriginProjectNumber" class="form-control form-control-sm projectNumber" value="" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>WH INCHARGE</label>:
                                                    <input type="hidden" name="OriginWHInchargeID" class="employeeID" value="" />
                                                    <input type="text" name="OriginWHIncharge" class="form-control form-control-sm employeeInfo" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-2"></div>
                            
                            <div class="col-md-5">
                                <fieldset class="scheduler-border">
                                    <legend class="scheduler-border">PEOPLE INVOLVE</legend>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>REQUESTED BY</label>:
                                                    <input type="text" name="RequestedBy" class="form-control form-control-sm requestedBy text-ellipsis" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>PROJ INCHARGE</label>:
                                                    <input type="text" name="ProjIncharge" class="form-control form-control-sm projIncharge" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label style="font-size:.7vw">REQUEST NUMBER</label>:
                                                    <input type="text" name="RequestNumber" class="form-control form-control-sm requestNumber" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="float-left">
                            <h1>Release Stocks</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-1">
                <div class="table-responsive">
                    <table class="custom-table" style="width: 100%; border: 1px solid white" id="releaseStockEntry">
                        <thead>
                            <tr style="background: #4ECB4A; height: 50px; border: 1px solid white" class="text-white">
                                <th class="text-center" style="font-size: 23px">NO.</th>
                                <th class="text-center" style="font-size: 23px">ITEM DESCRIPTION</th>
                                <th class="text-center" style="font-size: 23px">UNITS</th>
                                <th class="text-center" style="font-size: 23px">QTY</th>
                                <th class="text-center" style="font-size: 23px">CONDITION</th>
                            </tr>
                        </thead>

                        <tbody class="" id="newReleaseStockEntryTbody">
                            @for (var i = 1; i <= 10; i++)
                            {
                                <tr class="transferStockEntryBody">
                                    <td style="border-left:1px solid white; border-right: 1px solid white; width:80px" class="text-center number">@i</td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white;width:500px">
                                        @*<input type="hidden" name="ItemID" class="itemID" value="" />*@
                                        <input type="text" name="Items" value="" class="text-center items" onkeypress="fnGetItems(event)" style="border:none" />
                                    </td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white;width:130px">
                                        @*<input type="hidden" name="UnitID" class="unitID" value="" />*@
                                        <input type="text" name="Units" value="" class="text-center units" onkeypress="fnGetUnits(event)" style="border:none" />
                                    </td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white; width:130px">
                                        <input type="text" name="Qty" value="" class="text-center qty" style="border:none" />
                                    </td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white;">
                                        @*<input type="hidden" name="ItemConditionID" class="itemConditionID" value="" />*@
                                        <input type="text" name="ItemCondition" value="" class="text-center itemCondition" onkeypress="fnGetItemCondition(event)" style="border:none" />
                                        <i class="fa fa-remove text-danger" style="position:absolute; cursor:pointer;right:-15px;" onclick="fnRemoveTransferStockItem(event)"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-sm mt-2 btn-info" id="add_releaseStock_item"><i class="fa fa-plus"></i> Add</button>
            </div>
            <div class="card-footer">
                <div class="float-left">
                    <div class="d-flex">
                        <button class="btn btn-light shadow-none mr-3" style="padding:10px;">UPLOAD</button>
                        <input type="file" name="Upload" value="" />
                    </div>
                </div>
                <div class="float-right">
                    <button class="btn btn-success shadow-none" type="button" onclick="" style="padding:10px;">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</div>



<table style="display: none" id="newReleaseStockEntryTbodyClone">
    <tr class="">
        <td style="border-left:1px solid white; border-right: 1px solid white; width:80px" class="text-center number"></td>
        <td style="border-left:1px solid white; border-right: 1px solid white;width:500px">
            <input type="text" name="ItemDescription" value="" class="text-center itemDescription" style="border:none" />
        </td>
        <td style="border-left:1px solid white; border-right: 1px solid white;width:130px">
            <input type="hidden" name="UnitID" class="unitID" value="" />
            <input type="text" name="Units" value="" class="text-center units" style="border:none" />
        </td>
        <td style="border-left:1px solid white; border-right: 1px solid white; width:130px">
            <input type="text" name="Qty" value="" class="text-center qty" style="border:none" />
        </td>
        <td style="border-left:1px solid white; border-right: 1px solid white;">
            <input type="hidden" name="ItemConditionID" class="itemConditionID" value="" />
            <input type="text" name="ItemCondition" value="" class="text-center itemCondition" style="border:none" />
            <i class="fa fa-remove text-danger" style="position:absolute; cursor:pointer;right:-15px;" onclick="fnRemoveTransferStockItem(event)"></i>
        </td>
    </tr>
</table>



@section Scripts{

    <script>

        //EMPLOYEE AUTOCOMPLETE
        var emp = [];
        var empURL = 'http://124.105.198.3:91/api/PersonInformation';

        $.getJSON(empURL, function (data) {
            for (var i = 0; i < data.length; i++) {
                var obj = {};

                obj.id = data[i].ID;
                obj.value = data[i].FirstName + ' ' + data[i].LastName;
                obj.label = data[i].FirstName + ' ' + data[i].LastName;

                emp.push(obj);


                $(".employeeInfo").autocomplete({
                    source: emp,
                    select: function (event, ui) {

                        var $this = $(this);
                        $this.closest('.table-entry-header-container').find('input.employeeID').val(ui.item.id);
                    }
                })
            }
        });


        //PROJECT AUTOCOMPLETE
        var proj = [];
        var projURL = 'http://192.168.1.100:94/api/Projects';

        $.getJSON(projURL, function (data) {
            //var dat = data.Data;

            for (var i = 0; i < data.length; i++) {

                var newObj = {};

                newObj.id = data[i].ID;
                newObj.value = data[i].ProjectName;
                newObj.label = data[i].ProjectNumber + '-' + data[i].ProjectName;
                newObj.projectNo = data[i].ProjectNumber;

                proj.push(newObj);

            }

            $(".projects").autocomplete({
                source: proj,
                select: function (event, ui) {

                    var $this = $(this);

                    $this.closest('.table-entry-header-container').find('input.projectID').val(ui.item.id);

                    $this.closest('.col-md-12').next().find('input.projectNumber').val(ui.item.projectNo);
                }
            });
        });

        //ADD NEW ROW IN STOCK TRANSFER ITEM
        $('#add_releaseStock_item').on('click', function (e) {
            //console.log("Add");

            var counter = $('.releaseStockEntryBody').find('td.number').length;

            //console.log(counter);

            $('#newReleaseStockEntryTbodyClone').find('tr').addClass('releaseStockEntryBody');
            $('#newReleaseStockEntryTbodyClone').find('td.number').html((counter || 0) + 1);


            $('#newReleaseStockEntryTbody').append(

                $('#newReleaseStockEntryTbodyClone tbody').html()
            );


            //remove class after insert in tbody
            $('#newReleaseStockEntryTbodyClone').find('tr').removeClass('releaseStockEntryBody');
            $('#newReleaseStockEntryTbodyClone').find('td.number').html("");
        })

        //REMOVE STOCK TRANSFER ITEM ROW
        function fnRemoveTransferStockItem(event) {

            var $this = $(event.target);

            $($this).parents('tr').remove();

            var counter = $('.releaseStockEntryBody').find('td.number').length;


            if (counter > 0) {
                for (var i = 0; i < counter; i++) {
                    $('.releaseStockEntryBody').find('td.number').eq(i).html(i + 1);
                }
            }
        }

    </script>

}