@{ 
    ViewBag.Title = "Stocks Release Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" style="background: #e1e2e2; padding-right:0px">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="custom-form-group">
                                    <div class="d-flex table-entry-header-container">
                                        <label>NAME:</label>
                                        <input type="hidden" name="EmployeeID" class="employeeID" value="" />
                                        <input type="text" name="EmployeeName" class="form-control form-control-sm shadow-none employeeName" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-form-group">
                                    <div class="d-flex table-entry-header-container">
                                        <label>EMPID:</label>
                                        <input type="text" name="EmpIDNumber" class="employeeIDNumber form-control form-control-sm shadow-none" value="" readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-form-group">
                                    <div class="d-flex table-entry-header-container">
                                        <label>POSITION:</label>
                                        <input type="text" name="PositionID" class="form-control form-control-sm shadow-none positionID" value="" readonly/>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="custom-form-group">
                                    <div class="d-flex table-entry-header-container">
                                        <label>DATE:</label>
                                        <input type="text" name="Date" class="form-control form-control-sm date-picker shadow-none date" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-form-group">
                                    <div class="d-flex table-entry-header-container">
                                        <label>CTRL NO.</label>
                                        <input type="text" name="CtrlNumber" class="form-control form-control-sm shadow-none ctrlNumber" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4"></div>


                            <div class="col-md-4">
                                <div class="custom-form-group">
                                    <div class="d-flex table-entry-header-container">
                                        <label>REQUESTED BY:</label>
                                        <input type="text" name="RequestedBy" class="form-control form-control-sm shadow-none requestedBy" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-form-group">
                                    <div class="d-flex table-entry-header-container">
                                        <label>APPROVED BY:</label>
                                        <input type="text" name="ApprovedBy" class="form-control form-control-sm shadow-none approvedBy" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="custom-form-group">
                                    <div class="d-flex table-entry-header-container">
                                        <label>RECEIVED BY:</label>
                                        <input type="text" name="ReceivedBy" class="form-control form-control-sm shadow-none receivedBy" value="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="float-left">
                            <h1>Release Stocks</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-1" style="background: #e1e2e2;">
                <div class="table-responsive">
                    <table class="custom-table" style="width: 100%; border: 1px solid white" id="releaseStocks">
                        <thead>
                            <tr style="background: rgb(78,203,74); height: 50px; border: 1px solid white" class="text-white">
                                <th class="text-center" style="font-size:23px">NO</th>
                                <th class="text-center" style="font-size:23px">ITEM DESCRIPTION</th>
                                <th class="text-center" style="font-size:23px">QTY</th>
                                <th class="text-center" style="font-size:23px">REMARKS</th>
                            </tr>
                        </thead>
                        <tbody class="" id="releaseStocksTbody">
                            @for(var i = 1; i <=10; i++)
                            {
                                <tr class="">
                                    <td style="border-left:1px solid white; border-right: 1px solid white; width:80px" class="text-center number">
                                        @i
                                    </td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white;">
                                        <input type="text" name="Item" value="" class="text-center items" style="border:none" />

                                    </td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white; width:130px">
                                        <input type="text" name="Qty" value="" class="text-center qty" style="border:none" />
                                    </td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white;">
                                        <input type="text" name="Remarks" value="" class="text-center remarks" style="border:none" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer" style="background: #e1e2e2; border: none">
                <div class="float-right">
                    <button class="btn btn-success shadow-none" type="button" style="padding:10px">RELEASE ENTRY</button>
                </div>
            </div>
        </div>
    </div>
</div>
