@{
    ViewBag.Title = "Release Stock Page";
}

<div class="content-header" id="releaseStock_header">
    <div class="row-container" style="padding-left:0; margin-top:0">
        <div class="col">
            <h1 class="title" style="margin:0">Release Stocks</h1>
        </div>
        <div class="col">
            <div class="desktop-view" style="text-align: right;">
                <button type="button" class="custom-btn" id="clear_fields">Clear</button>
                <button type="button" class="custom-btn" id="edit_transfer_stock">Edit</button>
                <button type="button" class="custom-btn">Print</button>
            </div>
            <div class="mobile-view">
                <div class="dropdown">
                    <button onclick="ShowDropdown()" class="dropbtn">Action</button>
                    <div id="myDropdown" class="dropdown-content">
                        <a href="javascript:void(0)" class="custom-btn" id="clear_fields">Clear</a>
                        <a href="javascript:void(0)" class="custom-btn" id="edit_release_stock">Edit</a>
                        <a href="javascript:void(0)" class="custom-btn">Print</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <input type="hidden" name="ID" class="id" value="" />
    <div class="row-container">
        <div class="col" id="col-1">
            <div class="custom-form-group">
                <div style="display:flex">
                    <label style="width:150px">Select Issued or Withdrawn</label>
                    <select id="release_stock_option" style="background: #fff">
                        <option value="1">ISSUANCE</option>
                        <option value="2">WITHDRAWAL</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-group">
                <div style="display:flex">
                    <label id="seriesNumber" style="width:150px"></label>
                    <input type="text" name="RefNumber" value="" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
    <div class="row-container">
        <div class="col">
            <fieldset class="scheduler-border" id="releaseStock_employeeInfo" style="border-radius: 5px">
                <legend class="scheduler-border">EMPLOYEE INFORMATION</legend>
                <div class="row-container" id="row-1">
                    <div class="col">
                        <div class="custom-form-group">
                            <div style="display:flex">
                                <label style="width: 150px">FULLNAME</label>
                                <input type="text" name="FullName" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-form-group">
                            <div style="display:flex">
                                <label style="width: 150px">IDNUMBER</label>
                                <input type="text" name="EmployeeIDNumber" value="" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-container" id="row-2">
                    <div class="col" style="">
                        <div class="custom-form-group">
                            <div style="display:flex">
                                <label style="width: 150px">POSITION</label>
                                <input type="text" name="PositionName" value="" disabled />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-form-group">
                            <div style="display:flex">
                                <label style="width: 150px">DEPARTMENT</label>
                                <input type="text" name="Department" value="" disabled />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-container" id="row-2">
                    <div class="col" style="">
                        <div class="custom-form-group">
                            <div style="display:flex">
                                <label style="width: 150px">DATE</label>
                                <input type="text" name="Date" class="date-picker" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="custom-form-group">
                            <div style="display:flex">
                                <label style="width: 150px">CTRL NO</label>
                                <input type="text" name="CtrlNumber" value="" />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row-container">
        <h3>Enter Items Here</h3>
    </div>
    <div class="table-container">
        <table class="custom-table" cellspacing="0" cellpadding="0" id="releaseStockTable">
            <thead>
                <tr>
                    <td>NO</td>
                    <td>ITEM DESCRIPTION</td>
                    <td>UNITS</td>
                    <td>QTY</td>
                    <td>CONDITION</td>
                </tr>
            </thead>
            <tbody id="newReleaseStockEntryTbody">
                @for (var i = 1; i <= 10; i++)
                {
                    <tr class="releaseStockEntryBody">
                        <td style="text-align:center; width:80px;" class="number">@i</td>
                        <td style="width: 500px;">
                            <input type="text" name="Items" class="items" value="" onkeypress="fnGetItems(event)" />
                        </td>
                        <td style="width: 130px;">
                            <input type="text" name="Units" class="units" disabled />
                        </td>
                        <td style="width: 130px;">
                            <input type="text" name="Qty" class="qty" disabled />
                        </td>
                        <td style="position:relative;">
                            <input type="text" name="ItemCondition" class="itemCondition" style="text-align:center" onkeypress="fnGetItemCondition(event)" />
                            <i class="fa fa-remove remove-btn" onclick="fnRemoveItem(event)"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="link-button-container">
        <a class="link-button" id="add_releaseStock_item">
            Add New Item
        </a>
    </div>
</div>

<div class="content-footer">
    <div style="width: 100%; text-align:right">
        <button type="button" class="custom-btn custom-save-btn save_releaseStock responsive-button" onclick="fnSaveReleaseStock(event)">
            <i class="fa fa-save"></i> Save
        </button>
    </div>
</div>


<table style="display: none" id="newReleaseStockEntryTbodyClone">
    <tr class="">
        <td style="text-align: center; width:80px" class="number"></td>
        <td style="width:500px">
            <input type="text" name="Items" value="" class="items" onkeypress="fnGetItems(event)" />
        </td>
        <td style="width:130px">
            <input type="text" name="Units" value="" class="units" disabled />
        </td>
        <td style="width:130px">
            <input type="text" name="Qty" value="" class="qty" disabled />
        </td>
        <td style="position: relative">
            <input type="text" name="ItemCondition" value="" class="itemCondition" onkeypress="fnGetItemCondition(event)" disabled />
            <i class="fa fa-remove remove-btn" onclick="fnRemoveItem(event)"></i>
        </td>
    </tr>
</table>

@section Scripts{

    <script>

        $(function () {
            $('#release_stock_option').trigger('change');

            ////CLEAR FIELDS
            //$('#clear_fields').on('click', function (e) {

            //    $(this).closest('.content-header').next().find('input').val('');
            //});


            ////EDIT TRANSFER STOCK
            //$('#edit_stock').on('click', function (e) {

            //    //make editable all inputs in the form
            //    $(this).closest('.content-header').next().find('input, select').removeAttr('disabled');

            //    //remove the disabled property of save button
            //    $(this).closest('.content-header').nextAll().find('.save_transferStock').removeAttr('disabled');

            //    //remove the css inline in parent container
            //    $(this).closest('.content-header').next().removeAttr('style');

            //})
        });


        $('#add_releaseStock_item').on('click', function (e) {
            //console.log("Add");

            //return;
            var counter = $('.releaseStockEntryBody').find('td.number').length;

            //console.log(counter);

            $('#newReleaseStockEntryTbodyClone').find('tr').addClass('releaseStockEntryBody');
            $('#newReleaseStockEntryTbodyClone').find('td.number').html((counter || 0) + 1);


            $('#newReleaseStockEntryTbody').append(

                $('#newReleaseStockEntryTbodyClone tbody').html()
            );


            //remove class after insert in tbody
            $('#newReleaseStockEntryTbodyClone').find('tr').removeClass('releaseStockEntryBody');
            $('#newReleaseStockEntryTbodyClone').find('td.number').html("");
        })


        //FOR TRANSFER STOCK OPTION
        $('#release_stock_option').on('change', function (e) {

            var $this = $(this);

            if (parseInt($(this).val()) === 1) {
                $('input[name=RefNumber]').removeClass('refNumber');

                $('#seriesNumber').text('Enter Form Series No:');
                //$this.parents('.content-body').find('fieldset#origin-fieldset, fieldset#destination-fieldset, fieldset#deliveryMethod-fieldset').find('input, select').removeAttr('disabled');

                ////item entry
                //$this.parents('.content-body').find('table.custom-table').find('input.items').removeAttr('disabled');

                ////change save button prop
                //$this.parents('.content-body').next().find('button.save_transferStock').attr('id', 'saveTransferStock');
            }
            else {

                $('input[name=RefNumber]').addClass('refNumber');

                $('#seriesNumber').html('Enter Ref: <small>(Press Enter to Search)</small>');
                //$this.parents('.content-body').find('fieldset#origin-fieldset, fieldset#destination-fieldset, fieldset#deliveryMethod-fieldset').find('input, select').attr('disabled', true);

                ////item entry
                //$this.parents('.content-body').next('div').find('table.custom-table').find('input.items').attr('disabled', true);

                ////change save button prop
                //$this.parents('.content-body').next().find('button.save_transferStock').attr('id', 'confirmTransferStock');
            }
        });


        function ShowDropdown() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }

    </script>

}