@{
    ViewBag.Title = "Stock Inquiry Page";
}

@section Styles{

    <link rel="stylesheet" href="~/Content/StockInquiry.css" />

}

<div class="stock__inquiry__wrapper">
    <div class="inquiry__header">
        <div class="title">
            <h1>Stock Inquiry</h1>
        </div>
        <div class="menu__button">

        </div>
    </div>
    <div class="inquiry__searchBox">
        <div class="input__wrapper">
            <input type="text" name="Search" id="search__items" placeholder="Search Item" value="" onkeypress="fnSearchItemByProj(event)" data-val="0"/>
        </div>
        <div class="input2__wrapper">
            @*<input type="text" name="ProjectSite" placeholder="Search Projects" id="projects" value="" data-val="0"/>*@
            <select class="" id="projects" name="ProjectSite"></select>
        </div>
        <div class="button__wrapper">
            <button type="button" id="search__btn">Search</button>
        </div>
    </div>
    <div class="inquiry__body">
        <table class="tableitem__table" id="stock__inquiry__table">
            <thead>
                <tr>
                    <td>ITEM NAME</td>
                    <td>QUANTITY</td>
                    <td>ACTION</td>
                </tr>
            </thead>
            <tbody class="stock__inquiry__tbody"></tbody>
        </table>
    </div>
</div>

<table style="display:none;" class="stock__inquiry__tbody__clone" id="stock__inquiry__tbody__clone">
    <tr>
        <td class="item__name"></td>
        <td class="quantity"></td>
        <td class="action"></td>
    </tr>
</table>



<div class="item__details__container" style="display:none">
    <div class="item__details__header">
        <div class="item__name">
            <div class="content">
                <label>Item: </label>
                <input type="text" name="ItemName" readonly value="" />
            </div>
            <div class="content">
                <label>Total Qty: </label>
                <input type="text" name="TotalQuantity" readonly value="" />
            </div>
        </div>
        <div class="item__image">

        </div>
    </div>
    <div class="item__details__body">
        <h4 class="title">Item Per Project</h4>
        <table>
            <thead>
                <tr>
                    <th>ProjectName</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts{

    <script>


        function fnSearchItemByProj(event) {
            
            var items = [];
            var projectID = document.getElementById('projects').value || 0;
            var searchURL = '/Data/ItemsMasterList/ItemsbyProjects/' + projectID;

            JsonRequest(searchURL, 'GET', null, function (data) {

                //console.log(data);

                if (data.length > 0 || data !== null) {
                    for (var i = 0; i < data.length; i++) {
                        var obj = {};

                        if (data[i].ItemFullNameInfo !== null) {
                            obj.id = data[i].ID;
                            obj.label = data[i].ItemFullNameInfo.Name;
                            obj.value = data[i].ItemFullNameInfo.Name;

                            items.push(obj);
                        }
                    }
                }

                $('#search__items').autocomplete({
                    source: items,
                    select: function (event, ui) {
                        var itemID = ui.item.id;
                        $(this).attr('data-val', itemID);
                    }
                });

            });

        }

        $(function () {

            JsonRequest('/Data/ENGProjectList', 'GET', null, function (data) {

                var projectEl = document.getElementById('projects');

                projectEl.innerHTML = '';

                if (data.length > 0) {
                    projectEl.appendChild(new Option('All Projects', 0));

                    for (var i = 0; i < data.length; i++) {
                        var project = data[i].ProjectNumber + '-' + data[i].ProjectName;

                        if (project.length < 52) {
                            projectEl.appendChild(new Option(project, data[i].ID));
                        }
                        else {
                            projectEl.appendChild(new Option(project.slice(0, 52) + '...', data[i].ID));
                        }
                    }
                }

            });

        })


        $('#search__btn').on('click', function () {

            var $this = $(this);

            //var searchVal = $this.parents('.inquiry__searchBox').find('input[name=Search]').val();

            var projectID = $('#projects').val() || 0;
            var itemID = $('#search__items').attr('data-val') || 0;

            //console.log(projectID);

            DisplayItem(itemID, projectID);

        });


        function DisplayItem(itemID, projectID) {

            var searchURL = '/Data/ItemsMasterList/' + itemID;

            //return;

            JsonRequest(searchURL, 'GET', null, function (data) {
                
                var stockInquiryTable = document.getElementById('stock__inquiry__table');
                stockInquiryTable.querySelector('.stock__inquiry__tbody').innerHTML = '';

                var qty = 0;

                if (data.ProjectQuantity !== null) {
                    var projQuantity = data.ProjectQuantity;

                    for (var z = 0; z < projQuantity.length; z++) {
                        if (parseInt(projectID) === 0) {
                            qty += projQuantity[z].Quantity;
                        }
                        else {
                            if (projQuantity[z].ProjectInfo.ID === parseInt(projectID)) {
                                qty += projQuantity[z].Quantity;
                            }
                        }
                    }
                }

                if (data.ItemFullNameInfo !== null) {

                    var stockInquiryTableClone = document.getElementById('stock__inquiry__tbody__clone');

                    //stockInquiryTbodyClone.querySelector('td.item__name').innerHTML = data.ItemFullNameInfo.Name;
                    //stockInquiryTbodyClone.querySelector('td.quantity').innerHTML = qty;
                    //stockInquiryTbodyClone.querySelector('td.action').innerHTML = '<button class="item__details" id="' + data.ID + '"><i class="fa fa-search fa-fw"></i> View</button>';

                    //stockInquiryTable.querySelector('.stock__inquiry__tbody').innerHTML = stockInquiryTableClone.children;
                }
            });

            //$.getJSON(searchURL, function (data) {


            //    $('.stock__inquiry__tbody').html('');

            //    var qty = 0;

                //if (data.ProjectQuantity !== null) {

                //    var projQuantity = data.ProjectQuantity;
                //    for (var z = 0; z < projQuantity.length; z++) {

                //        if (parseInt(projectID) === 0) {
                //            //console.log("all projects");
                //            qty += projQuantity[z].Quantity;
                //        }
                //        else {
                //            if (projQuantity[z].ProjectInfo.ID === parseInt(projectID)) {
                //                qty += projQuantity[z].Quantity;
                //            }
                //        }
                      
                //        //console.log(projQuantity[z].Quantity);
                //    }
                //}

                //if (data.ItemFullNameInfo !== null) {

                //    $('.stock__inquiry__tbody__clone').find('td.item__name').html(data.ItemFullNameInfo.Name);
                //    $('.stock__inquiry__tbody__clone').find('td.quantity').html(qty);
                //    $('.stock__inquiry__tbody__clone').find('td.action').html('<button class="item__details" id="' + data.ID + '"><i class="fa fa-search fa-fw"></i> View</button>');

                //    $('.stock__inquiry__tbody').append($('.stock__inquiry__tbody__clone tbody').html());
                //}

            //});
        }

    </script>


}
