@{ 
    ViewBag.Title = "Stocks Movement Page";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">

            @*CARD HEADER*@
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                    <div class="col-md-12">
                        <h4>Stock Movement</h4>
                    </div>
                </div>
            </div>

            @*CARD BODY*@
            <div class="card-body">

            </div>

            @*CARD FOOTER*@
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>
