
@{
    ViewBag.Title = "Entry Stocks Page";
}

@section Styles{
    <link href="~/Content/EntryStocks.css" rel="stylesheet">
}


<div class="entrycontent">
    <div class="entrycontent__headertitle"><h1> Entry Stocks</h1></div>
    <div class="entrycontent__route">
        <div class="route__supplier">
            <fieldset class="supplier__fieldset">
                <legend>SUPPLIER</legend>
                <div class="fieldset__supcontent">
                    <div class="supcontent__label"><h4>SUPPLIER</h4></div>
                    <div class="supcontent__input"><input type="text" name="SupplierName"></div>
                    <div class="supcontent__label"><h4>SUP ID</h4></div>
                    <div class="supcontent__input"><input type="text" name="SupplierID"></div>
                    <div class="supcontent__label"><h4>DOC NO</h4></div>
                    <div class="supcontent__input"><input type="text" name="DocNumber"></div>
                    <div class="supcontent__label"><h4>RCV BY</h4></div>
                    <div class="supcontent__input"><input type="text" name="ReceivedBy"></div>
                </div>
            </fieldset>
        </div>
        <div class="route__project">
            <fieldset class="project__fieldset">
                <legend>PROJECT</legend>
                <div class="fieldset__projcontent">
                    <div class="projcontent__label"><h4>PRJ NAME</h4></div>
                    <div class="projcontent__input"><input type="text" name="ProjectName"></div>
                    <div class="projcontent__label"><h4>PRJ NO</h4></div>
                    <div class="projcontent__input"><input type="text" name="ProjectNumber"></div>
                    <div class="projcontent__label"><h4>LOCATION</h4></div>
                    <div class="projcontent__input"><input type="text" name="ProjectLocation"></div>
                    <div class="projcontent__label"><h4>DEL DATE</h4></div>
                    <div class="projcontent__input"><input type="text" class="DeliveryDate date-picker"></div>
                </div>
            </fieldset>
        </div>
        <div class="route__delmethod">
            <fieldset class="delmethod__fieldset">
                <legend>DELIVERY</legend>
                <div class="fieldset__delcontent">
                    <div class="delcontent__label"><h4>METHOD</h4></div>
                    <div class="delcontent__input"><input type="text"></div>
                    <div class="delcontent__label"><h4>DRIVER</h4></div>
                    <div class="delcontent__input"><input type="text"></div>
                    <div class="delcontent__label"><h4>PLATE NO</h4></div>
                    <div class="delcontent__input"><input type="text"></div>
                    <div class="delcontent__label"><h4>VH TYPE</h4></div>
                    <div class="delcontent__input"><input type="text"></div>
                </div>
            </fieldset>
        </div>

    </div>
    <div class="entrycontent__tabletitle">
        <h1>Enter new stock here...</h1>
    </div>
    <div class="entrycontent__tableitem">
        <table class="tableitem__table">
            <thead>
                <tr>
                    <td>NO</td>
                    <td>DESCRIPTION</td>
                    <td>UNITS</td>
                    <td>QTY</td>
                    <td>PRICE</td>
                    <td>COND</td>
                </tr>
            </thead>
            <tbody class="stock__entry__tbody">
                @for (var i = 1; i <= 10; i++)
                {
                    <tr class="stock__entry__tr">
                        <td class="counter">@i</td>
                        <td><input type="text" name="Items"></td>
                        <td><input type="text" name="Units"></td>
                        <td><input type="text" name="Quantity"></td>
                        <td><input type="text" name="Price"></td>
                        <td class="position__relative">
                            <input type="text" name="Condition">
                            <i class="fa fa-remove remove__btn" onclick="fnRemoveItemStockEntry(event)"></i>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <a href="javascript:void(0)" class="add__new_item__stockEntry">Add New Item</a>
    </div>
    <div class="entrycontent__footer">
        <div class="footer__saveupload">
            <input type="button" value="Save">
        </div>
    </div>
</div>


<table style="display: none" class="stock__entry__tbody__clone">
    <tr class="">
        <td class="counter"></td>
        <td><input type="text" name="Items"></td>
        <td><input type="text" name="Units"></td>
        <td><input type="text" name="Quantity"></td>
        <td><input type="text" name="Price"></td>
        <td class="position__relative">
            <input type="text" name="Condition">
            <i class="fa fa-remove remove__btn" onclick="fnRemoveItemStockEntry(event)"></i>
        </td>
    </tr>
</table>

@section Scripts{

    <script>

        $('.add__new_item__stockEntry').on('click', function () {

            var number = $('.stock__entry__tr').length;

            $('.stock__entry__tbody__clone').find('tr').addClass('stock__entry__tr');
            $('.stock__entry__tbody__clone').find('td.counter').eq(0).text(number + 1);

            $('.stock__entry__tbody').append(
                $('.stock__entry__tbody__clone tbody').html()
            );

             $('.stock__entry__tbody__clone').find('tr').removeClass('stock__entry__tr');
        });


        function fnRemoveItemStockEntry(event) {
            var $this = $(event.target);

            $this.closest('tr').remove();

            var counter = $('.tableitem__table').find('td.counter').length;

            //console.log(counter);

            //return;

            if (counter > 0) {
                for (var i = 0; i < counter; i++) {

                    $('.tableitem__table').find('.counter').eq(i).text(i + 1);
                }
            }
        }


       $(function () {

            //FOR PROJECTS
            var project = [];
            var projectURL = '/Data/ENGProjectList';

            $.getJSON(projectURL, function (data) {
                //var dat = data.Data;

                for (var i = 0; i < data.length; i++) {

                    var newObj = {};

                    newObj.id = data[i].ID;
                    newObj.value = data[i].ProjectName;
                    newObj.label = data[i].ProjectNumber + '-' + data[i].ProjectName;
                    newObj.projectNo = data[i].ProjectNumber;

                    project.push(newObj);

                }

                $("input[name=ProjectName]").autocomplete({
                    source: project,
                    select: function (event, ui) {

                        $(this).attr('data-val', ui.item.id);
                        $(this).parents('.project__fieldset').find('input[name=ProjectNumber]').val(ui.item.projectNo);
                    }
                });
            });


            //FOR SUPPLIER
            var suppliers = [];
            var supplierURL = '/Data/VendorList';

            $.getJSON(supplierURL, function (data) {

                for (var i = 0; i < data.length; i++) {

                    var newObj = {};

                    newObj.id = data[i].SupplierID;
                    newObj.value = data[i].SupplierName;
                    newObj.label = data[i].SupplierName;

                    suppliers.push(newObj);

                }

                $("input[name=SupplierName]").autocomplete({
                    source: suppliers,
                    select: function (event, ui) {

                        $(this).attr('data-val', ui.item.id);
                        $(this).parents('.fieldset__supcontent').find('input[name=SupplierID]').val(ui.item.id);
                    }
                })
            });

            //FOR RECEIVED BY
            var receivedBy = [];

            var receivedByURL = '/Data/HRMSEmployeeList/';
            $.getJSON(receivedByURL, function (data) {

                for (var i = 0; i < data.length; i++) {
                    var obj = {};

                    obj.id = data[i].ID;
                    obj.value = data[i].FirstName + ' ' + data[i].LastName;
                    obj.label = data[i].FirstName + ' ' + data[i].LastName;

                    receivedBy.push(obj);


                    $(".receivedBy").autocomplete({
                        source: receivedBy,
                        select: function (event, ui) {

                            var $this = $(this);
                            $this.parents('.card-header').find('input.receivedByID').val(ui.item.id);
                        }
                    })

                }

            });

        });

    </script>

}