
@{
    ViewBag.Title = "Stocks Entry Page";
}

<div class="row">
    <div class="col-md-10 pt-3">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="tds-tab" data-toggle="tab" href="#tds" role="tab" aria-controls="tds" aria-selected="true">Tools Delivered On Site</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="mds-tab" data-toggle="tab" href="#mds" role="tab" aria-controls="mds" aria-selected="false">Materials Delivered On Site</a>
            </li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="tds" role="tabpanel" aria-labelledby="tds-tab">
                @Html.Action("FormView", "Form", new { pageName = "ItemDelivered", itemType = "tools" })

            </div>
            <div class="tab-pane fade" id="mds" role="tabpanel" aria-labelledby="mds-tab">
                @Html.Action("FormView", "Form", new { pageName = "ItemDelivered", itemType = "materials" })

            </div>
        </div>
    </div>
    <div class="col-md-2 text-center" style="border: 1px solid; padding-top: 20px">
        <small>Panel</small>
    </div>

</div>


@section Scripts{

    <script>
        $(function () {

            //$.ajaxSetup({
            //    async: false
            //});

            //FOR PROJECTS
            var projects = [];

            var projectURL = 'http://124.105.198.3:82/api/v1/dssprojects/1/1000/0';

            $.getJSON(projectURL, function (data) {

                var dat = data.Data;

                for (var i = 0; i < dat.length; i++) {
                    //console.log(dat[i]);

                    var newObj = {};

                    newObj.id = dat[i].ID;
                    newObj.value = dat[i].ProjectName;
                    newObj.label = dat[i].ProjectNumber + ' - ' + dat[i].ProjectName;
                    newObj.projectNo = dat[i].ProjectNumber;

                    projects.push(newObj);
                }

                $(".projectName").autocomplete({
                    source: projects,
                    select: function (event, ui) {

                        var $this = $(this);

                        //console.log(ui.item.id);
                        $this.parents('td').find('input.projectID').val(ui.item.id);
                        $this.parents('table').find('input.projectNumber').val(ui.item.projectNo);
                    }
                });

            });



            //FOR ITEMS
            var items = [];

            var itemURL = 'http://192.168.1.100:89/api/values';

            $.getJSON(itemURL, function (data) {


                for (var i = 0; i < data.length; i++) {

                    var newObj = {};

                    newObj.id = data[i].ID;
                    newObj.value = data[i].Name;
                    newObj.label = data[i].Name;

                    items.push(newObj);

                }


                $('body').on('click', '.items', function () {

                    $(this).autocomplete({
                        source: items,
                        select: function (event, ui) {

                            var $this = $(this);

                            // console.log(ui.item.id);

                            $this.parents('td').find('input.ItemID').val(ui.item.id);
                        }
                    });


                });

                //console.log(items);

            });

        });


        //FOR SUPPLIER
        var suppliers = [];

        var supplierURL = 'http://mcbi-dev:69/vendor/0';

        $.getJSON(supplierURL, function (data) {

            //console.log(data);

            for (var i = 0; i < data.length; i++) {

                var newObj = {};

                newObj.id = data[i].SupplierID;
                newObj.value = data[i].SupplierName;
                newObj.label = data[i].SupplierName;

                suppliers.push(newObj);

            }

            $(".supplier").autocomplete({
                source: suppliers,
                select: function (event, ui) {

                    var $this = $(this);
                    $this.parents('td').find('input.supplierID').val(ui.item.id);
                }
            });

        });


        //$.ajaxSetup({
        //    async: true
        //});


        //SAVE DATA
        $('.save_ItemDelivered').click(function (e) {

            var itemType = $(this).attr('id');
            
            dat = SaveItemDelivered(itemType);

            console.log(dat);
            
            //return;

        });

        //DISCARD DATA
        $('.discard_ItemDelivered').click(function (e) {

            console.log('discard');

        });


        function SaveItemDelivered(itemType) {

            var dat = [];

            var dataItems = [];
            var formName = '.itemDelivered_form_' + itemType;

            var itemEl = '.itemDeliveredItems_' + itemType;

            $(itemEl).each(function () {

                var item = {
                    //ItemID: $(this).find('select.itemDelivered_items').val().toString(),
                    //Qty: $(this).find('input[name=Quantity]').val(),
                    //Units: $(this).find('input[name=Units]').val(),
                    //Remarks: $(this).find('input[name=Remarks]').val(),
                    //isDeleted: 0
                };

                //if (item.ItemID > 0) {
                //  //  dataItems.push(item);
                //}

            });

            //console.log(dataItems);

            var item = {
                "ID": $(formName + ' input[name=ID]').val() || 0,
                //"ItemTypeID": $(formName + ' input[name=ItemTypeID]').val(),
                //"CtrlNumber": $(formName + ' input[name=CtrlNumber]').val(),
                //"Date": $(formName + ' input[name=DeliveredDate]').val().YMDFormat(),
                //"ProjectID": $(formName + ' select#itemDelivered_projectSite').val().toString(),
                //"SupplierID": $(formName + ' select#itemDelivered_supplier').val().toString(),
                //"DeliveryMethod": $(formName + ' select#itemDelivered_DeliveryMethod').val().toString(),
                //"DeliveryReceiptNumber": $(formName + ' input[name=DeliveryReceiptNumber]').val(),
                //"CheckedBy": $(formName + ' select#itemDelivered_checkedBy').val().toString(),
                //"ApprovedBy": $(formName + ' select#itemDelivered_approvedBy').val().toString(),
                "Items": "testing"
            };

            dat.push(item);

            return dat;

        }


    </script>

}
