@{
    ViewBag.Title = "Stock Inquiry Page";
}

@section Styles{

    <link rel="stylesheet" href="~/Content/StockInquiry.css"/>
    
}

    <div class="stock__inquiry__wrapper">
        <div class="inquiry__header">
            <div class="title">
                <h1>Stock Inquiry</h1>
            </div>
            <div class="menu__button">

            </div>
        </div>
        <div class="inquiry__searchBox">
            <div class="input__wrapper">
                <input type="text" name="Search" value="" />
            </div>
            <div class="button__wrapper">
                <button type="button" id="search__btn">Search</button>
            </div>
        </div>
        <div class="inquiry__body">
            <table class="tableitem__table">
                <thead>
                    <tr>
                        <td>No</td>
                        <td>DESCRIPTION</td>
                        <td>UNITS</td>
                        <td>QTY</td>
                        <td>PRICE</td>
                        <td>COND</td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

@section Scripts{

    <script>


        $('#search__btn').on('click', function () {

            var $this = $(this);

            var searchVal = $this.parents('.inquiry__searchBox').find('input[name=Search]').val();

            //console.log(searchVal);

            var searchURL = '/Data/ItemsMasterList/Search?q=' + searchVal;

            $.getJSON(searchURL, function (data) {

                console.log(data);

            });

        });


    </script>


}
