@{
    ViewBag.Title = "Transfer Stock Page";
}

<div class="content-header" id="transferStock_header">
    <div class="row-container" style="padding-left:0; margin-top:0">
        <div class="col">
            <h1 class="title" style="margin:0">Transfer Stocks</h1>
        </div>
        <div class="col">
            <div class="desktop-view" style="text-align: right;">
                <button type="button" class="custom-btn" id="clear_fields">Clear</button>
                <button type="button" class="custom-btn" id="edit_transfer_stock">Edit</button>
                <button type="button" class="custom-btn">Print</button>
            </div>
            <div class="mobile-view">

            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <input type="hidden" name="ID" class="id" value="" />
    <div class="row-container">
        <div class="col" id="col-1">
            <div class="custom-form-group">
                <div style="display:flex">
                    <label style="width:150px">Select New or Post Transfer</label>
                    <select id="transfer_stock_option">
                        <option value="1">NEW STOCK TRANSFER</option>
                        <option value="2">CONFIRM STOCK TRANSFER</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="custom-form-group">
                <div style="display:flex">
                    <label id="seriesNumber" style="width:150px"></label>
                    <input type="text" name="RefNumber" value="" autocomplete="off" />
                </div>
            </div>
        </div>
    </div>
    <div class="row-container">
        <div class="col" id="col-1">
            <fieldset class="scheduler-border" id="origin-fieldset">
                <legend class="scheduler-border">ORIGIN DETAILS</legend>
                <div class="custom-form-group">
                    <div style="display:flex">
                        <label style="width:150px">PROJ NAME</label>
                        <input type="hidden" name="OriginProjectID" class="projectID" id="originProjectID" value="" />
                        <input type="text" name="OriginProjectName" id="origin" class="projects text-ellipsis" value="" />
                    </div>
                </div>
                <div class="custom-form-group">
                    <div style="display:flex">
                        <label style="width:150px">PROJ NO</label>
                        <input type="text" name="OriginProjectNumber" class="projectNumber" value="" readonly />
                    </div>
                </div>
                <div class="custom-form-group">
                    <div style="display:flex">
                        <label style="width:150px">LOCATION</label>
                        <input type="text" name="OriginProjectLocation" value="" readonly />
                    </div>
                </div>
                <div class="custom-form-group">
                    <div style="display:flex">
                        <label style="width:150px">WH INCHARGE</label>
                        <input type="hidden" name="OriginWHInchargeID" class="employeeID" value="" />
                        <input type="text" name="OriginWHIncharge" class="employeeInfo" value="" />
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col" id="col-2">
            <fieldset class="scheduler-border" id="deliveryMethod-fieldset">
                <legend class="scheduler-border">DELIVERY</legend>
                <div class="custom-form-group">
                    <div style="display:flex">
                        <label style="width:150px">DEL METHOD</label>
                        <select style="width:100%" class="delMethodID">
                            <option value="1">DELIVERY TRUCK</option>
                            <option value="2">COURIER</option>
                            <option value="3">MESSENGER</option>
                        </select>
                    </div>
                </div>
                <div class="custom-form-group delMethodAttribute">

                </div>
                <div class="custom-form-group delMethodAttribute">

                </div>
                <div class="custom-form-group delMethodAttribute">

                </div>
            </fieldset>
        </div>
        <div class="col" id="col-3">
            <fieldset class="scheduler-border" id="destination-fieldset">
                <legend class="scheduler-border">DESTINATION</legend>
                <div class="custom-form-group">
                    <div style="display:flex">
                        <label style="width:150px">PROJ NAME</label>
                        <input type="hidden" name="DestinationProjectID" class="projectID" id="destinationProjectID" value="" />
                        <input type="text" name="DestinationProjectName" id="destination" class="projects text-ellipsis" value="" />
                    </div>
                </div>
                <div class="custom-form-group">
                    <div style="display:flex">
                        <label style="width:150px">PROJ NO</label>
                        <input type="text" name="DestinationProjectNumber" class="projectNumber" value="" readonly />
                    </div>
                </div>
                <div class="custom-form-group">
                    <div style="display:flex">
                        <label style="width:150px">LOCATION</label>
                        <input type="text" name="DestinationProjectLocation" value="" readonly />
                    </div>
                </div>
                <div class="custom-form-group">
                    <div style="display:flex">
                        <label style="width:150px">WH INCHARGE</label>
                        <input type="hidden" name="DestinationWHInchargeID" class="employeeID" value="">
                        <input type="text" name="DestinationWHIncharge" class="employeeInfo" value="" />
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="row-container">
        <h3>Enter Items Here</h3>
    </div>
    <div class="table-container">
        <table class="custom-table" cellspacing="0" cellpadding="0" id="transferStockTable">
            <thead>
                <tr>
                    <td>NO</td>
                    <td>ITEM DESCRIPTION</td>
                    <td>UNITS</td>
                    <td>QTY</td>
                    <td>CONDITION</td>
                </tr>
            </thead>
            <tbody id="newTransferStockEntryTbody">
                @for (var i = 1; i <= 10; i++)
                {
                    <tr class="transferStockEntryBody">
                        <td style="text-align:center; width:80px;" class="number">@i</td>
                        <td style="width: 500px;">
                            <input type="text" name="Items" class="items" value="" onkeypress="fnGetItemsByProj(event)" />
                        </td>
                        <td style="width: 130px;">
                            <input type="text" name="Units" class="units" disabled />
                        </td>
                        <td style="width: 130px;">
                            <input type="text" name="Qty" class="qty" disabled />
                        </td>
                        <td style="position:relative;">
                            <input type="text" name="ItemCondition" class="itemCondition" style="text-align:center" onkeypress="fnGetItemCondition(event)" />
                            <i class="fa fa-remove remove-btn" onclick="fnRemoveItem(event)"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="margin-top:15px">
        <button class="custom-btn custom-info-btn" id="add_transferStock_item">
            <i class="fa fa-plus fa-fw"></i> Add
        </button>
    </div>
</div>

<div class="content-footer">
    <div style="width: 100%; text-align:right">
        <button type="button" class="custom-btn custom-save-btn save_transferStock" onclick="fnSaveTransferStock(event)">
            <i class="fa fa-save"></i> Save
        </button>
    </div>

    @*<div class="row-container">
        <div class="col">
            <small>Test</small>
        </div>
        <div class="col">
            <small>Test</small>
        </div>
        <div class="col">
            <small>Test</small>
        </div>
        <div class="col">
            <small>Test</small>
        </div>
        <div class="col">
            <small>Test</small>
        </div>
        <div class="col">
            <small>Test</small>
        </div>
    </div>*@
</div>



<table style="display: none" id="newTransferStockEntryTbodyClone">
    <tr class="">
        <td style="text-align: center; width:80px" class="number"></td>
        <td style="width:500px">
            <input type="text" name="Items" value="" class="items" onkeypress="fnGetItemsByProj(event)" />
        </td>
        <td style="width:130px">
            <input type="text" name="Units" value="" class="units" disabled />
        </td>
        <td style="width:130px">
            <input type="text" name="Qty" value="" class="qty" disabled />
        </td>
        <td style="position: relative">
            <input type="text" name="ItemCondition" value="" class="itemCondition" onkeypress="fnGetItemCondition(event)" disabled />
            <i class="fa fa-remove remove-btn" onclick="fnRemoveItem(event)"></i>
        </td>
    </tr>
</table>

@section Scripts{

    <script>

        $(function () {
            $('.delMethodID').trigger('change');
            $('#transfer_stock_option').trigger('change');

            //CLEAR FIELDS
            $('#clear_fields').on('click', function (e) {

                $(this).closest('.content-header').next().find('input').val('');
            });


            //EDIT TRANSFER STOCK
            $('#edit_transfer_stock').on('click', function (e) {

                //make editable all inputs in the form
                $(this).closest('.content-header').next().find('input, select').removeAttr('disabled');

                //remove the disabled property of save button
                $(this).closest('.content-header').nextAll().find('.save_transferStock').removeAttr('disabled');

                //remove the css inline in parent container
                $(this).closest('.content-header').next().removeAttr('style');

            })
        });


        $('#add_transferStock_item').on('click', function (e) {
            //console.log("Add");

            //return;
            var counter = $('.transferStockEntryBody').find('td.number').length;

            //console.log(counter);

            $('#newTransferStockEntryTbodyClone').find('tr').addClass('transferStockEntryBody');
            $('#newTransferStockEntryTbodyClone').find('td.number').html((counter || 0) + 1);


            $('#newTransferStockEntryTbody').append(

                $('#newTransferStockEntryTbodyClone tbody').html()
            );


            //remove class after insert in tbody
            $('#newTransferStockEntryTbodyClone').find('tr').removeClass('transferStockEntryBody');
            $('#newTransferStockEntryTbodyClone').find('td.number').html("");
        })


        //FOR TRANSFER STOCK OPTION
        $('#transfer_stock_option').on('change', function (e) {

            var $this = $(this);

            if (parseInt($(this).val()) === 1) {
                $('input[name=RefNumber]').removeClass('refNumber');

                $('#seriesNumber').text('Enter Form Series No:');
                $this.parents('.content-body').find('fieldset#origin-fieldset, fieldset#destination-fieldset, fieldset#deliveryMethod-fieldset').find('input, select').removeAttr('disabled');

                //item entry
                $this.parents('.content-body').find('table.custom-table').find('input.items').removeAttr('disabled');

                //change save button prop
                $this.parents('.content-body').next().find('button.save_transferStock').attr('id', 'saveTransferStock');
            }
            else {

                $('input[name=RefNumber]').addClass('refNumber');

                $('#seriesNumber').html('Enter Ref: <small>(Press Enter to Search)</small>');
                $this.parents('.content-body').find('fieldset#origin-fieldset, fieldset#destination-fieldset, fieldset#deliveryMethod-fieldset').find('input, select').attr('disabled', true);

                //item entry
                $this.parents('.content-body').next('div').find('table.custom-table').find('input.items').attr('disabled', true);

                //change save button prop
                $this.parents('.content-body').next().find('button.save_transferStock').attr('id', 'confirmTransferStock');
            }
        });

        //GET TRANSFER STOCKS BY REFNUMBER
        $(document).on('keyup', '.refNumber', function (e) {

            var $this = $(this);

            if (e.keyCode === 13) {
                // Do something

                var link = '/Data/TransMasterlist/SearchByReference?q=' + $(this).val();

                //console.log(link);

                $.getJSON(link, function (data) {

                    if (data === null) {
                        swal.fire('Warning', 'No found data', 'warning');
                    }

                    else {

                        console.log(data);

                        $this.parents('.content-body').find('.card-body').find('input').val('');
                        $this.parents('.content-body').find('input[name=ID]').val(data.ID);

                        //ORIGIN
                        $this.parents('.content-body').find('input[name=OriginProjectID]').val(data.TransInfoOrigin.ProjectID_EnggDB);
                        $this.parents('.content-body').find('input[name=OriginProjectName]').val(data.TransInfoOrigin.ProjectInfo.ProjectName)
                        $this.parents('.content-body').find('input[name=OriginProjectNumber]').val(data.TransInfoOrigin.ProjectInfo.ProjectNumber)
                        $this.parents('.content-body').find('input[name=OriginWHInchargeID]').val(data.TransInfoOrigin.WHInchargeID_HrmsDB);
                        $this.parents('.content-body').find('input[name=OriginWHIncharge]').val((data.TransInfoOrigin.WHInchargeInfo.FirstName + ' ' + data.TransInfoOrigin.WHInchargeInfo.LastName));


                        //DESTINATION
                        $this.parents('.content-body').find('input[name=DestinationProjectID]').val(data.TransInfoDestination.ProjectID_EnggDB);
                        $this.parents('.content-body').find('input[name=DestinationProjectName]').val(data.TransInfoDestination.ProjectInfo.ProjectName)
                        $this.parents('.content-body').find('input[name=DestinationProjectNumber]').val(data.TransInfoDestination.ProjectInfo.ProjectNumber)
                        $this.parents('.content-body').find('input[name=DestinationWHInchargeID]').val(data.TransInfoDestination.WHInchargeID_HrmsDB);
                        $this.parents('.content-body').find('input[name=DestinationWHIncharge]').val((data.TransInfoDestination.WHInchargeInfo.FirstName + ' ' + data.TransInfoDestination.WHInchargeInfo.LastName));

                        //DELIVERY METHOD
                        $this.parents('.content-body').find('select.delMethodID').val(data.DeliveryMethod.ID).trigger('change');

                        for (var d = 0; d < data.TransInfoDelMetAttrValue.length; d++) {

                            var delMethodAttr = data.TransInfoDelMetAttrValue[d];

                            //console.log(data.TransInfoDelMetAttrValue[d]);

                            $this.parents('.content-body').find('.deliveryMethodAttr').eq(d).val(delMethodAttr.AttributeValue).attr('disabled', true);
                        }



                        //STOCK ENTRY
                        $.ajaxSetup({
                            async: false
                        });
                        for (var i = 0; i < data.TransItemEntryList.length; i++) {

                            var entry = data.TransItemEntryList[i];

                            //for item name
                            var itemLink = '/Data/ItemsMasterList/' + entry.ItemID_011;
                            $.getJSON(itemLink, function (itemResponse) {
                                if (itemResponse !== null) {
                                    $this.parents('.content-body').find('.transferStockEntryBody').eq(i).find('input[name=Items]').val(itemResponse.ItemFullNameInfo.Name).attr('data-val', itemResponse.ItemFullNameInfo.ItemID_011);
                                }
                            })


                            // for units
                            var unitLink = '/Data/units/' + entry.UnitsID_009;
                            $.getJSON(unitLink, function (unitResponse) {
                                if (unitResponse !== null) {
                                    $this.parents('.content-body').find('.transferStockEntryBody').eq(i).find('input[name=Units]').val(unitResponse.ShortName).attr('data-val', unitResponse.ID);
                                }
                            });


                            //for quantity
                            //$this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=Qty]').val(entry.Quantity);
                            $this.parents('.content-body').find('.transferStockEntryBody').eq(i).find('input[name=Qty]').removeAttr('disabled');

                            8
                            //for item condition
                            var itemConditionLink = '/Data/itemcondition/' + entry.ItemCondID_018;
                            $.getJSON(itemConditionLink, function (itemConditionResponse) {
                                if (itemConditionResponse !== null) {
                                    $this.parents('.content-body').find('.transferStockEntryBody').eq(i).find('input[name=ItemCondition]').val(itemConditionResponse.StatusName).attr('data-val', itemConditionResponse.ID);
                                }
                            });

                        }
                        $.ajaxSetup({
                            async: true
                        });

                    }

                });
            }

        });


        //SAVE TRANSFER STOCK
        function fnSaveTransferStock(event) {

            event.preventDefault();
            var $this = $(event.target);

            //FOR TRANSFER DELIVERY METHOD
            var transDelMethodList = [];
            $this.parents('.content-footer').prev().find('.deliveryMethodAttr').each(function () {

                var obj = {
                    ID: 0,
                    TransMasterID_021: 0,
                    DeliveryAttrID_008: $(this).attr('data-id'),
                    AttributeValueID: $this.parents('.content-body').find('.delMethodID').val(),
                    AttributeValue: $(this).val(),
                    isDestination: false
                };

                if (obj.AttributeValue !== "") {
                    transDelMethodList.push(obj);
                }
            });

            //FOR TRANSFER ITEM ENTRY
            var transItemEntry = [];
            $this.parents('.content-footer').prev().find('.transferStockEntryBody').each(function () {

                var obj = {
                    ID: 0,
                    TransMasterID_021: 0,
                    ItemID_011: $(this).find('input[name=Items]').attr('data-val') || 0,
                    UnitID_009: $(this).find('input[name=Units]').attr('data-val') || 0,
                    ItemConditionID_018: $(this).find('input[name=ItemCondition]').attr('data-val') || 0,
                    Quantity: $(this).find('input[name=Qty]').val() || 0,
                };

                if (obj.ItemID_011 !== 0) {
                    transItemEntry.push(obj);
                }
            });


            var entry = '';
            var url = '';

            if ($this.attr('id') === 'saveTransferStock') {

                url = '/Data/TransMasterList';

                //SAVE TRANSFER STOCKS DATA
                var saveTransferEntry = {
                    ID: $this.parents('.content-footer').prev().find('input[name=ID]').val() || 0,
                    ReferenceNumber: '',
                    HardSeriesNumber: $this.parents('.content-footer').prev().find('input[name=RefNumber]').val(),
                    TransInfoOrigin: {
                        ID: 0,
                        TransMasterID_021: 0,
                        ProjectID_EnggDB: $this.parents('.content-footer').prev().find('input[name=OriginProjectID]').val() || 0,
                        WHInchargeID_HrmsDB: $this.parents('.content-footer').prev().find('input[name=OriginWHInchargeID]').val() || 0
                    },
                    TransInfoDestination: {
                        ID: 0,
                        TransMasterID_021: 0,
                        ProjectID_EnggDB: $this.parents('.content-footer').prev().find('input[name=DestinationProjectID]').val() || 0,
                        WHInchargeID_HrmsDB: $this.parents('.content-footer').prev().find('input[name=DestinationWHInchargeID]').val() || 0
                    },
                    TransInfoDelMetAttrValue: transDelMethodList,
                    TransItemEntryList: transItemEntry
                };

                entry = saveTransferEntry;
            }
            else {
                url = '/Data/TransMasterList/ConfirmReceive';

                var confirmTransferEntry = {
                    ID: $this.parents('.content-footer').prev().find('input[name=ID]').val() || 0,
                    ReferenceNumber: 'N/A',
                    HardSeriesNumber: 0,
                    isCancelled: true,
                    cancelReason: "N/A",
                    TransItemReceivedList: transItemEntry
                };

                entry = confirmTransferEntry;

            }

            console.log(entry);

            return;

            $.ajax({
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json"
                },
                type: 'post',
                url: url,
                dataType: 'json',
                data: JSON.stringify(entry),
                contentType: "application/json",
                success: function (response) {

                    if ($this.attr('id') === 'saveTransferStock') {
                        console.log(response);

                        if (response.RetVal === 1) {

                            var msg = JSON.parse(response.Message);

                            //console.log(msg);

                            swal.fire('Success', msg.Info, 'success');

                            $this.parents('.content-footer').prev().css({ "pointer-events": "none" });
                            $this.parents('.content-footer').prev().find('input, select').attr('disabled', true);
                            $this.attr('disabled', true)

                            $this.parents('.content-footer').prev().find('#seriesNumber').text('Reference Number:');
                            $this.parents('.content-footer').prev().find('input[name=RefNumber]').val(msg.ReferenceNumber);

                        }
                        else {
                            swal.fire('Error', response.Message, 'error');
                        }
                    }

                    else {
                        console.log(response);
                        if (response.RetVal === 1) {
                            var msg = JSON.parse(response.Message);

                            swal.fire('Success', msg.Info, 'success');
                        }
                        else {
                            swal.fire('Error', response.Message, 'error');
                        }
                    }


                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }

                    swal.fire('Error', msg, 'error');
                },
            });

        }

        //EMPLOYEE AUTOCOMPLETE
        var emp = [];
        var empURL = '/Data/HRMSEmployeeList';

        $.getJSON(empURL, function (data) {
            for (var i = 0; i < data.length; i++) {
                var obj = {};

                obj.id = data[i].ID;
                obj.value = data[i].FirstName + ' ' + data[i].LastName;
                obj.label = data[i].FirstName + ' ' + data[i].LastName;

                emp.push(obj);


                $(".employeeInfo").autocomplete({
                    source: emp,
                    select: function (event, ui) {

                        $(this).closest('.custom-form-group').find('input.employeeID').val(ui.item.id);
                    }
                })
            }
        });


        //PROJECT AUTOCOMPLETE
        var proj = [];
        var projURL = '/Data/ENGProjectList';

        $.getJSON(projURL, function (data) {

            //var dat = data.Data;

            for (var i = 0; i < data.length; i++) {

                var newObj = {};

                newObj.id = data[i].ID;
                newObj.value = data[i].ProjectName;
                newObj.label = data[i].ProjectNumber + '-' + data[i].ProjectName;
                newObj.projectNo = data[i].ProjectNumber;

                proj.push(newObj);

            }

            $(".projects").autocomplete({
                source: proj,
                select: function (event, ui) {

                    //if ($this.attr('id') === 'origin') {
                    //    $(this).parents('.card').find('table').find('input').val('');
                    //}

                    $(this).closest('.custom-form-group').find('input.projectID').val(ui.item.id);

                    $(this).closest('fieldset').find('input.projectNumber').val(ui.item.projectNo);
                }
            });
        });

        //RECENT TRANSFER STOCK ENTRY TRANSACTIONS
        //var tranferStockURL = 'http://localhost:63666/Data/TransMasterlist';
        //$.getJSON(tranferStockURL, function (data) {

        //    //var confirmStock = [];
        //    //var pendingStock = [];

        //    //for (var i = 0; i < data.length; i++) {
        //    //     console.log(data[i]);
        //    //}

           
        //});

    </script>

}