@{
    ViewBag.Title = "Transfer Stocks Page";
}

<div class="row">
    <div class="col-md-12" id="title-header">
        <div class="card custom-card border-0">
            <div class="card-header" style="border-bottom: none">
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-left">
                            <h1>Transfer Stocks</h1>
                        </div>
                        <div class="float-right">
                            <button class="btn btn-light btn-sm" id="clear_fields">Clear</button>
                            <button class="btn btn-success btn-sm" id="edit_transfer_stock">Edit</button>
                            <a target="_blank" href="@Url.Action("Print", "Stocks", new { pageName = "PrintTransferStock", id = 0 })" class="btn btn-success btn-sm">Print</a>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card custom-card">
            <input type="hidden" name="ID" value="" />
            <div class="card-header">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Select New or Post Transfer</label>
                            <select class="form-control shadow-none" id="transfer_stock_option">
                                <option value="1">NEW STOCK TRANSFER</option>
                                <option value="2">CONFIRM STOCK TRANSFER</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label id="seriesNumber"></label>
                            <input type="text" name="RefNumber" class="form-control shadow-none" id="" value="" autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="scheduler-border" id="origin-fieldset">
                                    <legend class="scheduler-border">ORIGIN DETAILS</legend>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>PROJ NAME</label>:
                                                    <input type="hidden" name="OriginProjectID" class="projectID" id="originProjectID" value="" />
                                                    <input type="text" name="OriginProjectName" id="origin" class="form-control form-control-sm projects text-ellipsis shadow-none" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>PROJ NO</label>:
                                                    <input type="text" name="OriginProjectNumber" class="form-control form-control-sm projectNumber shadow-none" value="" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>LOCATION</label>:
                                                    <input type="text" name="OriginLocation" class="form-control form-control-sm shadow-none" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label style="font-size:.9vw">WH INCHARGE</label>:
                                                    <input type="hidden" name="OriginWHInchargeID" class="employeeID" value="" />
                                                    <input type="text" name="OriginWHIncharge" class="form-control form-control-sm employeeInfo shadow-none" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="scheduler-border" id="delivery_method">
                                    <legend class="scheduler-border">DELIVERY</legend>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>DEL METHOD</label>:
                                                    <select class="form-control form-control-sm delMethodID">
                                                        <option value="1">DELIVERY TRUCK</option>
                                                        <option value="2">COURIER</option>
                                                        <option value="3">MESSENGER</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container delMethodAttribute">
                                                    @*<label></label>*@:
                                                    @*<select class="form-control form-control-sm d-none" name="DeliveryMethodAttr" id="courierName"></select>
                                                        <input type="text" name="DeliveryMethodAttr" value="" class="form-control form-control-sm shadow-none" disabled />*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container delMethodAttribute">
                                                    @*<label></label>*@:
                                                    @*<input type="text" name="DeliveryMethodAttr" value="" class="form-control form-control-sm shadow-none" disabled />*@
                                                    @*<select class="form-control form-control-sm shadow-none" id="courierName"></select>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container delMethodAttribute">
                                                    @*<label></label>*@:
                                                    @*<select class="form-control form-control-sm" name="DeliveryMethodAttr" id="vehicleType" disabled></select>*@
                                                    @*<input type="text" name="DeliveryMethodAttr" value="" class="form-control form-control-sm shadow-none" disabled />*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="scheduler-border" id="destination-fieldset">
                                    <legend class="scheduler-border">DESTINATION</legend>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>PROJ NAME</label>:
                                                    <input type="hidden" name="DestinationProjectID" class="projectID" id="destinationProjectID" value="" />
                                                    <input type="text" name="DestinationProjectName" id="destination" class="form-control form-control-sm projects text-ellipsis shadow-none" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>PROJ NO</label>:
                                                    <input type="text" name="DestinationProjectNumber" class="form-control form-control-sm projectNumber shadow-none" value="" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label>LOCATION</label>:
                                                    <input type="text" name="DestinationLocation" class="form-control form-control-sm shadow-none" value="" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-form-group">
                                                <div class="d-flex table-entry-header-container">
                                                    <label style="font-size:.9vw">WH INCHARGE</label>:
                                                    <input type="hidden" name="DestinationWHInchargeID" class="employeeID" value="" />
                                                    <input type="text" name="DestinationWHIncharge" class="form-control form-control-sm employeeInfo shadow-none" value="" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="float-left">
                            <h3>Enter Items Here</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-1" id="transferStock_cardBody">
                @*<fieldset class="scheduler-border">
                        <legend class="scheduler-border">TRANSFER STOCKS</legend>
                    </fieldset>*@

                <div class="table-responsive">
                    <table class="custom-table" style="width: 100%; border: 1px solid white" id="transferStockEntry">
                        <thead>
                            <tr style="background: #4ECB4A; height: 50px; border: 1px solid white" class="text-white">
                                <th class="text-center" style="font-size: 23px">NO.</th>
                                <th class="text-center" style="font-size: 23px">ITEM DESCRIPTION</th>
                                <th class="text-center" style="font-size: 23px">UNITS</th>
                                <th class="text-center" style="font-size: 23px">QTY</th>
                                <th class="text-center" style="font-size: 23px">CONDITION</th>
                            </tr>
                        </thead>

                        <tbody class="" id="newTransferStockEntryTbody">
                            @for (var i = 1; i <= 10; i++)
                            {
                                <tr class="transferStockEntryBody">
                                    <td style="border-left:1px solid white; border-right: 1px solid white; width:80px" class="text-center number">@i</td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white;width:500px">
                                        <input type="text" name="Items" value="" class="text-center items transferStock_items" onkeypress="GetItemsByProj(event)" />
                                    </td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white;width:130px">
                                        <input type="text" name="Units" value="" class="text-center units" disabled />
                                    </td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white; width:130px">
                                        <input type="text" name="Qty" value="" class="text-center qty" disabled />
                                    </td>
                                    <td style="border-left:1px solid white; border-right: 1px solid white">
                                        <input type="text" name="ItemCondition" value="" class="text-center itemCondition" onkeypress="fnGetItemCondition(event)" />
                                        <i class="fa fa-remove text-danger" style="position:absolute; cursor:pointer;right:-15px;" onclick="fnRemoveTransferStockItem(event)"></i>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-sm mt-2 btn-info" id="add_transferStock_item"><i class="fa fa-plus"></i> Add</button>

            </div>
            <div class="card-footer">
                <div class="float-left">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="input-group-text btn btn-sm" type="button">Upload</button>
                        </div>
                        <input type="file" class="form-control">
                    </div>
                </div>
                <div class="float-right">
                    <button class="btn btn-success shadow-none save_transferStock" id="" type="submit" style="padding:10px;">SAVE</button>
                </div>
            </div>
        </div>
    </div>

</div>



<table style="display: none" id="newTransferStockEntryTbodyClone">
    <tr class="">
        <td style="border-left:1px solid white; border-right: 1px solid white; width:80px" class="text-center number"></td>
        <td style="border-left:1px solid white; border-right: 1px solid white;width:500px">
            <input type="text" name="Items" value="" class="text-center items" onkeypress="GetItemsByProj(event)" />
        </td>
        <td style="border-left:1px solid white; border-right: 1px solid white;width:130px">
            <input type="text" name="Units" value="" class="text-center units" disabled />
        </td>
        <td style="border-left:1px solid white; border-right: 1px solid white; width:130px">
            <input type="text" name="Qty" value="" class="text-center qty" disabled />
        </td>
        <td style="border-left:1px solid white; border-right: 1px solid white;">
            <input type="text" name="ItemCondition" value="" class="text-center itemCondition" onkeypress="fnGetItemCondition(event)" />
            <i class="fa fa-remove text-danger" style="position:absolute; cursor:pointer;right:-15px;" onclick="fnRemoveTransferStockItem(event)"></i>
        </td>
    </tr>
</table>



@section Scripts{

    <script>

        //ON CHANGE ITEMS IN TRANSFER STOCKS
        //$('.transferStock_items').on('change', function (e) {
        //    console.log($this.val());
        //});

        //TRIGGER ONCHANGE DELIVERY METHOD
        $(function () {

            $('.delMethodID').trigger('change');
            $('#transfer_stock_option').trigger('change');
        })


        //CLEAR FIELDS
        $('#clear_fields').on('click', function (e) {

            $(this).closest('#title-header').next().find('.card').find('input').val('');
        });


        //EDIT TRANSFER STOCK
        $('#edit_transfer_stock').on('click', function (e) {

            //make editable all inputs in the form
            $(this).closest('#title-header').next().find('.card').find('input').removeAttr('disabled');

            //remove the disabled property of save button
            $(this).closest('#title-header').next().find('.card').find('.save_transferStock').removeAttr('disabled');

            //remove the css inline in parent container
            $(this).closest('#title-header').next().find('.card').removeAttr('style');

        })


        //SAVE TRANSFER STOCK
        function fnSaveTransferStock(event) {

            event.preventDefault();
            var $this = $(event.target);

            //FOR TRANSFER DELIVERY METHOD
            var transDelMethodList = [];
            $this.parents('.card').find('.deliveryMethodAttr').each(function () {

                var obj = {
                    ID: 0,
                    TransMasterID_021: 0,
                    DeliveryAttrID_008: $(this).attr('data-id'),
                    AttributeValueID: $this.parents('.card').find('.delMethodID').val(),
                    AttributeValue: $(this).val(),
                    isDestination: false
                };

                if (obj.AttributeValue !== "") {
                    transDelMethodList.push(obj);
                }
            });

            //FOR TRANSFER ITEM ENTRY
            var transItemEntry = [];
            $this.parents('.card').find('.transferStockEntryBody').each(function () {

                var obj = {
                    ID: 0,
                    TransMasterID_021: 0,
                    ItemID_011: $(this).find('input[name=Items]').attr('data-val') || 0,
                    UnitID_009: $(this).find('input[name=Units]').attr('data-val') || 0,
                    ItemConditionID_018: $(this).find('input[name=ItemCondition]').attr('data-val') || 0,
                    Quantity: $(this).find('input[name=Qty]').val() || 0,
                };

                if (obj.ItemID_011 !== 0) {
                    transItemEntry.push(obj);
                }
            });


            var entry = '';
            var url = '';

            if ($this.attr('id') === 'saveTransferStock') {

                url = 'http://124.105.198.3:90/api/TransMasterList';

                //SAVE TRANSFER STOCKS DATA
                var saveTransferEntry = {
                    ID: $this.parents('.card').find('input[name=ID]').val() || 0,
                    ReferenceNumber: '',
                    HardSeriesNumber: $this.parents('.card').find('input[name=RefNumber]').val(),
                    TransInfoOrigin: {
                        ID: 0,
                        TransMasterID_021: 0,
                        ProjectID_EnggDB: $this.parents('.card').find('input[name=OriginProjectID]').val() || 0,
                        WHInchargeID_HrmsDB: $this.parents('.card').find('input[name=OriginWHInchargeID]').val() || 0
                    },
                    TransInfoDestination: {
                        ID: 0,
                        TransMasterID_021: 0,
                        ProjectID_EnggDB: $this.parents('.card').find('input[name=DestinationProjectID]').val() || 0,
                        WHInchargeID_HrmsDB: $this.parents('.card').find('input[name=DestinationWHInchargeID]').val() || 0
                    },
                    TransInfoDelMetAttrValue: transDelMethodList,
                    TransItemEntryList: transItemEntry
                };

                entry = saveTransferEntry;
            }
            else {
                url = 'http://124.105.198.3:90/api/TransMasterList/ConfirmReceive';

                var confirmTransferEntry = {
                    ID: $this.parents('.card').find('input[name=ID]').val() || 0,
                    ReferenceNumber: 'N/A',
                    HardSeriesNumber: 0,
                    isCancelled: true,
                    cancelReason: "N/A",
                    TransItemReceivedList: transItemEntry
                };

                entry = confirmTransferEntry;

            }

            //console.log(url);
            console.log(entry);

            //return;

            $.ajax({
                headers: {
                    Accept: "application/json",
                    "Content-Type": "application/json"
                },
                type: 'post',
                url: url,
                dataType: 'json',
                data: JSON.stringify(entry),
                contentType: "application/json",
                success: function (response) {

                    if ($this.attr('id') === 'saveTransferStock') {
                        console.log(response);

                        if (response.RetVal === 1) {

                            var msg = JSON.parse(response.Message);

                            //console.log(msg);

                            swal.fire('Success', msg.Info, 'success');

                            $this.parents('.card').css({ "pointer-events": "none" });
                            $this.parents('.card').find('input').attr('disabled', true);
                            $this.attr('disabled', true)

                            $this.parents('.card').find('#seriesNumber').text('Reference Number:');
                            $this.parents('.card').find('input[name=RefNumber]').val(msg.ReferenceNumber);

                        }
                        else {
                            swal.fire('Error', response.Message, 'error');
                        }
                    }

                    else {
                        console.log(response);
                        if (response.RetVal === 1) {
                            var msg = JSON.parse(response.Message);

                            swal.fire('Success', msg.Info, 'success');
                        }
                        else {
                            swal.fire('Error', response.Message, 'error');
                        }
                    }


                },
                error: function (jqXHR, exception) {
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }

                    swal.fire('Error', msg, 'error');
                },
            });

        }


        //EMPLOYEE AUTOCOMPLETE
        var emp = [];
        var empURL = 'http://124.105.198.3:90/api/HRMSEmployeeList';

        $.getJSON(empURL, function (data) {
            for (var i = 0; i < data.length; i++) {
                var obj = {};

                obj.id = data[i].ID;
                obj.value = data[i].FirstName + ' ' + data[i].LastName;
                obj.label = data[i].FirstName + ' ' + data[i].LastName;

                emp.push(obj);


                $(".employeeInfo").autocomplete({
                    source: emp,
                    select: function (event, ui) {

                        var $this = $(this);
                        $this.closest('.table-entry-header-container').find('input.employeeID').val(ui.item.id);
                    }
                })
            }
        });


        //PROJECT AUTOCOMPLETE
        var proj = [];
        var projURL = 'http://124.105.198.3:90/api/ENGProjectList';

        $.getJSON(projURL, function (data) {

            //var dat = data.Data;

            for (var i = 0; i < data.length; i++) {

                var newObj = {};

                newObj.id = data[i].ID;
                newObj.value = data[i].ProjectName;
                newObj.label = data[i].ProjectNumber + '-' + data[i].ProjectName;
                newObj.projectNo = data[i].ProjectNumber;

                proj.push(newObj);

            }

            $(".projects").autocomplete({
                source: proj,
                select: function (event, ui) {

                    var $this = $(this);

                    //console.log($this.attr('id'));

                    if ($this.attr('id') === 'origin') {
                        $(this).parents('.card').find('table').find('input').val('');
                    }

                    $this.closest('.table-entry-header-container').find('input.projectID').val(ui.item.id);

                    $this.closest('.col-md-12').next().find('input.projectNumber').val(ui.item.projectNo);
                }
            });
        });


        //ADD NEW ROW IN STOCK TRANSFER ITEM
        $('#add_transferStock_item').on('click', function (e) {
            //console.log("Add");

            var counter = $('.transferStockEntryBody').find('td.number').length;

            //console.log(counter);

            $('#newTransferStockEntryTbodyClone').find('tr').addClass('transferStockEntryBody');
            $('#newTransferStockEntryTbodyClone').find('td.number').html((counter || 0) + 1);


            $('#newTransferStockEntryTbody').append(

                $('#newTransferStockEntryTbodyClone tbody').html()
            );


            //remove class after insert in tbody
            $('#newTransferStockEntryTbodyClone').find('tr').removeClass('transferStockEntryBody');
            $('#newTransferStockEntryTbodyClone').find('td.number').html("");
        })

        //REMOVE STOCK TRANSFER ITEM ROW
        function fnRemoveTransferStockItem(event) {

            var $this = $(event.target);

            $($this).parents('tr').remove();

            var counter = $('.transferStockEntryBody').find('td.number').length;


            if (counter > 0) {
                for (var i = 0; i < counter; i++) {
                    $('.transferStockEntryBody').find('td.number').eq(i).html(i + 1);
                }
            }
        }

        //FOR TRANSFER STOCK OPTION
        $('#transfer_stock_option').on('change', function (e) {

            var $this = $(this);

            if (parseInt($(this).val()) === 1) {
                $('input[name=RefNumber]').removeClass('refNumber');

                $('#seriesNumber').text('Enter Form Series No:');
                $this.parents('.card').find('fieldset#origin-fieldset, fieldset#destination-fieldset, fieldset#delivery_method').find('input, select').removeAttr('disabled');

                //item entry
                $this.parents('.card').find('table.custom-table').find('input.items').removeAttr('disabled');

                //change save button prop
                $this.parents('.card').find('button.save_transferStock').attr('id', 'saveTransferStock');
            }
            else {

                $('input[name=RefNumber]').addClass('refNumber');

                $('#seriesNumber').html('Enter Ref: <small>(Press Enter to Search)</small>');
                $this.parents('.card').find('fieldset#origin-fieldset, fieldset#destination-fieldset, fieldset#delivery_method').find('input, select').attr('disabled', true);

                //item entry
                $this.parents('.card').find('table.custom-table').find('input.items').attr('disabled', true);

                //change save button prop
                $this.parents('.card').find('button.save_transferStock').attr('id', 'confirmTransferStock');
            }
        });


        //GET TRANSFER STOCKS BY REFNUMBER
        $(document).on('keyup', '.refNumber', function (e) {

            var $this = $(this);

            if (e.keyCode === 13) {
                // Do something

                var link = 'http://192.168.1.100:90/api/TransMasterlist/SearchByReference?q=' + $(this).val();

                //console.log(link);

                $.getJSON(link, function (data) {

                    if (data === null) {
                        swal.fire('Warning', 'No found data', 'warning');
                    }

                    else {

                        //console.log(data);

                        $this.parents('.card').find('.card-body').find('input').val('');

                        $this.parents('.card').find('input[name=ID]').val(data.ID);

                        //ORIGIN
                        $this.parents('.card').find('input[name=OriginProjectID]').val(data.TransInfoOrigin.ProjectID_EnggDB);
                        $this.parents('.card').find('input[name=OriginProjectName]').val(data.TransInfoOrigin.ProjectInfo.ProjectName)
                        $this.parents('.card').find('input[name=OriginProjectNumber]').val(data.TransInfoOrigin.ProjectInfo.ProjectNumber)
                        $this.parents('.card').find('input[name=OriginWHInchargeID]').val(data.TransInfoOrigin.WHInchargeID_HrmsDB);
                        $this.parents('.card').find('input[name=OriginWHIncharge]').val((data.TransInfoOrigin.WHInchargeInfo.FirstName + ' ' + data.TransInfoOrigin.WHInchargeInfo.LastName));

                        //DESTINATION
                        $this.parents('.card').find('input[name=DestinationProjectID]').val(data.TransInfoDestination.ProjectID_EnggDB);
                        $this.parents('.card').find('input[name=DestinationProjectName]').val(data.TransInfoDestination.ProjectInfo.ProjectName)
                        $this.parents('.card').find('input[name=DestinationProjectNumber]').val(data.TransInfoDestination.ProjectInfo.ProjectNumber)
                        $this.parents('.card').find('input[name=DestinationWHInchargeID]').val(data.TransInfoDestination.WHInchargeID_HrmsDB);
                        $this.parents('.card').find('input[name=DestinationWHIncharge]').val((data.TransInfoDestination.WHInchargeInfo.FirstName + ' ' + data.TransInfoDestination.WHInchargeInfo.LastName));

                        //DELIVERY METHOD
                        $this.parents('.card').find('select.delMethodID').val(data.DeliveryMethod.ID).trigger('change');

                        for (var d = 0; d < data.TransInfoDelMetAttrValue.length; d++) {

                            var delMethodAttr = data.TransInfoDelMetAttrValue[d];

                            //console.log(data.TransInfoDelMetAttrValue[d]);

                            $this.parents('.card').find('.deliveryMethodAttr').eq(d).val(delMethodAttr.AttributeValue).attr('disabled', true);
                        }



                        //STOCK ENTRY
                        $.ajaxSetup({
                            async: false
                        });
                        for (var i = 0; i < data.TransItemEntryList.length; i++) {

                            var entry = data.TransItemEntryList[i];

                            //for item name
                            var itemLink = 'http://124.105.198.3:90/api/ItemsMasterList/' + entry.ItemID_011;
                            $.getJSON(itemLink, function (itemResponse) {
                                if (itemResponse !== null) {
                                    $this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=Items]').val(itemResponse.ItemFullNameInfo.Name).attr('data-val', itemResponse.ItemFullNameInfo.ItemID_011);
                                }
                            })


                            // for units
                            var unitLink = 'http://124.105.198.3:90/api/units/' + entry.UnitsID_009;
                            $.getJSON(unitLink, function (unitResponse) {
                                if (unitResponse !== null) {
                                    $this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=Units]').val(unitResponse.ShortName).attr('data-val', unitResponse.ID);
                                }
                            });


                            //for quantity
                            //$this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=Qty]').val(entry.Quantity);
                            $this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=Qty]').removeAttr('disabled');


                            //for item condition
                            var itemConditionLink = 'http://124.105.198.3:90/api/itemcondition/' + entry.ItemCondID_018;
                            $.getJSON(itemConditionLink, function (itemConditionResponse) {
                                if (itemConditionResponse !== null) {
                                    $this.parents('.card').find('.transferStockEntryBody').eq(i).find('input[name=ItemCondition]').val(itemConditionResponse.StatusName).attr('data-val', itemConditionResponse.ID);
                                }
                            });

                        }
                        $.ajaxSetup({
                            async: true
                        });

                    }

                });
            }

        });

    </script>

}