@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Transfer Stock Print</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <style>
        body{
            background: #fff;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <small>Print Page</small>
    </div>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>

