@{ 
    ViewBag.Title = "Inventory Page";
}

<div class="content-header">
    Content Header
</div>
<div class="content-body">
    Content Body
</div>
<div class="content-footer">
    Content Footer
</div>
